{
    "openapi": "3.0.0",
    "info": {
        "title": "LumoAuth API",
        "description": "LumoAuth REST API — authentication, authorization, agent registry,\nMCP server authorization, and tenant administration. Multi-tenant:\nmost paths are scoped under `/orgs/{orgId}/api/v1/...`.\n",
        "contact": {
            "name": "LumoAuth",
            "url": "https://lumoauth.dev",
            "email": "sdk@lumoauth.dev"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://app.lumoauth.dev",
            "description": "Production"
        },
        {
            "url": "http://localhost:8000",
            "description": "Local"
        }
    ],
    "paths": {
        "/orgs/{orgId}/api/v1/aauth/agent/token": {
            "post": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Agent Token Endpoint",
                "description": "Per Section 9: The agent token endpoint is the auth server's endpoint\nagents use to request auth tokens.\n\nRequired HTTP signature covering: @method, @target-uri, content-type,\ncontent-digest, authorization",
                "operationId": "issueAgentToken",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IssueAgentTokenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "An auth token, or a request token + authorization URI when user consent is needed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IssueAgentTokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request (missing/unknown request_type, invalid body, invalid resource/redirect)."
                    },
                    "401": {
                        "description": "Agent-Auth challenge — missing/invalid Agent-Auth header, signature, or agent token."
                    },
                    "429": {
                        "description": "Rate limit exceeded."
                    }
                },
                "x-symfony-route": "aauth_agent_token",
                "security": [
                    {
                        "AAuthSigned": []
                    }
                ]
            }
        },
        "/orgs/{orgId}/api/v1/aauth/agent/auth": {
            "get": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Agent Auth Endpoint - redirects to user consent page.",
                "description": "Per Section 9.4: The auth server redirects the user's browser\nto its authorization page.",
                "operationId": "authorizeAgent",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "302": {
                        "description": "Redirect to the tenant portal AAuth consent page for the given request_token.",
                        "headers": {
                            "Location": {
                                "description": "/orgs/{orgId}/portal/aauth/authorize?request_token=…",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing request_token query parameter."
                    }
                },
                "x-symfony-route": "aauth_agent_auth",
                "security": [
                    {
                        "AAuthSigned": []
                    }
                ]
            }
        },
        "/orgs/{orgId}/api/v1/aauth/agent/issue": {
            "post": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Issue an agent token to a delegate.",
                "description": "Called by the agent server when a delegate needs to act on its behalf.\n\nThis endpoint requires the agent server to authenticate itself\n(via HTTP signature with its registered key).",
                "operationId": "issueDelegateToken",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IssueDelegateTokenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The issued agent token and its metadata.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IssueDelegateTokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid JSON body, or missing delegate_sub / delegate_public_key."
                    },
                    "401": {
                        "description": "Agent server HTTP-message-signature verification failed."
                    },
                    "429": {
                        "description": "Rate limit exceeded."
                    }
                },
                "x-symfony-route": "aauth_agent_issue",
                "security": [
                    {
                        "AAuthSigned": []
                    }
                ]
            }
        },
        "/orgs/{orgId}/api/v1/aauth/token/revoke": {
            "post": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Revoke an auth token or refresh token.",
                "operationId": "revokeAgentToken",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RevokeAgentTokenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Revocation acknowledged (always 200 — existence of the token is not disclosed).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RevokeAgentTokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing token parameter."
                    },
                    "401": {
                        "description": "Agent-Auth challenge — authentication/signature verification failed."
                    },
                    "429": {
                        "description": "Rate limit exceeded."
                    }
                },
                "x-symfony-route": "aauth_token_revoke",
                "security": [
                    {
                        "AAuthSigned": []
                    }
                ]
            }
        },
        "/orgs/{orgId}/api/v1/.well-known/aauth-issuer": {
            "get": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Auth Server Metadata (Section 8.2)\nPublished at /.well-known/aauth-issuer for each tenant.",
                "operationId": "getIssuerMetadata",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "AAuth auth-server metadata document (Section 8.2).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetIssuerMetadataResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "aauth_issuer_metadata",
                "security": []
            }
        },
        "/orgs/{orgId}/api/v1/aauth/jwks.json": {
            "get": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Auth Server JWKS endpoint for AAuth.",
                "operationId": "getIssuerJwks",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The auth server JWKS (public keys used to verify issued JWTs).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JwksResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "aauth_issuer_jwks",
                "security": []
            }
        },
        "/orgs/{orgId}/api/v1/.well-known/aauth-agent": {
            "get": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Agent Metadata (Section 8.1)\nPublished at /.well-known/aauth-agent for registered agents.",
                "operationId": "getAgentMetadata",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata documents for all active agents of this tenant (Section 8.1).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "aauth_agent_metadata",
                "security": []
            }
        },
        "/orgs/{orgId}/api/v1/aauth/agents/{agentId}/metadata": {
            "get": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Individual Agent Metadata",
                "operationId": "getAgentMetadataById",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata document for a single active agent.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Agent not found."
                    }
                },
                "x-symfony-route": "aauth_agent_metadata_single",
                "security": []
            }
        },
        "/orgs/{orgId}/api/v1/aauth/agents/{agentId}/jwks.json": {
            "get": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Agent JWKS endpoint",
                "operationId": "getAgentJwks",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The agent JWKS.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JwksResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Agent not found."
                    }
                },
                "x-symfony-route": "aauth_agent_jwks",
                "security": []
            }
        },
        "/orgs/{orgId}/api/v1/.well-known/aauth-resource": {
            "get": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Resource Metadata (Section 8.3)",
                "operationId": "getResourceMetadata",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata documents for all active resources of this tenant (Section 8.3).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "aauth_resource_metadata",
                "security": []
            }
        },
        "/orgs/{orgId}/api/v1/aauth/resources/{resourceId}/metadata": {
            "get": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Individual Resource Metadata",
                "operationId": "getResourceMetadataById",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata document for a single active resource.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                },
                "x-symfony-route": "aauth_resource_metadata_single",
                "security": []
            }
        },
        "/orgs/{orgId}/api/v1/aauth/resources/{resourceId}/jwks.json": {
            "get": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Resource JWKS endpoint",
                "operationId": "getResourceJwks",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The resource JWKS.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JwksResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found."
                    }
                },
                "x-symfony-route": "aauth_resource_jwks",
                "security": []
            }
        },
        "/orgs/{orgId}/api/v1/aauth/agent/platform-token": {
            "post": {
                "tags": [
                    "AAuth"
                ],
                "operationId": "issuePlatformToken",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IssuePlatformTokenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A short-lived, DPoP-bound core-agent access token accepted by JIT, the token vault, and the authz PDP. It carries cnf.jkt (thumbprint of the agent key) and must be presented with a DPoP proof from that key.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IssuePlatformTokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid exchange request (grant_type / subject_token)."
                    },
                    "401": {
                        "description": "The AAuth token is invalid, expired, or revoked, or the RFC 9421 request signature is missing/invalid/replayed."
                    },
                    "403": {
                        "description": "Denied by a conditional access policy."
                    },
                    "429": {
                        "description": "Rate limit exceeded (per IP or per agent)."
                    }
                },
                "x-symfony-route": "aauth_agent_platform_token",
                "security": [
                    {
                        "AAuthSigned": []
                    }
                ]
            }
        },
        "/orgs/{orgId}/api/v1/aauth/resource/token": {
            "post": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Resource Token Endpoint (Section 6)",
                "description": "Called by a registered resource to create a resource token\nbinding an agent's request to the resource's identity.\n\nThe resource authenticates via HTTP Message Signature using\nits registered key.",
                "operationId": "issueResourceToken",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/IssueResourceTokenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A resource token binding the agent request to the resource identity.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IssueResourceTokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid JSON body, missing agent/agent_jkt, or unsupported scope."
                    },
                    "401": {
                        "description": "Resource authentication (HTTP message signature) failed."
                    },
                    "429": {
                        "description": "Rate limit exceeded."
                    }
                },
                "x-symfony-route": "aauth_resource_token",
                "security": [
                    {
                        "AAuthSigned": []
                    }
                ]
            }
        },
        "/orgs/{orgId}/api/v1/aauth/resource/token/verify": {
            "post": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Resource Token Verification (for resources to validate their own tokens).",
                "description": "A convenience endpoint—resources can also validate locally.",
                "operationId": "verifyResourceToken",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyResourceTokenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Introspection result; active=false with an error when the token is invalid.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyResourceTokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing resource_token, agent, or agent_jkt."
                    },
                    "401": {
                        "description": "Resource authentication failed."
                    },
                    "403": {
                        "description": "Resource token is not valid for the authenticated resource."
                    },
                    "429": {
                        "description": "Rate limit exceeded."
                    }
                },
                "x-symfony-route": "aauth_resource_token_verify",
                "security": [
                    {
                        "AAuthSigned": []
                    }
                ]
            }
        },
        "/orgs/{orgId}/api/v1/aauth/auth/token/verify": {
            "post": {
                "tags": [
                    "AAuth"
                ],
                "summary": "Auth Token Verification endpoint.",
                "description": "Resources call this to validate an auth token presented by an agent.\nPer Section 7.7, the resource validates:\n  1. JWT signature from trusted auth server\n  2. aud matches resource identifier\n  3. exp is in the future\n  4. HTTP Message Signature on the agent's incoming request matches the\n     key whose thumbprint is `cnf_jkt` in the response.\n\nIMPORTANT — proof-of-possession is mandatory. A response of\n`{\"active\": true, ...}` from this endpoint means the JWT is well-formed\nand bound to the named resource; it does NOT mean the caller is the\nlegitimate holder of the token. The resource MUST independently verify\nthat the HTTP Message Signature on the agent's request was produced with\nthe key that hashes to `cnf_jkt`. A token without this PoP check is\neffectively a bearer token and can be replayed by anyone who observes\nit. The response includes `pop_required: true` to surface this contract\nto integrators who only inspect `active`.",
                "operationId": "verifyAuthToken",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyAuthTokenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Introspection result. active=true does NOT imply PoP — the caller MUST verify the HTTP message signature against cnf_jkt.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyAuthTokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing auth_token or resource."
                    },
                    "401": {
                        "description": "Resource authentication failed."
                    },
                    "403": {
                        "description": "Requested resource does not match the authenticated resource."
                    },
                    "429": {
                        "description": "Rate limit exceeded."
                    }
                },
                "x-symfony-route": "aauth_auth_token_verify",
                "security": [
                    {
                        "AAuthSigned": []
                    }
                ]
            }
        },
        "/orgs/{orgId}/api/v1/abac/check": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Evaluate an ABAC policy decision for the caller",
                "description": "POST /api/v1/abac/check\nBody: {\n  resourceType: string,\n  action: string,\n  resourceId?: string,\n  environment?: { ip?: string, userAgent?: string, ... }\n}\n\nReturns: { allowed: boolean, reason: string, matchedPolicies: [...] }",
                "operationId": "checkAbac",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Decision",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CheckAbacResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_abac_check"
            }
        },
        "/orgs/{orgId}/api/v1/abac/check-bulk": {
            "post": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Evaluate up to 100 ABAC checks for the caller in one call",
                "description": "POST /api/v1/abac/check-bulk\nBody: {\n  checks: [\n    { resourceType: string, action: string, resourceId?: string },\n    ...\n  ],\n  environment?: { ... }\n}",
                "operationId": "checkAbacBulk",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Per-check decisions in request order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CheckAbacBulkResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_abac_check_bulk"
            }
        },
        "/orgs/{orgId}/api/v1/abac/my-attributes": {
            "get": {
                "tags": [
                    "Authorization"
                ],
                "summary": "The caller's ABAC subject attributes",
                "description": "GET /api/v1/abac/my-attributes",
                "operationId": "getMyAttributes",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Built-in identity attributes plus trait_<key> entries and tenant-defined custom attributes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetMyAttributesResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_abac_my_attributes"
            }
        },
        "/orgs/{orgId}/api/v1/abac/resources/{resourceType}/{resourceId}/attributes": {
            "get": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Attributes stored for a resource",
                "description": "GET /api/v1/abac/resources/{resourceType}/{resourceId}/attributes",
                "operationId": "getResourceAttributes",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "resourceType",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource attributes keyed by attribute slug",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetResourceAttributesResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_abac_resource_attributes"
            }
        },
        "/orgs/{orgId}/api/v1/abac/resources/{resourceType}/{resourceId}/attributes/{attributeSlug}": {
            "put": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Set a resource attribute",
                "description": "PUT /api/v1/abac/resources/{resourceType}/{resourceId}/attributes/{attributeSlug}\nBody: { value: any }",
                "operationId": "setResourceAttribute",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "resourceType",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "resourceId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "attributeSlug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Stored attribute",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetResourceAttributeResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_abac_set_resource_attribute"
            }
        },
        "/orgs/{orgId}/api/v1/abac/users/{userId}/attributes/{attributeSlug}": {
            "put": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Set a user attribute",
                "description": "PUT /api/v1/abac/users/{userId}/attributes/{attributeSlug}\nBody: { value: any }",
                "operationId": "setUserAttribute",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "attributeSlug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Stored attribute",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetUserAttributeResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_abac_set_user_attribute"
            }
        },
        "/orgs/{orgId}/api/v1/abac/attribute-definitions": {
            "get": {
                "tags": [
                    "Authorization"
                ],
                "summary": "Attribute definitions available to the organization",
                "description": "GET /api/v1/abac/attribute-definitions\nQuery params: type (user|resource|environment)",
                "operationId": "listAttributeDefinitions",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "user",
                                "resource",
                                "environment"
                            ]
                        }
                    },
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Definitions (tenant-defined and global)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListAttributeDefinitionsResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_abac_attribute_definitions"
            }
        },
        "/orgs/{orgId}/api/v1/abac/attributes": {
            "get": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "List attribute definitions",
                "operationId": "abacAttributesList",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated attribute definitions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AbacAttributesListResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_abac_attributes_list"
            },
            "post": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "Create an attribute definition",
                "operationId": "abacAttributesCreate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AbacAttributesCreateResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "An attribute with this slug already exists"
                    }
                },
                "x-symfony-route": "api_abac_attributes_create"
            }
        },
        "/orgs/{orgId}/api/v1/abac/attributes/{id}": {
            "get": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "Get an attribute definition",
                "operationId": "abacAttributesGet",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attribute definition",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AbacAttributesGetResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Attribute definition not found"
                    }
                },
                "x-symfony-route": "api_abac_attributes_get"
            },
            "put": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "Update an attribute definition",
                "operationId": "putAbacAttributesUpdate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutAbacAttributesUpdateResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "System attribute definitions cannot be modified"
                    },
                    "404": {
                        "description": "Attribute definition not found"
                    }
                },
                "x-symfony-route": "api_abac_attributes_update"
            },
            "delete": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "Delete an attribute definition",
                "operationId": "abacAttributesDelete",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "System attribute definitions cannot be deleted"
                    },
                    "404": {
                        "description": "Attribute definition not found"
                    }
                },
                "x-symfony-route": "api_abac_attributes_delete"
            },
            "patch": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "Partially update an attribute definition",
                "operationId": "patchAbacAttributesUpdate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutAbacAttributesUpdateResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "System attribute definitions cannot be modified"
                    },
                    "404": {
                        "description": "Attribute definition not found"
                    }
                },
                "x-symfony-route": "api_abac_attributes_update"
            }
        },
        "/orgs/{orgId}/api/v1/abac/policies": {
            "get": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "List ABAC policies",
                "operationId": "abacPoliciesList",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated policies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AbacPoliciesListResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_abac_policies_list"
            },
            "post": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "Create an ABAC policy",
                "operationId": "abacPoliciesCreate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AbacPoliciesCreateResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid effect or policy conditions"
                    },
                    "409": {
                        "description": "A policy with this slug already exists"
                    }
                },
                "x-symfony-route": "api_abac_policies_create"
            }
        },
        "/orgs/{orgId}/api/v1/abac/policies/{id}": {
            "get": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "Get an ABAC policy",
                "operationId": "abacPoliciesGet",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Policy",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AbacPoliciesGetResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Policy not found"
                    }
                },
                "x-symfony-route": "api_abac_policies_get"
            },
            "put": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "Update an ABAC policy",
                "operationId": "putAbacPoliciesUpdate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutAbacPoliciesUpdateResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "System policies cannot be modified"
                    },
                    "404": {
                        "description": "Policy not found"
                    }
                },
                "x-symfony-route": "api_abac_policies_update"
            },
            "delete": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "Delete an ABAC policy",
                "operationId": "abacPoliciesDelete",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "System policies cannot be deleted"
                    },
                    "404": {
                        "description": "Policy not found"
                    }
                },
                "x-symfony-route": "api_abac_policies_delete"
            },
            "patch": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "Partially update an ABAC policy",
                "operationId": "patchAbacPoliciesUpdate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutAbacPoliciesUpdateResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "System policies cannot be modified"
                    },
                    "404": {
                        "description": "Policy not found"
                    }
                },
                "x-symfony-route": "api_abac_policies_update"
            }
        },
        "/orgs/{orgId}/api/v1/abac/policies/{id}/toggle": {
            "post": {
                "tags": [
                    "Admin: Abac"
                ],
                "summary": "Toggle a policy between active and inactive",
                "operationId": "abacPoliciesToggle",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Toggled policy",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AbacPoliciesToggleResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "System policies cannot be modified"
                    },
                    "404": {
                        "description": "Policy not found"
                    }
                },
                "x-symfony-route": "api_abac_policies_toggle"
            }
        },
        "/orgs/{orgId}/api/v1/admin/agents": {
            "get": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "List all agents in the tenant",
                "operationId": "adminAgentsList",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of agents.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsListResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_list"
            },
            "post": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Create a new agent",
                "operationId": "adminAgentsCreate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminAgentsCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Agent created. The generated credential/secret is returned ONCE and cannot be retrieved again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsCreateResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing required field: name."
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_create"
            }
        },
        "/orgs/{orgId}/api/v1/admin/agents/{agentId}": {
            "get": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Get a single agent by ID or agentId",
                "operationId": "adminAgentsGet",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The agent record.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsGetResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_get"
            },
            "put": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Update an existing agent",
                "operationId": "putAdminAgentsUpdate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutAdminAgentsUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Agent updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutAdminAgentsUpdateResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_update"
            },
            "delete": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Delete an agent",
                "operationId": "adminAgentsDelete",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent deleted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsDeleteResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_delete"
            },
            "patch": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Update an existing agent",
                "operationId": "patchAdminAgentsUpdate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PutAdminAgentsUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Agent updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PutAdminAgentsUpdateResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_update"
            }
        },
        "/orgs/{orgId}/api/v1/admin/agents/{agentId}/rotate-key": {
            "post": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Rotate agent API key",
                "operationId": "adminAgentsAgentsRotateKey",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "API key rotated. The new key is returned ONCE and cannot be retrieved again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsAgentsRotateKeyResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_agents_rotate_key"
            }
        },
        "/orgs/{orgId}/api/v1/admin/agents/{agentId}/enable": {
            "post": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Enable agent",
                "operationId": "adminAgentsAgentsEnable",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent enabled.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsAgentsEnableResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_agents_enable"
            }
        },
        "/orgs/{orgId}/api/v1/admin/agents/{agentId}/disable": {
            "post": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Disable agent",
                "operationId": "adminAgentsAgentsDisable",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent disabled.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsAgentsDisableResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_agents_disable"
            }
        },
        "/orgs/{orgId}/api/v1/admin/agents/{agentId}/revoke-key": {
            "post": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Revoke agent API key (nullify it so it can no longer authenticate)",
                "operationId": "adminAgentsRevokeKey",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent API key revoked (nullified).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsRevokeKeyResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_revoke_key"
            }
        },
        "/orgs/{orgId}/api/v1/admin/agents/{agentId}/scopes": {
            "get": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Get agent scopes/capabilities",
                "operationId": "adminAgentsGetScopes",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent scopes/capabilities.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsGetScopesResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_get_scopes"
            },
            "put": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Update agent scopes/capabilities",
                "operationId": "adminAgentsSetScopes",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminAgentsSetScopesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Agent scopes updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsSetScopesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "scopes array is required."
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_set_scopes"
            }
        },
        "/orgs/{orgId}/api/v1/admin/agents/{agentId}/rotate-credentials": {
            "post": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Rotate agent credentials",
                "operationId": "adminAgentsRotateCredentials",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Credentials rotated. The new secret is returned ONCE and cannot be retrieved again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsRotateCredentialsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Credentials cannot be rotated for this agent (invalid identity type)."
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_rotate_credentials"
            }
        },
        "/orgs/{orgId}/api/v1/admin/agents/{agentId}/activate": {
            "post": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Activate an agent",
                "operationId": "adminAgentsActivate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent activated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsActivateResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_activate"
            }
        },
        "/orgs/{orgId}/api/v1/admin/agents/{agentId}/deactivate": {
            "post": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Deactivate an agent",
                "operationId": "adminAgentsDeactivate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent deactivated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsDeactivateResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_deactivate"
            }
        },
        "/orgs/{orgId}/api/v1/admin/agents/{agentId}/token": {
            "post": {
                "tags": [
                    "Admin: Agents"
                ],
                "summary": "Generate a token for the agent",
                "operationId": "adminAgentsGenerateToken",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "agentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminAgentsGenerateTokenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A generated agent token. The token value is returned ONCE.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAgentsGenerateTokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Inactive agent, or requested scopes outside the agent's capabilities."
                    },
                    "401": {
                        "description": "Authentication required."
                    },
                    "403": {
                        "description": "Admin privileges required."
                    },
                    "404": {
                        "description": "Tenant or agent not found."
                    }
                },
                "x-symfony-route": "api_admin_agents_generate_token"
            }
        },
        "/orgs/{orgId}/api/v1/admin/audit-logs": {
            "get": {
                "tags": [
                    "Admin: Audit Logs"
                ],
                "summary": "List audit log entries",
                "operationId": "adminAuditLogsList",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Audit log entries (summary fields only)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAuditLogsListResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_admin_audit_logs_list"
            }
        },
        "/orgs/{orgId}/api/v1/admin/audit-logs/{logId}": {
            "get": {
                "tags": [
                    "Admin: Audit Logs"
                ],
                "summary": "Get an audit log entry",
                "operationId": "adminAuditLogsGet",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "logId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "\\d+"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Audit log entry (detailed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAuditLogsGetResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Audit log not found"
                    }
                },
                "x-symfony-route": "api_admin_audit_logs_get"
            }
        },
        "/orgs/{orgId}/api/v1/admin/audit-logs/stats": {
            "get": {
                "tags": [
                    "Admin: Audit Logs"
                ],
                "summary": "Audit log statistics for a period (default: last 30 days)",
                "operationId": "adminAuditLogsStats",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAuditLogsStatsResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_admin_audit_logs_stats"
            }
        },
        "/orgs/{orgId}/api/v1/admin/audit-logs/actions": {
            "get": {
                "tags": [
                    "Admin: Audit Logs"
                ],
                "summary": "List the distinct audit action types recorded for the tenant",
                "operationId": "adminAuditLogsActions",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Action names",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAuditLogsActionsResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_admin_audit_logs_actions"
            }
        },
        "/orgs/{orgId}/api/v1/admin/audit-logs/retention": {
            "get": {
                "tags": [
                    "Admin: Audit Logs"
                ],
                "summary": "Get audit log retention settings",
                "operationId": "adminAuditLogsRetention",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retention settings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAuditLogsRetentionResponse"
                                }
                            }
                        }
                    }
                },
                "x-symfony-route": "api_admin_audit_logs_retention"
            },
            "put": {
                "tags": [
                    "Admin: Audit Logs"
                ],
                "summary": "Update audit log retention settings",
                "operationId": "putAdminAuditLogsRetentionUpdate",
                "parameters": [
                    {
                        "name": "orgId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated retention settings",
                        "content": {
[...]
