=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AAuthApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Agent Auth Endpoint - redirects to user consent page.
    # Per Section 9.4: The auth server redirects the user's browser to its authorization page.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def authorize_agent(org_id, opts = {})
      authorize_agent_with_http_info(org_id, opts)
      nil
    end

    # Agent Auth Endpoint - redirects to user consent page.
    # Per Section 9.4: The auth server redirects the user&#39;s browser to its authorization page.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def authorize_agent_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.authorize_agent ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.authorize_agent"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/agent/auth'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AAuthSigned']

      new_options = opts.merge(
        :operation => :"AAuthApi.authorize_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#authorize_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Agent JWKS endpoint
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JwksResponse]
    def get_agent_jwks(org_id, agent_id, opts = {})
      data, _status_code, _headers = get_agent_jwks_with_http_info(org_id, agent_id, opts)
      data
    end

    # Agent JWKS endpoint
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JwksResponse, Integer, Hash)>] JwksResponse data, response status code and response headers
    def get_agent_jwks_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.get_agent_jwks ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.get_agent_jwks"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AAuthApi.get_agent_jwks"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/agents/{agentId}/jwks.json'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JwksResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AAuthApi.get_agent_jwks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#get_agent_jwks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Agent Metadata (Section 8.1) Published at /.well-known/aauth-agent for registered agents.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<Object>]
    def get_agent_metadata(org_id, opts = {})
      data, _status_code, _headers = get_agent_metadata_with_http_info(org_id, opts)
      data
    end

    # Agent Metadata (Section 8.1) Published at /.well-known/aauth-agent for registered agents.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Object>, Integer, Hash)>] Array<Object> data, response status code and response headers
    def get_agent_metadata_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.get_agent_metadata ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.get_agent_metadata"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/.well-known/aauth-agent'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AAuthApi.get_agent_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#get_agent_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Individual Agent Metadata
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_agent_metadata_by_id(org_id, agent_id, opts = {})
      data, _status_code, _headers = get_agent_metadata_by_id_with_http_info(org_id, agent_id, opts)
      data
    end

    # Individual Agent Metadata
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_agent_metadata_by_id_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.get_agent_metadata_by_id ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.get_agent_metadata_by_id"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AAuthApi.get_agent_metadata_by_id"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/agents/{agentId}/metadata'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AAuthApi.get_agent_metadata_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#get_agent_metadata_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Auth Server JWKS endpoint for AAuth.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JwksResponse]
    def get_issuer_jwks(org_id, opts = {})
      data, _status_code, _headers = get_issuer_jwks_with_http_info(org_id, opts)
      data
    end

    # Auth Server JWKS endpoint for AAuth.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JwksResponse, Integer, Hash)>] JwksResponse data, response status code and response headers
    def get_issuer_jwks_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.get_issuer_jwks ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.get_issuer_jwks"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/jwks.json'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JwksResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AAuthApi.get_issuer_jwks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#get_issuer_jwks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Auth Server Metadata (Section 8.2) Published at /.well-known/aauth-issuer for each tenant.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetIssuerMetadataResponse]
    def get_issuer_metadata(org_id, opts = {})
      data, _status_code, _headers = get_issuer_metadata_with_http_info(org_id, opts)
      data
    end

    # Auth Server Metadata (Section 8.2) Published at /.well-known/aauth-issuer for each tenant.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetIssuerMetadataResponse, Integer, Hash)>] GetIssuerMetadataResponse data, response status code and response headers
    def get_issuer_metadata_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.get_issuer_metadata ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.get_issuer_metadata"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/.well-known/aauth-issuer'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetIssuerMetadataResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AAuthApi.get_issuer_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#get_issuer_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resource JWKS endpoint
    # @param org_id [String] 
    # @param resource_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JwksResponse]
    def get_resource_jwks(org_id, resource_id, opts = {})
      data, _status_code, _headers = get_resource_jwks_with_http_info(org_id, resource_id, opts)
      data
    end

    # Resource JWKS endpoint
    # @param org_id [String] 
    # @param resource_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JwksResponse, Integer, Hash)>] JwksResponse data, response status code and response headers
    def get_resource_jwks_with_http_info(org_id, resource_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.get_resource_jwks ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.get_resource_jwks"
      end
      # verify the required parameter 'resource_id' is set
      if @api_client.config.client_side_validation && resource_id.nil?
        fail ArgumentError, "Missing the required parameter 'resource_id' when calling AAuthApi.get_resource_jwks"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/resources/{resourceId}/jwks.json'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'resourceId' + '}', CGI.escape(resource_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JwksResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AAuthApi.get_resource_jwks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#get_resource_jwks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resource Metadata (Section 8.3)
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<Object>]
    def get_resource_metadata(org_id, opts = {})
      data, _status_code, _headers = get_resource_metadata_with_http_info(org_id, opts)
      data
    end

    # Resource Metadata (Section 8.3)
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Object>, Integer, Hash)>] Array<Object> data, response status code and response headers
    def get_resource_metadata_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.get_resource_metadata ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.get_resource_metadata"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/.well-known/aauth-resource'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AAuthApi.get_resource_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#get_resource_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Individual Resource Metadata
    # @param org_id [String] 
    # @param resource_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_resource_metadata_by_id(org_id, resource_id, opts = {})
      data, _status_code, _headers = get_resource_metadata_by_id_with_http_info(org_id, resource_id, opts)
      data
    end

    # Individual Resource Metadata
    # @param org_id [String] 
    # @param resource_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_resource_metadata_by_id_with_http_info(org_id, resource_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.get_resource_metadata_by_id ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.get_resource_metadata_by_id"
      end
      # verify the required parameter 'resource_id' is set
      if @api_client.config.client_side_validation && resource_id.nil?
        fail ArgumentError, "Missing the required parameter 'resource_id' when calling AAuthApi.get_resource_metadata_by_id"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/resources/{resourceId}/metadata'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'resourceId' + '}', CGI.escape(resource_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AAuthApi.get_resource_metadata_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#get_resource_metadata_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Agent Token Endpoint
    # Per Section 9: The agent token endpoint is the auth server's endpoint agents use to request auth tokens.  Required HTTP signature covering: @method, @target-uri, content-type, content-digest, authorization
    # @param org_id [String] 
    # @param issue_agent_token_request [IssueAgentTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IssueAgentTokenResponse]
    def issue_agent_token(org_id, issue_agent_token_request, opts = {})
      data, _status_code, _headers = issue_agent_token_with_http_info(org_id, issue_agent_token_request, opts)
      data
    end

    # Agent Token Endpoint
    # Per Section 9: The agent token endpoint is the auth server&#39;s endpoint agents use to request auth tokens.  Required HTTP signature covering: @method, @target-uri, content-type, content-digest, authorization
    # @param org_id [String] 
    # @param issue_agent_token_request [IssueAgentTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IssueAgentTokenResponse, Integer, Hash)>] IssueAgentTokenResponse data, response status code and response headers
    def issue_agent_token_with_http_info(org_id, issue_agent_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.issue_agent_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.issue_agent_token"
      end
      # verify the required parameter 'issue_agent_token_request' is set
      if @api_client.config.client_side_validation && issue_agent_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'issue_agent_token_request' when calling AAuthApi.issue_agent_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/agent/token'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(issue_agent_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IssueAgentTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AAuthSigned']

      new_options = opts.merge(
        :operation => :"AAuthApi.issue_agent_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#issue_agent_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Issue an agent token to a delegate.
    # Called by the agent server when a delegate needs to act on its behalf.  This endpoint requires the agent server to authenticate itself (via HTTP signature with its registered key).
    # @param org_id [String] 
    # @param issue_delegate_token_request [IssueDelegateTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IssueDelegateTokenResponse]
    def issue_delegate_token(org_id, issue_delegate_token_request, opts = {})
      data, _status_code, _headers = issue_delegate_token_with_http_info(org_id, issue_delegate_token_request, opts)
      data
    end

    # Issue an agent token to a delegate.
    # Called by the agent server when a delegate needs to act on its behalf.  This endpoint requires the agent server to authenticate itself (via HTTP signature with its registered key).
    # @param org_id [String] 
    # @param issue_delegate_token_request [IssueDelegateTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IssueDelegateTokenResponse, Integer, Hash)>] IssueDelegateTokenResponse data, response status code and response headers
    def issue_delegate_token_with_http_info(org_id, issue_delegate_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.issue_delegate_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.issue_delegate_token"
      end
      # verify the required parameter 'issue_delegate_token_request' is set
      if @api_client.config.client_side_validation && issue_delegate_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'issue_delegate_token_request' when calling AAuthApi.issue_delegate_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/agent/issue'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(issue_delegate_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IssueDelegateTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AAuthSigned']

      new_options = opts.merge(
        :operation => :"AAuthApi.issue_delegate_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#issue_delegate_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param issue_platform_token_request [IssuePlatformTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IssuePlatformTokenResponse]
    def issue_platform_token(org_id, issue_platform_token_request, opts = {})
      data, _status_code, _headers = issue_platform_token_with_http_info(org_id, issue_platform_token_request, opts)
      data
    end

    # @param org_id [String] 
    # @param issue_platform_token_request [IssuePlatformTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IssuePlatformTokenResponse, Integer, Hash)>] IssuePlatformTokenResponse data, response status code and response headers
    def issue_platform_token_with_http_info(org_id, issue_platform_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.issue_platform_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.issue_platform_token"
      end
      # verify the required parameter 'issue_platform_token_request' is set
      if @api_client.config.client_side_validation && issue_platform_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'issue_platform_token_request' when calling AAuthApi.issue_platform_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/agent/platform-token'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(issue_platform_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IssuePlatformTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AAuthSigned']

      new_options = opts.merge(
        :operation => :"AAuthApi.issue_platform_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#issue_platform_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resource Token Endpoint (Section 6)
    # Called by a registered resource to create a resource token binding an agent's request to the resource's identity.  The resource authenticates via HTTP Message Signature using its registered key.
    # @param org_id [String] 
    # @param issue_resource_token_request [IssueResourceTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IssueResourceTokenResponse]
    def issue_resource_token(org_id, issue_resource_token_request, opts = {})
      data, _status_code, _headers = issue_resource_token_with_http_info(org_id, issue_resource_token_request, opts)
      data
    end

    # Resource Token Endpoint (Section 6)
    # Called by a registered resource to create a resource token binding an agent&#39;s request to the resource&#39;s identity.  The resource authenticates via HTTP Message Signature using its registered key.
    # @param org_id [String] 
    # @param issue_resource_token_request [IssueResourceTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IssueResourceTokenResponse, Integer, Hash)>] IssueResourceTokenResponse data, response status code and response headers
    def issue_resource_token_with_http_info(org_id, issue_resource_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.issue_resource_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.issue_resource_token"
      end
      # verify the required parameter 'issue_resource_token_request' is set
      if @api_client.config.client_side_validation && issue_resource_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'issue_resource_token_request' when calling AAuthApi.issue_resource_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/resource/token'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(issue_resource_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IssueResourceTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AAuthSigned']

      new_options = opts.merge(
        :operation => :"AAuthApi.issue_resource_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#issue_resource_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke an auth token or refresh token.
    # @param org_id [String] 
    # @param revoke_agent_token_request [RevokeAgentTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RevokeAgentTokenResponse]
    def revoke_agent_token(org_id, revoke_agent_token_request, opts = {})
      data, _status_code, _headers = revoke_agent_token_with_http_info(org_id, revoke_agent_token_request, opts)
      data
    end

    # Revoke an auth token or refresh token.
    # @param org_id [String] 
    # @param revoke_agent_token_request [RevokeAgentTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RevokeAgentTokenResponse, Integer, Hash)>] RevokeAgentTokenResponse data, response status code and response headers
    def revoke_agent_token_with_http_info(org_id, revoke_agent_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.revoke_agent_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.revoke_agent_token"
      end
      # verify the required parameter 'revoke_agent_token_request' is set
      if @api_client.config.client_side_validation && revoke_agent_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'revoke_agent_token_request' when calling AAuthApi.revoke_agent_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/token/revoke'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(revoke_agent_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RevokeAgentTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AAuthSigned']

      new_options = opts.merge(
        :operation => :"AAuthApi.revoke_agent_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#revoke_agent_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Auth Token Verification endpoint.
    # Resources call this to validate an auth token presented by an agent. Per Section 7.7, the resource validates:   1. JWT signature from trusted auth server   2. aud matches resource identifier   3. exp is in the future   4. HTTP Message Signature on the agent's incoming request matches the      key whose thumbprint is `cnf_jkt` in the response.  IMPORTANT — proof-of-possession is mandatory. A response of `{\"active\": true, ...}` from this endpoint means the JWT is well-formed and bound to the named resource; it does NOT mean the caller is the legitimate holder of the token. The resource MUST independently verify that the HTTP Message Signature on the agent's request was produced with the key that hashes to `cnf_jkt`. A token without this PoP check is effectively a bearer token and can be replayed by anyone who observes it. The response includes `pop_required: true` to surface this contract to integrators who only inspect `active`.
    # @param org_id [String] 
    # @param verify_auth_token_request [VerifyAuthTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VerifyAuthTokenResponse]
    def verify_auth_token(org_id, verify_auth_token_request, opts = {})
      data, _status_code, _headers = verify_auth_token_with_http_info(org_id, verify_auth_token_request, opts)
      data
    end

    # Auth Token Verification endpoint.
    # Resources call this to validate an auth token presented by an agent. Per Section 7.7, the resource validates:   1. JWT signature from trusted auth server   2. aud matches resource identifier   3. exp is in the future   4. HTTP Message Signature on the agent&#39;s incoming request matches the      key whose thumbprint is &#x60;cnf_jkt&#x60; in the response.  IMPORTANT — proof-of-possession is mandatory. A response of &#x60;{\&quot;active\&quot;: true, ...}&#x60; from this endpoint means the JWT is well-formed and bound to the named resource; it does NOT mean the caller is the legitimate holder of the token. The resource MUST independently verify that the HTTP Message Signature on the agent&#39;s request was produced with the key that hashes to &#x60;cnf_jkt&#x60;. A token without this PoP check is effectively a bearer token and can be replayed by anyone who observes it. The response includes &#x60;pop_required: true&#x60; to surface this contract to integrators who only inspect &#x60;active&#x60;.
    # @param org_id [String] 
    # @param verify_auth_token_request [VerifyAuthTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifyAuthTokenResponse, Integer, Hash)>] VerifyAuthTokenResponse data, response status code and response headers
    def verify_auth_token_with_http_info(org_id, verify_auth_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.verify_auth_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.verify_auth_token"
      end
      # verify the required parameter 'verify_auth_token_request' is set
      if @api_client.config.client_side_validation && verify_auth_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'verify_auth_token_request' when calling AAuthApi.verify_auth_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/auth/token/verify'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_auth_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VerifyAuthTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AAuthSigned']

      new_options = opts.merge(
        :operation => :"AAuthApi.verify_auth_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#verify_auth_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resource Token Verification (for resources to validate their own tokens).
    # A convenience endpoint—resources can also validate locally.
    # @param org_id [String] 
    # @param verify_resource_token_request [VerifyResourceTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VerifyResourceTokenResponse]
    def verify_resource_token(org_id, verify_resource_token_request, opts = {})
      data, _status_code, _headers = verify_resource_token_with_http_info(org_id, verify_resource_token_request, opts)
      data
    end

    # Resource Token Verification (for resources to validate their own tokens).
    # A convenience endpoint—resources can also validate locally.
    # @param org_id [String] 
    # @param verify_resource_token_request [VerifyResourceTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifyResourceTokenResponse, Integer, Hash)>] VerifyResourceTokenResponse data, response status code and response headers
    def verify_resource_token_with_http_info(org_id, verify_resource_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AAuthApi.verify_resource_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AAuthApi.verify_resource_token"
      end
      # verify the required parameter 'verify_resource_token_request' is set
      if @api_client.config.client_side_validation && verify_resource_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'verify_resource_token_request' when calling AAuthApi.verify_resource_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/aauth/resource/token/verify'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_resource_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VerifyResourceTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AAuthSigned']

      new_options = opts.merge(
        :operation => :"AAuthApi.verify_resource_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AAuthApi#verify_resource_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
