=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AdminPermissionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a custom permission for the tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_permissions_create(org_id, opts = {})
      admin_permissions_create_with_http_info(org_id, opts)
      nil
    end

    # Create a custom permission for the tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_permissions_create_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminPermissionsApi.admin_permissions_create ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminPermissionsApi.admin_permissions_create"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/permissions'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminPermissionsApi.admin_permissions_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminPermissionsApi#admin_permissions_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a custom permission
    # @param org_id [String] 
    # @param permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_permissions_delete(org_id, permission_id, opts = {})
      admin_permissions_delete_with_http_info(org_id, permission_id, opts)
      nil
    end

    # Delete a custom permission
    # @param org_id [String] 
    # @param permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_permissions_delete_with_http_info(org_id, permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminPermissionsApi.admin_permissions_delete ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminPermissionsApi.admin_permissions_delete"
      end
      # verify the required parameter 'permission_id' is set
      if @api_client.config.client_side_validation && permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'permission_id' when calling AdminPermissionsApi.admin_permissions_delete"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/permissions/{permissionId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'permissionId' + '}', CGI.escape(permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminPermissionsApi.admin_permissions_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminPermissionsApi#admin_permissions_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single permission
    # @param org_id [String] 
    # @param permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_permissions_get(org_id, permission_id, opts = {})
      admin_permissions_get_with_http_info(org_id, permission_id, opts)
      nil
    end

    # Get a single permission
    # @param org_id [String] 
    # @param permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_permissions_get_with_http_info(org_id, permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminPermissionsApi.admin_permissions_get ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminPermissionsApi.admin_permissions_get"
      end
      # verify the required parameter 'permission_id' is set
      if @api_client.config.client_side_validation && permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'permission_id' when calling AdminPermissionsApi.admin_permissions_get"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/permissions/{permissionId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'permissionId' + '}', CGI.escape(permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminPermissionsApi.admin_permissions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminPermissionsApi#admin_permissions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all available permissions for the tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_permissions_list(org_id, opts = {})
      admin_permissions_list_with_http_info(org_id, opts)
      nil
    end

    # List all available permissions for the tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_permissions_list_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminPermissionsApi.admin_permissions_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminPermissionsApi.admin_permissions_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/permissions'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminPermissionsApi.admin_permissions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminPermissionsApi#admin_permissions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a permission
    # @param org_id [String] 
    # @param permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_permissions_update(org_id, permission_id, opts = {})
      admin_permissions_update_with_http_info(org_id, permission_id, opts)
      nil
    end

    # Update a permission
    # @param org_id [String] 
    # @param permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_permissions_update_with_http_info(org_id, permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminPermissionsApi.admin_permissions_update ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminPermissionsApi.admin_permissions_update"
      end
      # verify the required parameter 'permission_id' is set
      if @api_client.config.client_side_validation && permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'permission_id' when calling AdminPermissionsApi.admin_permissions_update"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/permissions/{permissionId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'permissionId' + '}', CGI.escape(permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminPermissionsApi.admin_permissions_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminPermissionsApi#admin_permissions_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get permission usage (roles assigned to this permission)
    # @param org_id [String] 
    # @param permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_permissions_usage(org_id, permission_id, opts = {})
      admin_permissions_usage_with_http_info(org_id, permission_id, opts)
      nil
    end

    # Get permission usage (roles assigned to this permission)
    # @param org_id [String] 
    # @param permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_permissions_usage_with_http_info(org_id, permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminPermissionsApi.admin_permissions_usage ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminPermissionsApi.admin_permissions_usage"
      end
      # verify the required parameter 'permission_id' is set
      if @api_client.config.client_side_validation && permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'permission_id' when calling AdminPermissionsApi.admin_permissions_usage"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/permissions/{permissionId}/usage'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'permissionId' + '}', CGI.escape(permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminPermissionsApi.admin_permissions_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminPermissionsApi#admin_permissions_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a custom OAuth scope
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_scopes_create(org_id, opts = {})
      admin_scopes_create_with_http_info(org_id, opts)
      nil
    end

    # Create a custom OAuth scope
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_scopes_create_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminPermissionsApi.admin_scopes_create ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminPermissionsApi.admin_scopes_create"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/scopes'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminPermissionsApi.admin_scopes_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminPermissionsApi#admin_scopes_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a custom OAuth scope
    # @param org_id [String] 
    # @param scope_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_scopes_delete(org_id, scope_id, opts = {})
      admin_scopes_delete_with_http_info(org_id, scope_id, opts)
      nil
    end

    # Delete a custom OAuth scope
    # @param org_id [String] 
    # @param scope_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_scopes_delete_with_http_info(org_id, scope_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminPermissionsApi.admin_scopes_delete ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminPermissionsApi.admin_scopes_delete"
      end
      # verify the required parameter 'scope_id' is set
      if @api_client.config.client_side_validation && scope_id.nil?
        fail ArgumentError, "Missing the required parameter 'scope_id' when calling AdminPermissionsApi.admin_scopes_delete"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/scopes/{scopeId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'scopeId' + '}', CGI.escape(scope_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminPermissionsApi.admin_scopes_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminPermissionsApi#admin_scopes_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List OAuth scopes
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_scopes_list(org_id, opts = {})
      admin_scopes_list_with_http_info(org_id, opts)
      nil
    end

    # List OAuth scopes
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_scopes_list_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminPermissionsApi.admin_scopes_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminPermissionsApi.admin_scopes_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/scopes'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminPermissionsApi.admin_scopes_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminPermissionsApi#admin_scopes_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
