=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AdminAgentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate an agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsActivateResponse]
    def admin_agents_activate(org_id, agent_id, opts = {})
      data, _status_code, _headers = admin_agents_activate_with_http_info(org_id, agent_id, opts)
      data
    end

    # Activate an agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsActivateResponse, Integer, Hash)>] AdminAgentsActivateResponse data, response status code and response headers
    def admin_agents_activate_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_activate ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_activate"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_activate"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}/activate'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsActivateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_activate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_activate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsAgentsDisableResponse]
    def admin_agents_agents_disable(org_id, agent_id, opts = {})
      data, _status_code, _headers = admin_agents_agents_disable_with_http_info(org_id, agent_id, opts)
      data
    end

    # Disable agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsAgentsDisableResponse, Integer, Hash)>] AdminAgentsAgentsDisableResponse data, response status code and response headers
    def admin_agents_agents_disable_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_agents_disable ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_agents_disable"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_agents_disable"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}/disable'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsAgentsDisableResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_agents_disable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_agents_disable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsAgentsEnableResponse]
    def admin_agents_agents_enable(org_id, agent_id, opts = {})
      data, _status_code, _headers = admin_agents_agents_enable_with_http_info(org_id, agent_id, opts)
      data
    end

    # Enable agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsAgentsEnableResponse, Integer, Hash)>] AdminAgentsAgentsEnableResponse data, response status code and response headers
    def admin_agents_agents_enable_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_agents_enable ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_agents_enable"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_agents_enable"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}/enable'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsAgentsEnableResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_agents_enable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_agents_enable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate agent API key
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsAgentsRotateKeyResponse]
    def admin_agents_agents_rotate_key(org_id, agent_id, opts = {})
      data, _status_code, _headers = admin_agents_agents_rotate_key_with_http_info(org_id, agent_id, opts)
      data
    end

    # Rotate agent API key
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsAgentsRotateKeyResponse, Integer, Hash)>] AdminAgentsAgentsRotateKeyResponse data, response status code and response headers
    def admin_agents_agents_rotate_key_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_agents_rotate_key ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_agents_rotate_key"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_agents_rotate_key"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}/rotate-key'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsAgentsRotateKeyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_agents_rotate_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_agents_rotate_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new agent
    # @param org_id [String] 
    # @param admin_agents_create_request [AdminAgentsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsCreateResponse]
    def admin_agents_create(org_id, admin_agents_create_request, opts = {})
      data, _status_code, _headers = admin_agents_create_with_http_info(org_id, admin_agents_create_request, opts)
      data
    end

    # Create a new agent
    # @param org_id [String] 
    # @param admin_agents_create_request [AdminAgentsCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsCreateResponse, Integer, Hash)>] AdminAgentsCreateResponse data, response status code and response headers
    def admin_agents_create_with_http_info(org_id, admin_agents_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_create ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_create"
      end
      # verify the required parameter 'admin_agents_create_request' is set
      if @api_client.config.client_side_validation && admin_agents_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'admin_agents_create_request' when calling AdminAgentsApi.admin_agents_create"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(admin_agents_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deactivate an agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsDeactivateResponse]
    def admin_agents_deactivate(org_id, agent_id, opts = {})
      data, _status_code, _headers = admin_agents_deactivate_with_http_info(org_id, agent_id, opts)
      data
    end

    # Deactivate an agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsDeactivateResponse, Integer, Hash)>] AdminAgentsDeactivateResponse data, response status code and response headers
    def admin_agents_deactivate_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_deactivate ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_deactivate"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_deactivate"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}/deactivate'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsDeactivateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_deactivate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_deactivate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def admin_agents_delete(org_id, agent_id, opts = {})
      data, _status_code, _headers = admin_agents_delete_with_http_info(org_id, agent_id, opts)
      data
    end

    # Delete an agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def admin_agents_delete_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_delete ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_delete"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_delete"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate a token for the agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AdminAgentsGenerateTokenRequest] :admin_agents_generate_token_request 
    # @return [AdminAgentsGenerateTokenResponse]
    def admin_agents_generate_token(org_id, agent_id, opts = {})
      data, _status_code, _headers = admin_agents_generate_token_with_http_info(org_id, agent_id, opts)
      data
    end

    # Generate a token for the agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AdminAgentsGenerateTokenRequest] :admin_agents_generate_token_request 
    # @return [Array<(AdminAgentsGenerateTokenResponse, Integer, Hash)>] AdminAgentsGenerateTokenResponse data, response status code and response headers
    def admin_agents_generate_token_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_generate_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_generate_token"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_generate_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}/token'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'admin_agents_generate_token_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsGenerateTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_generate_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_generate_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single agent by ID or agentId
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsGetResponse]
    def admin_agents_get(org_id, agent_id, opts = {})
      data, _status_code, _headers = admin_agents_get_with_http_info(org_id, agent_id, opts)
      data
    end

    # Get a single agent by ID or agentId
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsGetResponse, Integer, Hash)>] AdminAgentsGetResponse data, response status code and response headers
    def admin_agents_get_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_get ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_get"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_get"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get agent scopes/capabilities
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsGetScopesResponse]
    def admin_agents_get_scopes(org_id, agent_id, opts = {})
      data, _status_code, _headers = admin_agents_get_scopes_with_http_info(org_id, agent_id, opts)
      data
    end

    # Get agent scopes/capabilities
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsGetScopesResponse, Integer, Hash)>] AdminAgentsGetScopesResponse data, response status code and response headers
    def admin_agents_get_scopes_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_get_scopes ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_get_scopes"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_get_scopes"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}/scopes'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsGetScopesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_get_scopes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_get_scopes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all agents in the tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsListResponse]
    def admin_agents_list(org_id, opts = {})
      data, _status_code, _headers = admin_agents_list_with_http_info(org_id, opts)
      data
    end

    # List all agents in the tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsListResponse, Integer, Hash)>] AdminAgentsListResponse data, response status code and response headers
    def admin_agents_list_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke agent API key (nullify it so it can no longer authenticate)
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsRevokeKeyResponse]
    def admin_agents_revoke_key(org_id, agent_id, opts = {})
      data, _status_code, _headers = admin_agents_revoke_key_with_http_info(org_id, agent_id, opts)
      data
    end

    # Revoke agent API key (nullify it so it can no longer authenticate)
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsRevokeKeyResponse, Integer, Hash)>] AdminAgentsRevokeKeyResponse data, response status code and response headers
    def admin_agents_revoke_key_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_revoke_key ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_revoke_key"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_revoke_key"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}/revoke-key'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsRevokeKeyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_revoke_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_revoke_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate agent credentials
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsRotateCredentialsResponse]
    def admin_agents_rotate_credentials(org_id, agent_id, opts = {})
      data, _status_code, _headers = admin_agents_rotate_credentials_with_http_info(org_id, agent_id, opts)
      data
    end

    # Rotate agent credentials
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsRotateCredentialsResponse, Integer, Hash)>] AdminAgentsRotateCredentialsResponse data, response status code and response headers
    def admin_agents_rotate_credentials_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_rotate_credentials ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_rotate_credentials"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_rotate_credentials"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}/rotate-credentials'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsRotateCredentialsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_rotate_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_rotate_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update agent scopes/capabilities
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param admin_agents_set_scopes_request [AdminAgentsSetScopesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAgentsSetScopesResponse]
    def admin_agents_set_scopes(org_id, agent_id, admin_agents_set_scopes_request, opts = {})
      data, _status_code, _headers = admin_agents_set_scopes_with_http_info(org_id, agent_id, admin_agents_set_scopes_request, opts)
      data
    end

    # Update agent scopes/capabilities
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param admin_agents_set_scopes_request [AdminAgentsSetScopesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAgentsSetScopesResponse, Integer, Hash)>] AdminAgentsSetScopesResponse data, response status code and response headers
    def admin_agents_set_scopes_with_http_info(org_id, agent_id, admin_agents_set_scopes_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.admin_agents_set_scopes ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.admin_agents_set_scopes"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.admin_agents_set_scopes"
      end
      # verify the required parameter 'admin_agents_set_scopes_request' is set
      if @api_client.config.client_side_validation && admin_agents_set_scopes_request.nil?
        fail ArgumentError, "Missing the required parameter 'admin_agents_set_scopes_request' when calling AdminAgentsApi.admin_agents_set_scopes"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}/scopes'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(admin_agents_set_scopes_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAgentsSetScopesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.admin_agents_set_scopes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#admin_agents_set_scopes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param put_admin_agents_update_request [PutAdminAgentsUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PutAdminAgentsUpdateResponse]
    def patch_admin_agents_update(org_id, agent_id, put_admin_agents_update_request, opts = {})
      data, _status_code, _headers = patch_admin_agents_update_with_http_info(org_id, agent_id, put_admin_agents_update_request, opts)
      data
    end

    # Update an existing agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param put_admin_agents_update_request [PutAdminAgentsUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PutAdminAgentsUpdateResponse, Integer, Hash)>] PutAdminAgentsUpdateResponse data, response status code and response headers
    def patch_admin_agents_update_with_http_info(org_id, agent_id, put_admin_agents_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.patch_admin_agents_update ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.patch_admin_agents_update"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.patch_admin_agents_update"
      end
      # verify the required parameter 'put_admin_agents_update_request' is set
      if @api_client.config.client_side_validation && put_admin_agents_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'put_admin_agents_update_request' when calling AdminAgentsApi.patch_admin_agents_update"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(put_admin_agents_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PutAdminAgentsUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.patch_admin_agents_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#patch_admin_agents_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param put_admin_agents_update_request [PutAdminAgentsUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PutAdminAgentsUpdateResponse]
    def put_admin_agents_update(org_id, agent_id, put_admin_agents_update_request, opts = {})
      data, _status_code, _headers = put_admin_agents_update_with_http_info(org_id, agent_id, put_admin_agents_update_request, opts)
      data
    end

    # Update an existing agent
    # @param org_id [String] 
    # @param agent_id [String] 
    # @param put_admin_agents_update_request [PutAdminAgentsUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PutAdminAgentsUpdateResponse, Integer, Hash)>] PutAdminAgentsUpdateResponse data, response status code and response headers
    def put_admin_agents_update_with_http_info(org_id, agent_id, put_admin_agents_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAgentsApi.put_admin_agents_update ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAgentsApi.put_admin_agents_update"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AdminAgentsApi.put_admin_agents_update"
      end
      # verify the required parameter 'put_admin_agents_update_request' is set
      if @api_client.config.client_side_validation && put_admin_agents_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'put_admin_agents_update_request' when calling AdminAgentsApi.put_admin_agents_update"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/agents/{agentId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(put_admin_agents_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PutAdminAgentsUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAgentsApi.put_admin_agents_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAgentsApi#put_admin_agents_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
