=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AdminSessionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Revoke all tokens of a client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminClientTokensRevokeAllResponse]
    def admin_client_tokens_revoke_all(org_id, client_id, opts = {})
      data, _status_code, _headers = admin_client_tokens_revoke_all_with_http_info(org_id, client_id, opts)
      data
    end

    # Revoke all tokens of a client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminClientTokensRevokeAllResponse, Integer, Hash)>] AdminClientTokensRevokeAllResponse data, response status code and response headers
    def admin_client_tokens_revoke_all_with_http_info(org_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_client_tokens_revoke_all ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_client_tokens_revoke_all"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AdminSessionsApi.admin_client_tokens_revoke_all"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients/{clientId}/tokens'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'clientId' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminClientTokensRevokeAllResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_client_tokens_revoke_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_client_tokens_revoke_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke all tokens of a client (POST alias)
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminUserTokensRevokePostResponse]
    def admin_client_tokens_revoke_post(org_id, client_id, opts = {})
      data, _status_code, _headers = admin_client_tokens_revoke_post_with_http_info(org_id, client_id, opts)
      data
    end

    # Revoke all tokens of a client (POST alias)
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminUserTokensRevokePostResponse, Integer, Hash)>] AdminUserTokensRevokePostResponse data, response status code and response headers
    def admin_client_tokens_revoke_post_with_http_info(org_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_client_tokens_revoke_post ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_client_tokens_revoke_post"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AdminSessionsApi.admin_client_tokens_revoke_post"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients/{clientId}/tokens/revoke'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'clientId' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminUserTokensRevokePostResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_client_tokens_revoke_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_client_tokens_revoke_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Active session count
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSessionsCountResponse]
    def admin_sessions_count(org_id, opts = {})
      data, _status_code, _headers = admin_sessions_count_with_http_info(org_id, opts)
      data
    end

    # Active session count
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSessionsCountResponse, Integer, Hash)>] AdminSessionsCountResponse data, response status code and response headers
    def admin_sessions_count_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_sessions_count ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_sessions_count"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/sessions/count'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSessionsCountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_sessions_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_sessions_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List active sessions
    # Paginated active sessions for the tenant (expired and idle-timed-out sessions are invalidated first). Optional `userId` filter accepts a user UUID or email.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSessionsListResponse]
    def admin_sessions_list(org_id, opts = {})
      data, _status_code, _headers = admin_sessions_list_with_http_info(org_id, opts)
      data
    end

    # List active sessions
    # Paginated active sessions for the tenant (expired and idle-timed-out sessions are invalidated first). Optional &#x60;userId&#x60; filter accepts a user UUID or email.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSessionsListResponse, Integer, Hash)>] AdminSessionsListResponse data, response status code and response headers
    def admin_sessions_list_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_sessions_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_sessions_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/sessions'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSessionsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_sessions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_sessions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a session
    # @param org_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSessionsRevokeResponse]
    def admin_sessions_revoke(org_id, session_id, opts = {})
      data, _status_code, _headers = admin_sessions_revoke_with_http_info(org_id, session_id, opts)
      data
    end

    # Revoke a session
    # @param org_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSessionsRevokeResponse, Integer, Hash)>] AdminSessionsRevokeResponse data, response status code and response headers
    def admin_sessions_revoke_with_http_info(org_id, session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_sessions_revoke ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_sessions_revoke"
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling AdminSessionsApi.admin_sessions_revoke"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/sessions/{sessionId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSessionsRevokeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_sessions_revoke",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_sessions_revoke\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke every session in the tenant
    # Signs out all users. Requires `confirm: true` in the body.
    # @param org_id [String] 
    # @param admin_sessions_revoke_all_request [AdminSessionsRevokeAllRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSessionsRevokeAllResponse]
    def admin_sessions_revoke_all(org_id, admin_sessions_revoke_all_request, opts = {})
      data, _status_code, _headers = admin_sessions_revoke_all_with_http_info(org_id, admin_sessions_revoke_all_request, opts)
      data
    end

    # Revoke every session in the tenant
    # Signs out all users. Requires &#x60;confirm: true&#x60; in the body.
    # @param org_id [String] 
    # @param admin_sessions_revoke_all_request [AdminSessionsRevokeAllRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSessionsRevokeAllResponse, Integer, Hash)>] AdminSessionsRevokeAllResponse data, response status code and response headers
    def admin_sessions_revoke_all_with_http_info(org_id, admin_sessions_revoke_all_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_sessions_revoke_all ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_sessions_revoke_all"
      end
      # verify the required parameter 'admin_sessions_revoke_all_request' is set
      if @api_client.config.client_side_validation && admin_sessions_revoke_all_request.nil?
        fail ArgumentError, "Missing the required parameter 'admin_sessions_revoke_all_request' when calling AdminSessionsApi.admin_sessions_revoke_all"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/sessions/revoke-all'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(admin_sessions_revoke_all_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSessionsRevokeAllResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_sessions_revoke_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_sessions_revoke_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Session statistics
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSessionsStatsResponse]
    def admin_sessions_stats(org_id, opts = {})
      data, _status_code, _headers = admin_sessions_stats_with_http_info(org_id, opts)
      data
    end

    # Session statistics
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSessionsStatsResponse, Integer, Hash)>] AdminSessionsStatsResponse data, response status code and response headers
    def admin_sessions_stats_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_sessions_stats ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_sessions_stats"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/sessions/stats'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSessionsStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_sessions_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_sessions_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List access tokens
    # Paginated OAuth access tokens issued by the tenant's clients. Filters: `revoked` (bool), `clientId`, `userId`.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminTokensListResponse]
    def admin_tokens_list(org_id, opts = {})
      data, _status_code, _headers = admin_tokens_list_with_http_info(org_id, opts)
      data
    end

    # List access tokens
    # Paginated OAuth access tokens issued by the tenant&#39;s clients. Filters: &#x60;revoked&#x60; (bool), &#x60;clientId&#x60;, &#x60;userId&#x60;.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminTokensListResponse, Integer, Hash)>] AdminTokensListResponse data, response status code and response headers
    def admin_tokens_list_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_tokens_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_tokens_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/tokens'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminTokensListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_tokens_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_tokens_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a token
    # @param org_id [String] 
    # @param token_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminTokensRevokeResponse]
    def admin_tokens_revoke(org_id, token_id, opts = {})
      data, _status_code, _headers = admin_tokens_revoke_with_http_info(org_id, token_id, opts)
      data
    end

    # Revoke a token
    # @param org_id [String] 
    # @param token_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminTokensRevokeResponse, Integer, Hash)>] AdminTokensRevokeResponse data, response status code and response headers
    def admin_tokens_revoke_with_http_info(org_id, token_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_tokens_revoke ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_tokens_revoke"
      end
      # verify the required parameter 'token_id' is set
      if @api_client.config.client_side_validation && token_id.nil?
        fail ArgumentError, "Missing the required parameter 'token_id' when calling AdminSessionsApi.admin_tokens_revoke"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/tokens/{tokenId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'tokenId' + '}', CGI.escape(token_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminTokensRevokeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_tokens_revoke",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_tokens_revoke\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a user's active sessions
    # All active sessions of one user (UUID or email), returned as a single page.
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminUserSessionsListResponse]
    def admin_user_sessions_list(org_id, user_id, opts = {})
      data, _status_code, _headers = admin_user_sessions_list_with_http_info(org_id, user_id, opts)
      data
    end

    # List a user&#39;s active sessions
    # All active sessions of one user (UUID or email), returned as a single page.
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminUserSessionsListResponse, Integer, Hash)>] AdminUserSessionsListResponse data, response status code and response headers
    def admin_user_sessions_list_with_http_info(org_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_user_sessions_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_user_sessions_list"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminSessionsApi.admin_user_sessions_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/users/{userId}/sessions'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminUserSessionsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_user_sessions_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_user_sessions_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke all sessions of a user
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminUserSessionsRevokeAllResponse]
    def admin_user_sessions_revoke_all(org_id, user_id, opts = {})
      data, _status_code, _headers = admin_user_sessions_revoke_all_with_http_info(org_id, user_id, opts)
      data
    end

    # Revoke all sessions of a user
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminUserSessionsRevokeAllResponse, Integer, Hash)>] AdminUserSessionsRevokeAllResponse data, response status code and response headers
    def admin_user_sessions_revoke_all_with_http_info(org_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_user_sessions_revoke_all ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_user_sessions_revoke_all"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminSessionsApi.admin_user_sessions_revoke_all"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/users/{userId}/sessions'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminUserSessionsRevokeAllResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_user_sessions_revoke_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_user_sessions_revoke_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke all sessions of a user (POST alias)
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminUserSessionsRevokePostResponse]
    def admin_user_sessions_revoke_post(org_id, user_id, opts = {})
      data, _status_code, _headers = admin_user_sessions_revoke_post_with_http_info(org_id, user_id, opts)
      data
    end

    # Revoke all sessions of a user (POST alias)
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminUserSessionsRevokePostResponse, Integer, Hash)>] AdminUserSessionsRevokePostResponse data, response status code and response headers
    def admin_user_sessions_revoke_post_with_http_info(org_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_user_sessions_revoke_post ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_user_sessions_revoke_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminSessionsApi.admin_user_sessions_revoke_post"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/users/{userId}/sessions/revoke'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminUserSessionsRevokePostResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_user_sessions_revoke_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_user_sessions_revoke_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke all tokens of a user
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminUserTokensRevokeAllResponse]
    def admin_user_tokens_revoke_all(org_id, user_id, opts = {})
      data, _status_code, _headers = admin_user_tokens_revoke_all_with_http_info(org_id, user_id, opts)
      data
    end

    # Revoke all tokens of a user
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminUserTokensRevokeAllResponse, Integer, Hash)>] AdminUserTokensRevokeAllResponse data, response status code and response headers
    def admin_user_tokens_revoke_all_with_http_info(org_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_user_tokens_revoke_all ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_user_tokens_revoke_all"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminSessionsApi.admin_user_tokens_revoke_all"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/users/{userId}/tokens'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminUserTokensRevokeAllResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_user_tokens_revoke_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_user_tokens_revoke_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke all tokens of a user (POST alias)
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminUserTokensRevokePostResponse]
    def admin_user_tokens_revoke_post(org_id, user_id, opts = {})
      data, _status_code, _headers = admin_user_tokens_revoke_post_with_http_info(org_id, user_id, opts)
      data
    end

    # Revoke all tokens of a user (POST alias)
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminUserTokensRevokePostResponse, Integer, Hash)>] AdminUserTokensRevokePostResponse data, response status code and response headers
    def admin_user_tokens_revoke_post_with_http_info(org_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSessionsApi.admin_user_tokens_revoke_post ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSessionsApi.admin_user_tokens_revoke_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminSessionsApi.admin_user_tokens_revoke_post"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/users/{userId}/tokens/revoke'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminUserTokensRevokePostResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSessionsApi.admin_user_tokens_revoke_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSessionsApi#admin_user_tokens_revoke_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
