=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AdminIdentityProvidersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List the available social login provider types
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSocialProvidersAvailableResponse]
    def admin_social_providers_available(org_id, opts = {})
      data, _status_code, _headers = admin_social_providers_available_with_http_info(org_id, opts)
      data
    end

    # List the available social login provider types
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSocialProvidersAvailableResponse, Integer, Hash)>] AdminSocialProvidersAvailableResponse data, response status code and response headers
    def admin_social_providers_available_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminIdentityProvidersApi.admin_social_providers_available ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminIdentityProvidersApi.admin_social_providers_available"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/social-providers/available'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSocialProvidersAvailableResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminIdentityProvidersApi.admin_social_providers_available",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminIdentityProvidersApi#admin_social_providers_available\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the OAuth callback URL of every configured provider
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSocialProvidersCallbackUrlsResponse]
    def admin_social_providers_callback_urls(org_id, opts = {})
      data, _status_code, _headers = admin_social_providers_callback_urls_with_http_info(org_id, opts)
      data
    end

    # Get the OAuth callback URL of every configured provider
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSocialProvidersCallbackUrlsResponse, Integer, Hash)>] AdminSocialProvidersCallbackUrlsResponse data, response status code and response headers
    def admin_social_providers_callback_urls_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminIdentityProvidersApi.admin_social_providers_callback_urls ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminIdentityProvidersApi.admin_social_providers_callback_urls"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/social-providers/callback-urls'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSocialProvidersCallbackUrlsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminIdentityProvidersApi.admin_social_providers_callback_urls",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminIdentityProvidersApi#admin_social_providers_callback_urls\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a social login provider
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSocialProvidersCreateResponse]
    def admin_social_providers_create(org_id, opts = {})
      data, _status_code, _headers = admin_social_providers_create_with_http_info(org_id, opts)
      data
    end

    # Create a social login provider
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSocialProvidersCreateResponse, Integer, Hash)>] AdminSocialProvidersCreateResponse data, response status code and response headers
    def admin_social_providers_create_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminIdentityProvidersApi.admin_social_providers_create ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminIdentityProvidersApi.admin_social_providers_create"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/social-providers'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSocialProvidersCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminIdentityProvidersApi.admin_social_providers_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminIdentityProvidersApi#admin_social_providers_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def admin_social_providers_delete(org_id, provider_id, opts = {})
      data, _status_code, _headers = admin_social_providers_delete_with_http_info(org_id, provider_id, opts)
      data
    end

    # Delete a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def admin_social_providers_delete_with_http_info(org_id, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminIdentityProvidersApi.admin_social_providers_delete ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminIdentityProvidersApi.admin_social_providers_delete"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling AdminIdentityProvidersApi.admin_social_providers_delete"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/social-providers/{providerId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminIdentityProvidersApi.admin_social_providers_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminIdentityProvidersApi#admin_social_providers_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSocialProvidersCreateResponse]
    def admin_social_providers_disable(org_id, provider_id, opts = {})
      data, _status_code, _headers = admin_social_providers_disable_with_http_info(org_id, provider_id, opts)
      data
    end

    # Disable a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSocialProvidersCreateResponse, Integer, Hash)>] AdminSocialProvidersCreateResponse data, response status code and response headers
    def admin_social_providers_disable_with_http_info(org_id, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminIdentityProvidersApi.admin_social_providers_disable ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminIdentityProvidersApi.admin_social_providers_disable"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling AdminIdentityProvidersApi.admin_social_providers_disable"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/social-providers/{providerId}/disable'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSocialProvidersCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminIdentityProvidersApi.admin_social_providers_disable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminIdentityProvidersApi#admin_social_providers_disable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSocialProvidersCreateResponse]
    def admin_social_providers_enable(org_id, provider_id, opts = {})
      data, _status_code, _headers = admin_social_providers_enable_with_http_info(org_id, provider_id, opts)
      data
    end

    # Enable a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSocialProvidersCreateResponse, Integer, Hash)>] AdminSocialProvidersCreateResponse data, response status code and response headers
    def admin_social_providers_enable_with_http_info(org_id, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminIdentityProvidersApi.admin_social_providers_enable ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminIdentityProvidersApi.admin_social_providers_enable"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling AdminIdentityProvidersApi.admin_social_providers_enable"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/social-providers/{providerId}/enable'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSocialProvidersCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminIdentityProvidersApi.admin_social_providers_enable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminIdentityProvidersApi#admin_social_providers_enable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSocialProvidersGetResponse]
    def admin_social_providers_get(org_id, provider_id, opts = {})
      data, _status_code, _headers = admin_social_providers_get_with_http_info(org_id, provider_id, opts)
      data
    end

    # Get a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSocialProvidersGetResponse, Integer, Hash)>] AdminSocialProvidersGetResponse data, response status code and response headers
    def admin_social_providers_get_with_http_info(org_id, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminIdentityProvidersApi.admin_social_providers_get ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminIdentityProvidersApi.admin_social_providers_get"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling AdminIdentityProvidersApi.admin_social_providers_get"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/social-providers/{providerId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSocialProvidersGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminIdentityProvidersApi.admin_social_providers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminIdentityProvidersApi#admin_social_providers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List social login providers
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSocialProvidersListResponse]
    def admin_social_providers_list(org_id, opts = {})
      data, _status_code, _headers = admin_social_providers_list_with_http_info(org_id, opts)
      data
    end

    # List social login providers
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSocialProvidersListResponse, Integer, Hash)>] AdminSocialProvidersListResponse data, response status code and response headers
    def admin_social_providers_list_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminIdentityProvidersApi.admin_social_providers_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminIdentityProvidersApi.admin_social_providers_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/social-providers'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSocialProvidersListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminIdentityProvidersApi.admin_social_providers_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminIdentityProvidersApi#admin_social_providers_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the available social login provider types
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSocialProvidersAvailableResponse]
    def admin_social_providers_types(org_id, opts = {})
      data, _status_code, _headers = admin_social_providers_types_with_http_info(org_id, opts)
      data
    end

    # List the available social login provider types
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSocialProvidersAvailableResponse, Integer, Hash)>] AdminSocialProvidersAvailableResponse data, response status code and response headers
    def admin_social_providers_types_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminIdentityProvidersApi.admin_social_providers_types ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminIdentityProvidersApi.admin_social_providers_types"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/social-providers/types'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSocialProvidersAvailableResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminIdentityProvidersApi.admin_social_providers_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminIdentityProvidersApi#admin_social_providers_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSocialProvidersCreateResponse]
    def patch_admin_social_providers_update(org_id, provider_id, opts = {})
      data, _status_code, _headers = patch_admin_social_providers_update_with_http_info(org_id, provider_id, opts)
      data
    end

    # Update a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSocialProvidersCreateResponse, Integer, Hash)>] AdminSocialProvidersCreateResponse data, response status code and response headers
    def patch_admin_social_providers_update_with_http_info(org_id, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminIdentityProvidersApi.patch_admin_social_providers_update ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminIdentityProvidersApi.patch_admin_social_providers_update"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling AdminIdentityProvidersApi.patch_admin_social_providers_update"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/social-providers/{providerId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSocialProvidersCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminIdentityProvidersApi.patch_admin_social_providers_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminIdentityProvidersApi#patch_admin_social_providers_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or replace a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSocialProvidersCreateResponse]
    def put_admin_social_providers_update(org_id, provider_id, opts = {})
      data, _status_code, _headers = put_admin_social_providers_update_with_http_info(org_id, provider_id, opts)
      data
    end

    # Create or replace a social login provider
    # @param org_id [String] 
    # @param provider_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSocialProvidersCreateResponse, Integer, Hash)>] AdminSocialProvidersCreateResponse data, response status code and response headers
    def put_admin_social_providers_update_with_http_info(org_id, provider_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminIdentityProvidersApi.put_admin_social_providers_update ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminIdentityProvidersApi.put_admin_social_providers_update"
      end
      # verify the required parameter 'provider_id' is set
      if @api_client.config.client_side_validation && provider_id.nil?
        fail ArgumentError, "Missing the required parameter 'provider_id' when calling AdminIdentityProvidersApi.put_admin_social_providers_update"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/social-providers/{providerId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'providerId' + '}', CGI.escape(provider_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSocialProvidersCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminIdentityProvidersApi.put_admin_social_providers_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminIdentityProvidersApi#put_admin_social_providers_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
