=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AdminMfaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Remove one of a user's authenticators
    # Revokes a single authenticator (e.g. a lost phone). Trusted devices are revoked and the user is notified. Does not bypass the tenant MFA requirement: the user is prompted to enroll again at next sign-in.
    # @param org_id [String] 
    # @param user_id [String] 
    # @param authenticator_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteUserAuthenticatorResponse]
    def delete_user_authenticator(org_id, user_id, authenticator_id, opts = {})
      data, _status_code, _headers = delete_user_authenticator_with_http_info(org_id, user_id, authenticator_id, opts)
      data
    end

    # Remove one of a user&#39;s authenticators
    # Revokes a single authenticator (e.g. a lost phone). Trusted devices are revoked and the user is notified. Does not bypass the tenant MFA requirement: the user is prompted to enroll again at next sign-in.
    # @param org_id [String] 
    # @param user_id [String] 
    # @param authenticator_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteUserAuthenticatorResponse, Integer, Hash)>] DeleteUserAuthenticatorResponse data, response status code and response headers
    def delete_user_authenticator_with_http_info(org_id, user_id, authenticator_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMfaApi.delete_user_authenticator ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminMfaApi.delete_user_authenticator"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminMfaApi.delete_user_authenticator"
      end
      # verify the required parameter 'authenticator_id' is set
      if @api_client.config.client_side_validation && authenticator_id.nil?
        fail ArgumentError, "Missing the required parameter 'authenticator_id' when calling AdminMfaApi.delete_user_authenticator"
      end
      pattern = Regexp.new(/[a-z_]+:\d+/)
      if @api_client.config.client_side_validation && authenticator_id !~ pattern
        fail ArgumentError, "invalid value for 'authenticator_id' when calling AdminMfaApi.delete_user_authenticator, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/users/{userId}/authenticators/{authenticatorId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s)).sub('{' + 'authenticatorId' + '}', CGI.escape(authenticator_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteUserAuthenticatorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminMfaApi.delete_user_authenticator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMfaApi#delete_user_authenticator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # MFA enrollment coverage
    # Share of users with MFA, by factor type and strongest tier, plus users inside or past the enrollment grace period (POL-002).
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetMfaCoverageReportResponse]
    def get_mfa_coverage_report(org_id, opts = {})
      data, _status_code, _headers = get_mfa_coverage_report_with_http_info(org_id, opts)
      data
    end

    # MFA enrollment coverage
    # Share of users with MFA, by factor type and strongest tier, plus users inside or past the enrollment grace period (POL-002).
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMfaCoverageReportResponse, Integer, Hash)>] GetMfaCoverageReportResponse data, response status code and response headers
    def get_mfa_coverage_report_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMfaApi.get_mfa_coverage_report ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminMfaApi.get_mfa_coverage_report"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/reports/mfa-coverage'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMfaCoverageReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminMfaApi.get_mfa_coverage_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMfaApi#get_mfa_coverage_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the MFA policy
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetMfaPolicyResponse]
    def get_mfa_policy(org_id, opts = {})
      data, _status_code, _headers = get_mfa_policy_with_http_info(org_id, opts)
      data
    end

    # Get the MFA policy
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMfaPolicyResponse, Integer, Hash)>] GetMfaPolicyResponse data, response status code and response headers
    def get_mfa_policy_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMfaApi.get_mfa_policy ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminMfaApi.get_mfa_policy"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/policies/mfa'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMfaPolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminMfaApi.get_mfa_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMfaApi#get_mfa_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Issue a temporary access code
    # Admin-assisted recovery (REC-006/007). The code satisfies the second factor once (or until it expires) and only lets the user enroll new factors. Requires a reason; audited as mfa.tap.issued and notified to the user. Signed-in admins must have passed MFA in the last 10 minutes (send X-MFA-Challenge with an approved step-up challenge when calling with a user token).
    # @param org_id [String] 
    # @param user_id [String] 
    # @param issue_temporary_access_code_request [IssueTemporaryAccessCodeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [IssueTemporaryAccessCodeResponse]
    def issue_temporary_access_code(org_id, user_id, issue_temporary_access_code_request, opts = {})
      data, _status_code, _headers = issue_temporary_access_code_with_http_info(org_id, user_id, issue_temporary_access_code_request, opts)
      data
    end

    # Issue a temporary access code
    # Admin-assisted recovery (REC-006/007). The code satisfies the second factor once (or until it expires) and only lets the user enroll new factors. Requires a reason; audited as mfa.tap.issued and notified to the user. Signed-in admins must have passed MFA in the last 10 minutes (send X-MFA-Challenge with an approved step-up challenge when calling with a user token).
    # @param org_id [String] 
    # @param user_id [String] 
    # @param issue_temporary_access_code_request [IssueTemporaryAccessCodeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(IssueTemporaryAccessCodeResponse, Integer, Hash)>] IssueTemporaryAccessCodeResponse data, response status code and response headers
    def issue_temporary_access_code_with_http_info(org_id, user_id, issue_temporary_access_code_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMfaApi.issue_temporary_access_code ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminMfaApi.issue_temporary_access_code"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminMfaApi.issue_temporary_access_code"
      end
      # verify the required parameter 'issue_temporary_access_code_request' is set
      if @api_client.config.client_side_validation && issue_temporary_access_code_request.nil?
        fail ArgumentError, "Missing the required parameter 'issue_temporary_access_code_request' when calling AdminMfaApi.issue_temporary_access_code"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/users/{userId}/temporary-access-code'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(issue_temporary_access_code_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IssueTemporaryAccessCodeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminMfaApi.issue_temporary_access_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMfaApi#issue_temporary_access_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a user's authenticators
    # Every enrolled authenticator (passkeys, push devices, authenticator apps, phone numbers, email codes, recovery codes) with tier, state and usage. Secrets are never returned.
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListUserAuthenticatorsResponse]
    def list_user_authenticators(org_id, user_id, opts = {})
      data, _status_code, _headers = list_user_authenticators_with_http_info(org_id, user_id, opts)
      data
    end

    # List a user&#39;s authenticators
    # Every enrolled authenticator (passkeys, push devices, authenticator apps, phone numbers, email codes, recovery codes) with tier, state and usage. Secrets are never returned.
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListUserAuthenticatorsResponse, Integer, Hash)>] ListUserAuthenticatorsResponse data, response status code and response headers
    def list_user_authenticators_with_http_info(org_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMfaApi.list_user_authenticators ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminMfaApi.list_user_authenticators"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminMfaApi.list_user_authenticators"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/users/{userId}/authenticators'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListUserAuthenticatorsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminMfaApi.list_user_authenticators",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMfaApi#list_user_authenticators\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update the MFA policy
    # Partial updates are accepted; unknown keys are ignored and values are clamped to their documented ranges. Takes effect at each user's next authentication (POL-004).
    # @param org_id [String] 
    # @param mfa_policy [MfaPolicy] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateMfaPolicyResponse]
    def update_mfa_policy(org_id, mfa_policy, opts = {})
      data, _status_code, _headers = update_mfa_policy_with_http_info(org_id, mfa_policy, opts)
      data
    end

    # Update the MFA policy
    # Partial updates are accepted; unknown keys are ignored and values are clamped to their documented ranges. Takes effect at each user&#39;s next authentication (POL-004).
    # @param org_id [String] 
    # @param mfa_policy [MfaPolicy] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateMfaPolicyResponse, Integer, Hash)>] UpdateMfaPolicyResponse data, response status code and response headers
    def update_mfa_policy_with_http_info(org_id, mfa_policy, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminMfaApi.update_mfa_policy ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminMfaApi.update_mfa_policy"
      end
      # verify the required parameter 'mfa_policy' is set
      if @api_client.config.client_side_validation && mfa_policy.nil?
        fail ArgumentError, "Missing the required parameter 'mfa_policy' when calling AdminMfaApi.update_mfa_policy"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/policies/mfa'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mfa_policy)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateMfaPolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminMfaApi.update_mfa_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminMfaApi#update_mfa_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
