=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AdminWebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a webhook
    # The signing secret is generated server-side and returned once in this response only.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksCreateResponse]
    def admin_webhooks_create(org_id, opts = {})
      data, _status_code, _headers = admin_webhooks_create_with_http_info(org_id, opts)
      data
    end

    # Create a webhook
    # The signing secret is generated server-side and returned once in this response only.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksCreateResponse, Integer, Hash)>] AdminWebhooksCreateResponse data, response status code and response headers
    def admin_webhooks_create_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_create ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_create"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def admin_webhooks_delete(org_id, webhook_id, opts = {})
      data, _status_code, _headers = admin_webhooks_delete_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Delete a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def admin_webhooks_delete_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_delete ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_delete"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.admin_webhooks_delete"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/{webhookId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List recent deliveries
    # Most recent delivery attempts for the webhook (single page, newest first). Optional `status` filter (pending|success|failed|dead_lettered) and `limit` (1-200, default 50).
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksDeliveriesListResponse]
    def admin_webhooks_deliveries_list(org_id, webhook_id, opts = {})
      data, _status_code, _headers = admin_webhooks_deliveries_list_with_http_info(org_id, webhook_id, opts)
      data
    end

    # List recent deliveries
    # Most recent delivery attempts for the webhook (single page, newest first). Optional &#x60;status&#x60; filter (pending|success|failed|dead_lettered) and &#x60;limit&#x60; (1-200, default 50).
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksDeliveriesListResponse, Integer, Hash)>] AdminWebhooksDeliveriesListResponse data, response status code and response headers
    def admin_webhooks_deliveries_list_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_deliveries_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_deliveries_list"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.admin_webhooks_deliveries_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/{webhookId}/deliveries'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksDeliveriesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_deliveries_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_deliveries_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replay a delivery
    # Resets the delivery's failure state (attempt history is preserved) and re-enqueues it. Idempotent on already-pending rows.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksDeliveryReplayResponse]
    def admin_webhooks_delivery_replay(org_id, webhook_id, delivery_id, opts = {})
      data, _status_code, _headers = admin_webhooks_delivery_replay_with_http_info(org_id, webhook_id, delivery_id, opts)
      data
    end

    # Replay a delivery
    # Resets the delivery&#39;s failure state (attempt history is preserved) and re-enqueues it. Idempotent on already-pending rows.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksDeliveryReplayResponse, Integer, Hash)>] AdminWebhooksDeliveryReplayResponse data, response status code and response headers
    def admin_webhooks_delivery_replay_with_http_info(org_id, webhook_id, delivery_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_delivery_replay ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_delivery_replay"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.admin_webhooks_delivery_replay"
      end
      # verify the required parameter 'delivery_id' is set
      if @api_client.config.client_side_validation && delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_id' when calling AdminWebhooksApi.admin_webhooks_delivery_replay"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/{webhookId}/deliveries/{deliveryId}/replay'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s)).sub('{' + 'deliveryId' + '}', CGI.escape(delivery_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksDeliveryReplayResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_delivery_replay",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_delivery_replay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a delivery
    # A single delivery including the event payload and the per-attempt history.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksDeliveryShowResponse]
    def admin_webhooks_delivery_show(org_id, webhook_id, delivery_id, opts = {})
      data, _status_code, _headers = admin_webhooks_delivery_show_with_http_info(org_id, webhook_id, delivery_id, opts)
      data
    end

    # Get a delivery
    # A single delivery including the event payload and the per-attempt history.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param delivery_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksDeliveryShowResponse, Integer, Hash)>] AdminWebhooksDeliveryShowResponse data, response status code and response headers
    def admin_webhooks_delivery_show_with_http_info(org_id, webhook_id, delivery_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_delivery_show ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_delivery_show"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.admin_webhooks_delivery_show"
      end
      # verify the required parameter 'delivery_id' is set
      if @api_client.config.client_side_validation && delivery_id.nil?
        fail ArgumentError, "Missing the required parameter 'delivery_id' when calling AdminWebhooksApi.admin_webhooks_delivery_show"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/{webhookId}/deliveries/{deliveryId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s)).sub('{' + 'deliveryId' + '}', CGI.escape(delivery_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksDeliveryShowResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_delivery_show",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_delivery_show\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available webhook event types
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksEventsResponse]
    def admin_webhooks_events(org_id, opts = {})
      data, _status_code, _headers = admin_webhooks_events_with_http_info(org_id, opts)
      data
    end

    # List available webhook event types
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksEventsResponse, Integer, Hash)>] AdminWebhooksEventsResponse data, response status code and response headers
    def admin_webhooks_events_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_events ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_events"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/events'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksEventsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksGetResponse]
    def admin_webhooks_get(org_id, webhook_id, opts = {})
      data, _status_code, _headers = admin_webhooks_get_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Get a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksGetResponse, Integer, Hash)>] AdminWebhooksGetResponse data, response status code and response headers
    def admin_webhooks_get_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_get ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_get"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.admin_webhooks_get"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/{webhookId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhooks
    # Paginated list of the tenant's webhooks (summary shape, without `configuration`). Filter with `isActive`, `event`; sort with `sortBy` (createdAt|isActive) and `sortDir`.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksListResponse]
    def admin_webhooks_list(org_id, opts = {})
      data, _status_code, _headers = admin_webhooks_list_with_http_info(org_id, opts)
      data
    end

    # List webhooks
    # Paginated list of the tenant&#39;s webhooks (summary shape, without &#x60;configuration&#x60;). Filter with &#x60;isActive&#x60;, &#x60;event&#x60;; sort with &#x60;sortBy&#x60; (createdAt|isActive) and &#x60;sortDir&#x60;.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksListResponse, Integer, Hash)>] AdminWebhooksListResponse data, response status code and response headers
    def admin_webhooks_list_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate the signing secret
    # Generates a new HMAC secret and keeps the previous one for a grace window. The new secret is returned once.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksRotateSecretResponse]
    def admin_webhooks_rotate_secret(org_id, webhook_id, opts = {})
      data, _status_code, _headers = admin_webhooks_rotate_secret_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Rotate the signing secret
    # Generates a new HMAC secret and keeps the previous one for a grace window. The new secret is returned once.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksRotateSecretResponse, Integer, Hash)>] AdminWebhooksRotateSecretResponse data, response status code and response headers
    def admin_webhooks_rotate_secret_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_rotate_secret ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_rotate_secret"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.admin_webhooks_rotate_secret"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/{webhookId}/rotate-secret'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksRotateSecretResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_rotate_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_rotate_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a test delivery
    # POSTs a signed `test.webhook` payload to the webhook URL and reports the receiver's status. A non-2xx receiver response still yields HTTP 200 with `success: false`; a transport failure yields 502.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksTestResponse]
    def admin_webhooks_test(org_id, webhook_id, opts = {})
      data, _status_code, _headers = admin_webhooks_test_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Send a test delivery
    # POSTs a signed &#x60;test.webhook&#x60; payload to the webhook URL and reports the receiver&#39;s status. A non-2xx receiver response still yields HTTP 200 with &#x60;success: false&#x60;; a transport failure yields 502.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksTestResponse, Integer, Hash)>] AdminWebhooksTestResponse data, response status code and response headers
    def admin_webhooks_test_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_test ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_test"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.admin_webhooks_test"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/{webhookId}/test'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksTestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_test",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a webhook tunnel
    # Creates a transient `tunnel://` webhook subscribed to every event (`*`) for `lumo tunnel`. Deliveries are stored instead of sent, and can be consumed from the stream endpoint.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksTunnelStartResponse]
    def admin_webhooks_tunnel_start(org_id, opts = {})
      data, _status_code, _headers = admin_webhooks_tunnel_start_with_http_info(org_id, opts)
      data
    end

    # Start a webhook tunnel
    # Creates a transient &#x60;tunnel://&#x60; webhook subscribed to every event (&#x60;*&#x60;) for &#x60;lumo tunnel&#x60;. Deliveries are stored instead of sent, and can be consumed from the stream endpoint.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksTunnelStartResponse, Integer, Hash)>] AdminWebhooksTunnelStartResponse data, response status code and response headers
    def admin_webhooks_tunnel_start_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_tunnel_start ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_tunnel_start"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/tunnel/start'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksTunnelStartResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_tunnel_start",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_tunnel_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop a webhook tunnel
    # Deletes the tunnel webhook and its pending deliveries. Only `tunnel://` webhooks can be stopped here.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def admin_webhooks_tunnel_stop(org_id, webhook_id, opts = {})
      data, _status_code, _headers = admin_webhooks_tunnel_stop_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Stop a webhook tunnel
    # Deletes the tunnel webhook and its pending deliveries. Only &#x60;tunnel://&#x60; webhooks can be stopped here.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def admin_webhooks_tunnel_stop_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_tunnel_stop ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_tunnel_stop"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.admin_webhooks_tunnel_stop"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/tunnel/{webhookId}/stop'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_tunnel_stop",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_tunnel_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stream tunnel deliveries (SSE)
    # Long-lived Server-Sent Events stream of deliveries recorded for a tunnel webhook. The stream polls every 2 seconds and closes after 10 minutes; clients should reconnect.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def admin_webhooks_tunnel_stream(org_id, webhook_id, opts = {})
      data, _status_code, _headers = admin_webhooks_tunnel_stream_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Stream tunnel deliveries (SSE)
    # Long-lived Server-Sent Events stream of deliveries recorded for a tunnel webhook. The stream polls every 2 seconds and closes after 10 minutes; clients should reconnect.
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def admin_webhooks_tunnel_stream_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_tunnel_stream ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_tunnel_stream"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.admin_webhooks_tunnel_stream"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/tunnel/{webhookId}/stream'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/event-stream']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_tunnel_stream",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_tunnel_stream\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksWebhooksDisableResponse]
    def admin_webhooks_webhooks_disable(org_id, webhook_id, opts = {})
      data, _status_code, _headers = admin_webhooks_webhooks_disable_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Disable a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksWebhooksDisableResponse, Integer, Hash)>] AdminWebhooksWebhooksDisableResponse data, response status code and response headers
    def admin_webhooks_webhooks_disable_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_webhooks_disable ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_webhooks_disable"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.admin_webhooks_webhooks_disable"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/{webhookId}/disable'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksWebhooksDisableResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_webhooks_disable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_webhooks_disable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminWebhooksWebhooksEnableResponse]
    def admin_webhooks_webhooks_enable(org_id, webhook_id, opts = {})
      data, _status_code, _headers = admin_webhooks_webhooks_enable_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Enable a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminWebhooksWebhooksEnableResponse, Integer, Hash)>] AdminWebhooksWebhooksEnableResponse data, response status code and response headers
    def admin_webhooks_webhooks_enable_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.admin_webhooks_webhooks_enable ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.admin_webhooks_webhooks_enable"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.admin_webhooks_webhooks_enable"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/{webhookId}/enable'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminWebhooksWebhooksEnableResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.admin_webhooks_webhooks_enable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#admin_webhooks_webhooks_enable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Partially update a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PutAdminWebhooksUpdateResponse]
    def patch_admin_webhooks_update(org_id, webhook_id, opts = {})
      data, _status_code, _headers = patch_admin_webhooks_update_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Partially update a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PutAdminWebhooksUpdateResponse, Integer, Hash)>] PutAdminWebhooksUpdateResponse data, response status code and response headers
    def patch_admin_webhooks_update_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.patch_admin_webhooks_update ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.patch_admin_webhooks_update"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.patch_admin_webhooks_update"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/{webhookId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PutAdminWebhooksUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.patch_admin_webhooks_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#patch_admin_webhooks_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PutAdminWebhooksUpdateResponse]
    def put_admin_webhooks_update(org_id, webhook_id, opts = {})
      data, _status_code, _headers = put_admin_webhooks_update_with_http_info(org_id, webhook_id, opts)
      data
    end

    # Update a webhook
    # @param org_id [String] 
    # @param webhook_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PutAdminWebhooksUpdateResponse, Integer, Hash)>] PutAdminWebhooksUpdateResponse data, response status code and response headers
    def put_admin_webhooks_update_with_http_info(org_id, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminWebhooksApi.put_admin_webhooks_update ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminWebhooksApi.put_admin_webhooks_update"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AdminWebhooksApi.put_admin_webhooks_update"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/webhooks/{webhookId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PutAdminWebhooksUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminWebhooksApi.put_admin_webhooks_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminWebhooksApi#put_admin_webhooks_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
