=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AdminOAuthClientsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an OAuth client
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateClientResponse]
    def create_client(org_id, opts = {})
      data, _status_code, _headers = create_client_with_http_info(org_id, opts)
      data
    end

    # Create an OAuth client
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateClientResponse, Integer, Hash)>] CreateClientResponse data, response status code and response headers
    def create_client_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminOAuthClientsApi.create_client ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminOAuthClientsApi.create_client"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateClientResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminOAuthClientsApi.create_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminOAuthClientsApi#create_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def delete_client(org_id, client_id, opts = {})
      data, _status_code, _headers = delete_client_with_http_info(org_id, client_id, opts)
      data
    end

    # Delete an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def delete_client_with_http_info(org_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminOAuthClientsApi.delete_client ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminOAuthClientsApi.delete_client"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AdminOAuthClientsApi.delete_client"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients/{clientId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'clientId' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminOAuthClientsApi.delete_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminOAuthClientsApi#delete_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateClientResponse]
    def disable_client(org_id, client_id, opts = {})
      data, _status_code, _headers = disable_client_with_http_info(org_id, client_id, opts)
      data
    end

    # Disable an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateClientResponse, Integer, Hash)>] UpdateClientResponse data, response status code and response headers
    def disable_client_with_http_info(org_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminOAuthClientsApi.disable_client ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminOAuthClientsApi.disable_client"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AdminOAuthClientsApi.disable_client"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients/{clientId}/disable'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'clientId' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateClientResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminOAuthClientsApi.disable_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminOAuthClientsApi#disable_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateClientResponse]
    def enable_client(org_id, client_id, opts = {})
      data, _status_code, _headers = enable_client_with_http_info(org_id, client_id, opts)
      data
    end

    # Enable an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateClientResponse, Integer, Hash)>] UpdateClientResponse data, response status code and response headers
    def enable_client_with_http_info(org_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminOAuthClientsApi.enable_client ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminOAuthClientsApi.enable_client"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AdminOAuthClientsApi.enable_client"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients/{clientId}/enable'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'clientId' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateClientResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminOAuthClientsApi.enable_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminOAuthClientsApi#enable_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetClientResponse]
    def get_client(org_id, client_id, opts = {})
      data, _status_code, _headers = get_client_with_http_info(org_id, client_id, opts)
      data
    end

    # Get an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetClientResponse, Integer, Hash)>] GetClientResponse data, response status code and response headers
    def get_client_with_http_info(org_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminOAuthClientsApi.get_client ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminOAuthClientsApi.get_client"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AdminOAuthClientsApi.get_client"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients/{clientId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'clientId' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetClientResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminOAuthClientsApi.get_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminOAuthClientsApi#get_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the scopes granted to an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListClientScopesResponse]
    def list_client_scopes(org_id, client_id, opts = {})
      data, _status_code, _headers = list_client_scopes_with_http_info(org_id, client_id, opts)
      data
    end

    # List the scopes granted to an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListClientScopesResponse, Integer, Hash)>] ListClientScopesResponse data, response status code and response headers
    def list_client_scopes_with_http_info(org_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminOAuthClientsApi.list_client_scopes ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminOAuthClientsApi.list_client_scopes"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AdminOAuthClientsApi.list_client_scopes"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients/{clientId}/scopes'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'clientId' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListClientScopesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminOAuthClientsApi.list_client_scopes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminOAuthClientsApi#list_client_scopes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List OAuth clients
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListClientsResponse]
    def list_clients(org_id, opts = {})
      data, _status_code, _headers = list_clients_with_http_info(org_id, opts)
      data
    end

    # List OAuth clients
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListClientsResponse, Integer, Hash)>] ListClientsResponse data, response status code and response headers
    def list_clients_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminOAuthClientsApi.list_clients ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminOAuthClientsApi.list_clients"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListClientsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminOAuthClientsApi.list_clients",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminOAuthClientsApi#list_clients\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateClientResponse]
    def patch_client(org_id, client_id, opts = {})
      data, _status_code, _headers = patch_client_with_http_info(org_id, client_id, opts)
      data
    end

    # Update an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateClientResponse, Integer, Hash)>] UpdateClientResponse data, response status code and response headers
    def patch_client_with_http_info(org_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminOAuthClientsApi.patch_client ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminOAuthClientsApi.patch_client"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AdminOAuthClientsApi.patch_client"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients/{clientId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'clientId' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateClientResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminOAuthClientsApi.patch_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminOAuthClientsApi#patch_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate an OAuth client secret
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RotateClientSecretResponse]
    def rotate_client_secret(org_id, client_id, opts = {})
      data, _status_code, _headers = rotate_client_secret_with_http_info(org_id, client_id, opts)
      data
    end

    # Rotate an OAuth client secret
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RotateClientSecretResponse, Integer, Hash)>] RotateClientSecretResponse data, response status code and response headers
    def rotate_client_secret_with_http_info(org_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminOAuthClientsApi.rotate_client_secret ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminOAuthClientsApi.rotate_client_secret"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AdminOAuthClientsApi.rotate_client_secret"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients/{clientId}/rotate-secret'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'clientId' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RotateClientSecretResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminOAuthClientsApi.rotate_client_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminOAuthClientsApi#rotate_client_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace the scopes granted to an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SetClientScopesResponse]
    def set_client_scopes(org_id, client_id, opts = {})
      data, _status_code, _headers = set_client_scopes_with_http_info(org_id, client_id, opts)
      data
    end

    # Replace the scopes granted to an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetClientScopesResponse, Integer, Hash)>] SetClientScopesResponse data, response status code and response headers
    def set_client_scopes_with_http_info(org_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminOAuthClientsApi.set_client_scopes ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminOAuthClientsApi.set_client_scopes"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AdminOAuthClientsApi.set_client_scopes"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients/{clientId}/scopes'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'clientId' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SetClientScopesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminOAuthClientsApi.set_client_scopes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminOAuthClientsApi#set_client_scopes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateClientResponse]
    def update_client(org_id, client_id, opts = {})
      data, _status_code, _headers = update_client_with_http_info(org_id, client_id, opts)
      data
    end

    # Replace an OAuth client
    # @param org_id [String] 
    # @param client_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateClientResponse, Integer, Hash)>] UpdateClientResponse data, response status code and response headers
    def update_client_with_http_info(org_id, client_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminOAuthClientsApi.update_client ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminOAuthClientsApi.update_client"
      end
      # verify the required parameter 'client_id' is set
      if @api_client.config.client_side_validation && client_id.nil?
        fail ArgumentError, "Missing the required parameter 'client_id' when calling AdminOAuthClientsApi.update_client"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/clients/{clientId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'clientId' + '}', CGI.escape(client_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateClientResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminOAuthClientsApi.update_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminOAuthClientsApi#update_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
