=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AdminEmailApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_email_templates_delete(org_id, type, opts = {})
      admin_email_templates_delete_with_http_info(org_id, type, opts)
      nil
    end

    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_email_templates_delete_with_http_info(org_id, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminEmailApi.admin_email_templates_delete ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminEmailApi.admin_email_templates_delete"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling AdminEmailApi.admin_email_templates_delete"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/email-templates/{type}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminEmailApi.admin_email_templates_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminEmailApi#admin_email_templates_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_email_templates_get(org_id, type, opts = {})
      admin_email_templates_get_with_http_info(org_id, type, opts)
      nil
    end

    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_email_templates_get_with_http_info(org_id, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminEmailApi.admin_email_templates_get ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminEmailApi.admin_email_templates_get"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling AdminEmailApi.admin_email_templates_get"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/email-templates/{type}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminEmailApi.admin_email_templates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminEmailApi#admin_email_templates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_email_templates_list(org_id, opts = {})
      admin_email_templates_list_with_http_info(org_id, opts)
      nil
    end

    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_email_templates_list_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminEmailApi.admin_email_templates_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminEmailApi.admin_email_templates_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/email-templates'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminEmailApi.admin_email_templates_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminEmailApi#admin_email_templates_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_email_templates_preview(org_id, type, opts = {})
      admin_email_templates_preview_with_http_info(org_id, type, opts)
      nil
    end

    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_email_templates_preview_with_http_info(org_id, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminEmailApi.admin_email_templates_preview ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminEmailApi.admin_email_templates_preview"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling AdminEmailApi.admin_email_templates_preview"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/email-templates/{type}/preview'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminEmailApi.admin_email_templates_preview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminEmailApi#admin_email_templates_preview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_email_templates_upsert(org_id, type, opts = {})
      admin_email_templates_upsert_with_http_info(org_id, type, opts)
      nil
    end

    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_email_templates_upsert_with_http_info(org_id, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminEmailApi.admin_email_templates_upsert ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminEmailApi.admin_email_templates_upsert"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling AdminEmailApi.admin_email_templates_upsert"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/email-templates/{type}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminEmailApi.admin_email_templates_upsert",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminEmailApi#admin_email_templates_upsert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def admin_email_templates_variables(org_id, type, opts = {})
      admin_email_templates_variables_with_http_info(org_id, type, opts)
      nil
    end

    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_email_templates_variables_with_http_info(org_id, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminEmailApi.admin_email_templates_variables ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminEmailApi.admin_email_templates_variables"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling AdminEmailApi.admin_email_templates_variables"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/email-templates/{type}/variables'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminEmailApi.admin_email_templates_variables",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminEmailApi#admin_email_templates_variables\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
