=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AdminSandboxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Destroy a sandbox tenant
    # @param org_id [String] 
    # @param sandbox_slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def admin_sandbox_destroy(org_id, sandbox_slug, opts = {})
      data, _status_code, _headers = admin_sandbox_destroy_with_http_info(org_id, sandbox_slug, opts)
      data
    end

    # Destroy a sandbox tenant
    # @param org_id [String] 
    # @param sandbox_slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def admin_sandbox_destroy_with_http_info(org_id, sandbox_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSandboxApi.admin_sandbox_destroy ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSandboxApi.admin_sandbox_destroy"
      end
      # verify the required parameter 'sandbox_slug' is set
      if @api_client.config.client_side_validation && sandbox_slug.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_slug' when calling AdminSandboxApi.admin_sandbox_destroy"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/sandbox/{sandboxSlug}/destroy'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'sandboxSlug' + '}', CGI.escape(sandbox_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSandboxApi.admin_sandbox_destroy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSandboxApi#admin_sandbox_destroy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the caller's sandbox tenants
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminSandboxListResponse]
    def admin_sandbox_list(org_id, opts = {})
      data, _status_code, _headers = admin_sandbox_list_with_http_info(org_id, opts)
      data
    end

    # List the caller&#39;s sandbox tenants
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminSandboxListResponse, Integer, Hash)>] AdminSandboxListResponse data, response status code and response headers
    def admin_sandbox_list_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSandboxApi.admin_sandbox_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSandboxApi.admin_sandbox_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/sandbox'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSandboxListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSandboxApi.admin_sandbox_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSandboxApi#admin_sandbox_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Spawn a sandbox tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AdminSandboxSpawnRequest] :admin_sandbox_spawn_request 
    # @return [AdminSandboxSpawnResponse]
    def admin_sandbox_spawn(org_id, opts = {})
      data, _status_code, _headers = admin_sandbox_spawn_with_http_info(org_id, opts)
      data
    end

    # Spawn a sandbox tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AdminSandboxSpawnRequest] :admin_sandbox_spawn_request 
    # @return [Array<(AdminSandboxSpawnResponse, Integer, Hash)>] AdminSandboxSpawnResponse data, response status code and response headers
    def admin_sandbox_spawn_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminSandboxApi.admin_sandbox_spawn ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminSandboxApi.admin_sandbox_spawn"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/sandbox/spawn'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'admin_sandbox_spawn_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AdminSandboxSpawnResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminSandboxApi.admin_sandbox_spawn",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminSandboxApi#admin_sandbox_spawn\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
