=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AdminAuditLogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List the distinct audit action types recorded for the tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAuditLogsActionsResponse]
    def admin_audit_logs_actions(org_id, opts = {})
      data, _status_code, _headers = admin_audit_logs_actions_with_http_info(org_id, opts)
      data
    end

    # List the distinct audit action types recorded for the tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAuditLogsActionsResponse, Integer, Hash)>] AdminAuditLogsActionsResponse data, response status code and response headers
    def admin_audit_logs_actions_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAuditLogsApi.admin_audit_logs_actions ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAuditLogsApi.admin_audit_logs_actions"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/audit-logs/actions'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAuditLogsActionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAuditLogsApi.admin_audit_logs_actions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAuditLogsApi#admin_audit_logs_actions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export audit logs as CSV (default) or JSON
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def admin_audit_logs_export(org_id, opts = {})
      data, _status_code, _headers = admin_audit_logs_export_with_http_info(org_id, opts)
      data
    end

    # Export audit logs as CSV (default) or JSON
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def admin_audit_logs_export_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAuditLogsApi.admin_audit_logs_export ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAuditLogsApi.admin_audit_logs_export"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/audit-logs/export'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/csv', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAuditLogsApi.admin_audit_logs_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAuditLogsApi#admin_audit_logs_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an audit log entry
    # @param org_id [String] 
    # @param log_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAuditLogsGetResponse]
    def admin_audit_logs_get(org_id, log_id, opts = {})
      data, _status_code, _headers = admin_audit_logs_get_with_http_info(org_id, log_id, opts)
      data
    end

    # Get an audit log entry
    # @param org_id [String] 
    # @param log_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAuditLogsGetResponse, Integer, Hash)>] AdminAuditLogsGetResponse data, response status code and response headers
    def admin_audit_logs_get_with_http_info(org_id, log_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAuditLogsApi.admin_audit_logs_get ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAuditLogsApi.admin_audit_logs_get"
      end
      # verify the required parameter 'log_id' is set
      if @api_client.config.client_side_validation && log_id.nil?
        fail ArgumentError, "Missing the required parameter 'log_id' when calling AdminAuditLogsApi.admin_audit_logs_get"
      end
      pattern = Regexp.new(/\d+/)
      if @api_client.config.client_side_validation && log_id !~ pattern
        fail ArgumentError, "invalid value for 'log_id' when calling AdminAuditLogsApi.admin_audit_logs_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/audit-logs/{logId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'logId' + '}', CGI.escape(log_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAuditLogsGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAuditLogsApi.admin_audit_logs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAuditLogsApi#admin_audit_logs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List audit log entries
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAuditLogsListResponse]
    def admin_audit_logs_list(org_id, opts = {})
      data, _status_code, _headers = admin_audit_logs_list_with_http_info(org_id, opts)
      data
    end

    # List audit log entries
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAuditLogsListResponse, Integer, Hash)>] AdminAuditLogsListResponse data, response status code and response headers
    def admin_audit_logs_list_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAuditLogsApi.admin_audit_logs_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAuditLogsApi.admin_audit_logs_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/audit-logs'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAuditLogsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAuditLogsApi.admin_audit_logs_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAuditLogsApi#admin_audit_logs_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get audit log retention settings
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAuditLogsRetentionResponse]
    def admin_audit_logs_retention(org_id, opts = {})
      data, _status_code, _headers = admin_audit_logs_retention_with_http_info(org_id, opts)
      data
    end

    # Get audit log retention settings
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAuditLogsRetentionResponse, Integer, Hash)>] AdminAuditLogsRetentionResponse data, response status code and response headers
    def admin_audit_logs_retention_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAuditLogsApi.admin_audit_logs_retention ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAuditLogsApi.admin_audit_logs_retention"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/audit-logs/retention'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAuditLogsRetentionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAuditLogsApi.admin_audit_logs_retention",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAuditLogsApi#admin_audit_logs_retention\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Audit log statistics for a period (default: last 30 days)
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAuditLogsStatsResponse]
    def admin_audit_logs_stats(org_id, opts = {})
      data, _status_code, _headers = admin_audit_logs_stats_with_http_info(org_id, opts)
      data
    end

    # Audit log statistics for a period (default: last 30 days)
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAuditLogsStatsResponse, Integer, Hash)>] AdminAuditLogsStatsResponse data, response status code and response headers
    def admin_audit_logs_stats_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAuditLogsApi.admin_audit_logs_stats ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAuditLogsApi.admin_audit_logs_stats"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/audit-logs/stats'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAuditLogsStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAuditLogsApi.admin_audit_logs_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAuditLogsApi#admin_audit_logs_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update audit log retention settings
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAuditLogsRetentionResponse]
    def patch_admin_audit_logs_retention_update(org_id, opts = {})
      data, _status_code, _headers = patch_admin_audit_logs_retention_update_with_http_info(org_id, opts)
      data
    end

    # Update audit log retention settings
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAuditLogsRetentionResponse, Integer, Hash)>] AdminAuditLogsRetentionResponse data, response status code and response headers
    def patch_admin_audit_logs_retention_update_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAuditLogsApi.patch_admin_audit_logs_retention_update ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAuditLogsApi.patch_admin_audit_logs_retention_update"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/audit-logs/retention'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAuditLogsRetentionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAuditLogsApi.patch_admin_audit_logs_retention_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAuditLogsApi#patch_admin_audit_logs_retention_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update audit log retention settings
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminAuditLogsRetentionResponse]
    def put_admin_audit_logs_retention_update(org_id, opts = {})
      data, _status_code, _headers = put_admin_audit_logs_retention_update_with_http_info(org_id, opts)
      data
    end

    # Update audit log retention settings
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminAuditLogsRetentionResponse, Integer, Hash)>] AdminAuditLogsRetentionResponse data, response status code and response headers
    def put_admin_audit_logs_retention_update_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminAuditLogsApi.put_admin_audit_logs_retention_update ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminAuditLogsApi.put_admin_audit_logs_retention_update"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/audit-logs/retention'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminAuditLogsRetentionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminAuditLogsApi.put_admin_audit_logs_retention_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminAuditLogsApi#put_admin_audit_logs_retention_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
