=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AdminRolesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add permission(s) to a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def admin_roles_add_permissions(org_id, role_id, opts = {})
      data, _status_code, _headers = admin_roles_add_permissions_with_http_info(org_id, role_id, opts)
      data
    end

    # Add permission(s) to a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def admin_roles_add_permissions_with_http_info(org_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.admin_roles_add_permissions ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.admin_roles_add_permissions"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminRolesApi.admin_roles_add_permissions"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles/{roleId}/permissions'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.admin_roles_add_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#admin_roles_add_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign a user to a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def admin_roles_add_user(org_id, role_id, opts = {})
      data, _status_code, _headers = admin_roles_add_user_with_http_info(org_id, role_id, opts)
      data
    end

    # Assign a user to a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def admin_roles_add_user_with_http_info(org_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.admin_roles_add_user ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.admin_roles_add_user"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminRolesApi.admin_roles_add_user"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles/{roleId}/users'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.admin_roles_add_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#admin_roles_add_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new role
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminRolesCreateResponse]
    def admin_roles_create(org_id, opts = {})
      data, _status_code, _headers = admin_roles_create_with_http_info(org_id, opts)
      data
    end

    # Create a new role
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminRolesCreateResponse, Integer, Hash)>] AdminRolesCreateResponse data, response status code and response headers
    def admin_roles_create_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.admin_roles_create ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.admin_roles_create"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminRolesCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.admin_roles_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#admin_roles_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def admin_roles_delete(org_id, role_id, opts = {})
      data, _status_code, _headers = admin_roles_delete_with_http_info(org_id, role_id, opts)
      data
    end

    # Delete a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def admin_roles_delete_with_http_info(org_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.admin_roles_delete ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.admin_roles_delete"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminRolesApi.admin_roles_delete"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles/{roleId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.admin_roles_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#admin_roles_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single role by ID or slug
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminRolesGetResponse]
    def admin_roles_get(org_id, role_id, opts = {})
      data, _status_code, _headers = admin_roles_get_with_http_info(org_id, role_id, opts)
      data
    end

    # Get a single role by ID or slug
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminRolesGetResponse, Integer, Hash)>] AdminRolesGetResponse data, response status code and response headers
    def admin_roles_get_with_http_info(org_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.admin_roles_get ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.admin_roles_get"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminRolesApi.admin_roles_get"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles/{roleId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminRolesGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.admin_roles_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#admin_roles_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get role permissions
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminRolesGetPermissionsResponse]
    def admin_roles_get_permissions(org_id, role_id, opts = {})
      data, _status_code, _headers = admin_roles_get_permissions_with_http_info(org_id, role_id, opts)
      data
    end

    # Get role permissions
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminRolesGetPermissionsResponse, Integer, Hash)>] AdminRolesGetPermissionsResponse data, response status code and response headers
    def admin_roles_get_permissions_with_http_info(org_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.admin_roles_get_permissions ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.admin_roles_get_permissions"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminRolesApi.admin_roles_get_permissions"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles/{roleId}/permissions'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminRolesGetPermissionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.admin_roles_get_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#admin_roles_get_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get users assigned to a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminRolesGetUsersResponse]
    def admin_roles_get_users(org_id, role_id, opts = {})
      data, _status_code, _headers = admin_roles_get_users_with_http_info(org_id, role_id, opts)
      data
    end

    # Get users assigned to a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminRolesGetUsersResponse, Integer, Hash)>] AdminRolesGetUsersResponse data, response status code and response headers
    def admin_roles_get_users_with_http_info(org_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.admin_roles_get_users ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.admin_roles_get_users"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminRolesApi.admin_roles_get_users"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles/{roleId}/users'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminRolesGetUsersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.admin_roles_get_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#admin_roles_get_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all roles in the tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminRolesListResponse]
    def admin_roles_list(org_id, opts = {})
      data, _status_code, _headers = admin_roles_list_with_http_info(org_id, opts)
      data
    end

    # List all roles in the tenant
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminRolesListResponse, Integer, Hash)>] AdminRolesListResponse data, response status code and response headers
    def admin_roles_list_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.admin_roles_list ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.admin_roles_list"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminRolesListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.admin_roles_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#admin_roles_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a permission from a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def admin_roles_remove_permission(org_id, role_id, permission_id, opts = {})
      data, _status_code, _headers = admin_roles_remove_permission_with_http_info(org_id, role_id, permission_id, opts)
      data
    end

    # Remove a permission from a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def admin_roles_remove_permission_with_http_info(org_id, role_id, permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.admin_roles_remove_permission ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.admin_roles_remove_permission"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminRolesApi.admin_roles_remove_permission"
      end
      # verify the required parameter 'permission_id' is set
      if @api_client.config.client_side_validation && permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'permission_id' when calling AdminRolesApi.admin_roles_remove_permission"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles/{roleId}/permissions/{permissionId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s)).sub('{' + 'permissionId' + '}', CGI.escape(permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.admin_roles_remove_permission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#admin_roles_remove_permission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a user from a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def admin_roles_remove_user(org_id, role_id, user_id, opts = {})
      data, _status_code, _headers = admin_roles_remove_user_with_http_info(org_id, role_id, user_id, opts)
      data
    end

    # Remove a user from a role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def admin_roles_remove_user_with_http_info(org_id, role_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.admin_roles_remove_user ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.admin_roles_remove_user"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminRolesApi.admin_roles_remove_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminRolesApi.admin_roles_remove_user"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles/{roleId}/users/{userId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.admin_roles_remove_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#admin_roles_remove_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update role permissions (replaces all)
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminRolesCreateResponse]
    def admin_roles_update_permissions(org_id, role_id, opts = {})
      data, _status_code, _headers = admin_roles_update_permissions_with_http_info(org_id, role_id, opts)
      data
    end

    # Update role permissions (replaces all)
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminRolesCreateResponse, Integer, Hash)>] AdminRolesCreateResponse data, response status code and response headers
    def admin_roles_update_permissions_with_http_info(org_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.admin_roles_update_permissions ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.admin_roles_update_permissions"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminRolesApi.admin_roles_update_permissions"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles/{roleId}/permissions'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminRolesCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.admin_roles_update_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#admin_roles_update_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminRolesCreateResponse]
    def patch_admin_roles_update(org_id, role_id, opts = {})
      data, _status_code, _headers = patch_admin_roles_update_with_http_info(org_id, role_id, opts)
      data
    end

    # Update an existing role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminRolesCreateResponse, Integer, Hash)>] AdminRolesCreateResponse data, response status code and response headers
    def patch_admin_roles_update_with_http_info(org_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.patch_admin_roles_update ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.patch_admin_roles_update"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminRolesApi.patch_admin_roles_update"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles/{roleId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminRolesCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.patch_admin_roles_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#patch_admin_roles_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AdminRolesCreateResponse]
    def put_admin_roles_update(org_id, role_id, opts = {})
      data, _status_code, _headers = put_admin_roles_update_with_http_info(org_id, role_id, opts)
      data
    end

    # Update an existing role
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AdminRolesCreateResponse, Integer, Hash)>] AdminRolesCreateResponse data, response status code and response headers
    def put_admin_roles_update_with_http_info(org_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminRolesApi.put_admin_roles_update ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AdminRolesApi.put_admin_roles_update"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminRolesApi.put_admin_roles_update"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/admin/roles/{roleId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminRolesCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AdminRolesApi.put_admin_roles_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminRolesApi#put_admin_roles_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
