=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class AgentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Agent-friendly permission check (Natural Language style)
    # POST /orgs/{orgId}/api/v1/agents/ask Body: {   \"action\": \"document.read\",   \"context\": {\"id\": \"123\"} }
    # @param org_id [String] 
    # @param ask_request [AskRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AskResponse]
    def ask(org_id, ask_request, opts = {})
      data, _status_code, _headers = ask_with_http_info(org_id, ask_request, opts)
      data
    end

    # Agent-friendly permission check (Natural Language style)
    # POST /orgs/{orgId}/api/v1/agents/ask Body: {   \&quot;action\&quot;: \&quot;document.read\&quot;,   \&quot;context\&quot;: {\&quot;id\&quot;: \&quot;123\&quot;} }
    # @param org_id [String] 
    # @param ask_request [AskRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AskResponse, Integer, Hash)>] AskResponse data, response status code and response headers
    def ask_with_http_info(org_id, ask_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.ask ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AgentsApi.ask"
      end
      # verify the required parameter 'ask_request' is set
      if @api_client.config.client_side_validation && ask_request.nil?
        fail ArgumentError, "Missing the required parameter 'ask_request' when calling AgentsApi.ask"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/agents/ask'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ask_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.ask",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#ask\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def attest(org_id, agent_id, opts = {})
      attest_with_http_info(org_id, agent_id, opts)
      nil
    end

    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def attest_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.attest ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AgentsApi.attest"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AgentsApi.attest"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/agents/{agentId}/attest'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.attest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#attest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Per-MCP-tool authorization for the authenticated agent (dx B3).
    # The real request-path caller of {@see \\McpToolAuthorizationService::canInvoke()} — the piece that connects MCP authorization to agent identity. An MCP gateway/server asks \"may THIS agent invoke <server>/<tool>?\" and gets a Zanzibar-backed allow/deny (tool-level or server-wide grant). Denials and grants are both audited, closing the MCP-authorization audit blind spot.  POST /orgs/{orgId}/api/v1/agents/me/mcp/authorize Body: { \"server_id\": \"invoices\", \"tool\": \"send_payment_reminder\" }
    # @param org_id [String] 
    # @param authorize_mcp_request [AuthorizeMcpRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthorizeMcpResponse]
    def authorize_mcp(org_id, authorize_mcp_request, opts = {})
      data, _status_code, _headers = authorize_mcp_with_http_info(org_id, authorize_mcp_request, opts)
      data
    end

    # Per-MCP-tool authorization for the authenticated agent (dx B3).
    # The real request-path caller of {@see \\McpToolAuthorizationService::canInvoke()} — the piece that connects MCP authorization to agent identity. An MCP gateway/server asks \&quot;may THIS agent invoke &lt;server&gt;/&lt;tool&gt;?\&quot; and gets a Zanzibar-backed allow/deny (tool-level or server-wide grant). Denials and grants are both audited, closing the MCP-authorization audit blind spot.  POST /orgs/{orgId}/api/v1/agents/me/mcp/authorize Body: { \&quot;server_id\&quot;: \&quot;invoices\&quot;, \&quot;tool\&quot;: \&quot;send_payment_reminder\&quot; }
    # @param org_id [String] 
    # @param authorize_mcp_request [AuthorizeMcpRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthorizeMcpResponse, Integer, Hash)>] AuthorizeMcpResponse data, response status code and response headers
    def authorize_mcp_with_http_info(org_id, authorize_mcp_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.authorize_mcp ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AgentsApi.authorize_mcp"
      end
      # verify the required parameter 'authorize_mcp_request' is set
      if @api_client.config.client_side_validation && authorize_mcp_request.nil?
        fail ArgumentError, "Missing the required parameter 'authorize_mcp_request' when calling AgentsApi.authorize_mcp"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/agents/me/mcp/authorize'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(authorize_mcp_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthorizeMcpResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.authorize_mcp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#authorize_mcp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param create_approval_request [CreateApprovalRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateApprovalResponse]
    def create_approval(org_id, create_approval_request, opts = {})
      data, _status_code, _headers = create_approval_with_http_info(org_id, create_approval_request, opts)
      data
    end

    # @param org_id [String] 
    # @param create_approval_request [CreateApprovalRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateApprovalResponse, Integer, Hash)>] CreateApprovalResponse data, response status code and response headers
    def create_approval_with_http_info(org_id, create_approval_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.create_approval ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AgentsApi.create_approval"
      end
      # verify the required parameter 'create_approval_request' is set
      if @api_client.config.client_side_validation && create_approval_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_approval_request' when calling AgentsApi.create_approval"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/agents/me/approvals'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_approval_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateApprovalResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.create_approval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#create_approval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_agent_card(org_id, agent_id, opts = {})
      get_agent_card_with_http_info(org_id, agent_id, opts)
      nil
    end

    # @param org_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_agent_card_with_http_info(org_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.get_agent_card ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AgentsApi.get_agent_card"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling AgentsApi.get_agent_card"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/agents/{agentId}/agent-card'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AgentsApi.get_agent_card",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#get_agent_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetApprovalStatusResponse]
    def get_approval_status(org_id, token, opts = {})
      data, _status_code, _headers = get_approval_status_with_http_info(org_id, token, opts)
      data
    end

    # @param org_id [String] 
    # @param token [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetApprovalStatusResponse, Integer, Hash)>] GetApprovalStatusResponse data, response status code and response headers
    def get_approval_status_with_http_info(org_id, token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.get_approval_status ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AgentsApi.get_approval_status"
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AgentsApi.get_approval_status"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/agents/me/approvals/{token}/status'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetApprovalStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.get_approval_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#get_approval_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get details about the currently authenticated agent
    # GET /orgs/{orgId}/api/v1/agents/me
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetCurrentAgentResponse]
    def get_current_agent(org_id, opts = {})
      data, _status_code, _headers = get_current_agent_with_http_info(org_id, opts)
      data
    end

    # Get details about the currently authenticated agent
    # GET /orgs/{orgId}/api/v1/agents/me
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCurrentAgentResponse, Integer, Hash)>] GetCurrentAgentResponse data, response status code and response headers
    def get_current_agent_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.get_current_agent ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AgentsApi.get_current_agent"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/agents/me'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCurrentAgentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.get_current_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#get_current_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def register_agent(org_id, opts = {})
      register_agent_with_http_info(org_id, opts)
      nil
    end

    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def register_agent_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.register_agent ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AgentsApi.register_agent"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/agents/register'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.register_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#register_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def verify_agent_card(org_id, opts = {})
      verify_agent_card_with_http_info(org_id, opts)
      nil
    end

    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def verify_agent_card_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AgentsApi.verify_agent_card ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling AgentsApi.verify_agent_card"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/agents/agent-card/verify'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"AgentsApi.verify_agent_card",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AgentsApi#verify_agent_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
