=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class JitApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # HITL: Approve a pending JIT request (requires user auth).
    # @param org_id [String] 
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ApproveRequestRequest] :approve_request_request 
    # @return [ApproveRequestResponse]
    def approve_request(org_id, request_id, opts = {})
      data, _status_code, _headers = approve_request_with_http_info(org_id, request_id, opts)
      data
    end

    # HITL: Approve a pending JIT request (requires user auth).
    # @param org_id [String] 
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ApproveRequestRequest] :approve_request_request 
    # @return [Array<(ApproveRequestResponse, Integer, Hash)>] ApproveRequestResponse data, response status code and response headers
    def approve_request_with_http_info(org_id, request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JitApi.approve_request ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling JitApi.approve_request"
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling JitApi.approve_request"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/jit/approve/{requestId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'approve_request_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApproveRequestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"JitApi.approve_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JitApi#approve_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Complete a task and cleanup resources.
    # @param org_id [String] 
    # @param task_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompleteTaskResponse]
    def complete_task(org_id, task_id, opts = {})
      data, _status_code, _headers = complete_task_with_http_info(org_id, task_id, opts)
      data
    end

    # Complete a task and cleanup resources.
    # @param org_id [String] 
    # @param task_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompleteTaskResponse, Integer, Hash)>] CompleteTaskResponse data, response status code and response headers
    def complete_task_with_http_info(org_id, task_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JitApi.complete_task ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling JitApi.complete_task"
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling JitApi.complete_task"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/jit/task/{taskId}/complete'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'taskId' + '}', CGI.escape(task_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompleteTaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"JitApi.complete_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JitApi#complete_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new ephemeral task/persona for an agent.
    # Each task gets a unique sub-identity with isolated permissions. This limits the \"blast radius\" of any potential compromise.  Request body: {   \"name\": \"Research Task #123\",           // Optional: human-readable name   \"type\": \"research\",                     // Optional: task type for categorization   \"parent_task_id\": \"task_abc123\",        // Optional: for nested agent chains   \"on_behalf_of\": \"user@example.com\"      // Optional: delegation context }
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateTaskRequest] :create_task_request 
    # @return [CreateTaskResponse]
    def create_task(org_id, opts = {})
      data, _status_code, _headers = create_task_with_http_info(org_id, opts)
      data
    end

    # Create a new ephemeral task/persona for an agent.
    # Each task gets a unique sub-identity with isolated permissions. This limits the \&quot;blast radius\&quot; of any potential compromise.  Request body: {   \&quot;name\&quot;: \&quot;Research Task #123\&quot;,           // Optional: human-readable name   \&quot;type\&quot;: \&quot;research\&quot;,                     // Optional: task type for categorization   \&quot;parent_task_id\&quot;: \&quot;task_abc123\&quot;,        // Optional: for nested agent chains   \&quot;on_behalf_of\&quot;: \&quot;user@example.com\&quot;      // Optional: delegation context }
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateTaskRequest] :create_task_request 
    # @return [Array<(CreateTaskResponse, Integer, Hash)>] CreateTaskResponse data, response status code and response headers
    def create_task_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JitApi.create_task ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling JitApi.create_task"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/jit/task'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_task_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"JitApi.create_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JitApi#create_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # HITL: Deny a pending JIT request (requires user auth).
    # @param org_id [String] 
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DenyRequestRequest] :deny_request_request 
    # @return [DenyRequestResponse]
    def deny_request(org_id, request_id, opts = {})
      data, _status_code, _headers = deny_request_with_http_info(org_id, request_id, opts)
      data
    end

    # HITL: Deny a pending JIT request (requires user auth).
    # @param org_id [String] 
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DenyRequestRequest] :deny_request_request 
    # @return [Array<(DenyRequestResponse, Integer, Hash)>] DenyRequestResponse data, response status code and response headers
    def deny_request_with_http_info(org_id, request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JitApi.deny_request ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling JitApi.deny_request"
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling JitApi.deny_request"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/jit/deny/{requestId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deny_request_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DenyRequestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"JitApi.deny_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JitApi#deny_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # CAEP: Trigger continuous access evaluation for a task.
    # @param org_id [String] 
    # @param task_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def evaluate_task(org_id, task_id, opts = {})
      data, _status_code, _headers = evaluate_task_with_http_info(org_id, task_id, opts)
      data
    end

    # CAEP: Trigger continuous access evaluation for a task.
    # @param org_id [String] 
    # @param task_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def evaluate_task_with_http_info(org_id, task_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JitApi.evaluate_task ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling JitApi.evaluate_task"
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling JitApi.evaluate_task"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/jit/task/{taskId}/evaluate'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'taskId' + '}', CGI.escape(task_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"JitApi.evaluate_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JitApi#evaluate_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the status of a JIT permission request.
    # Agents poll this endpoint while waiting for HITL approval.
    # @param org_id [String] 
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetRequestStatusResponse]
    def get_request_status(org_id, request_id, opts = {})
      data, _status_code, _headers = get_request_status_with_http_info(org_id, request_id, opts)
      data
    end

    # Get the status of a JIT permission request.
    # Agents poll this endpoint while waiting for HITL approval.
    # @param org_id [String] 
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRequestStatusResponse, Integer, Hash)>] GetRequestStatusResponse data, response status code and response headers
    def get_request_status_with_http_info(org_id, request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JitApi.get_request_status ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling JitApi.get_request_status"
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling JitApi.get_request_status"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/jit/request/{requestId}/status'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRequestStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"JitApi.get_request_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JitApi#get_request_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Exchange an approved JIT request for a downscoped token.
    # Implements RFC 8693 Token Exchange with RFC 9396 authorization_details.
    # @param org_id [String] 
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetRequestTokenResponse]
    def get_request_token(org_id, request_id, opts = {})
      data, _status_code, _headers = get_request_token_with_http_info(org_id, request_id, opts)
      data
    end

    # Exchange an approved JIT request for a downscoped token.
    # Implements RFC 8693 Token Exchange with RFC 9396 authorization_details.
    # @param org_id [String] 
    # @param request_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRequestTokenResponse, Integer, Hash)>] GetRequestTokenResponse data, response status code and response headers
    def get_request_token_with_http_info(org_id, request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JitApi.get_request_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling JitApi.get_request_token"
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling JitApi.get_request_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/jit/request/{requestId}/token'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRequestTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"JitApi.get_request_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JitApi#get_request_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pending HITL requests for the tenant.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListPendingRequestsResponse]
    def list_pending_requests(org_id, opts = {})
      data, _status_code, _headers = list_pending_requests_with_http_info(org_id, opts)
      data
    end

    # Get pending HITL requests for the tenant.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListPendingRequestsResponse, Integer, Hash)>] ListPendingRequestsResponse data, response status code and response headers
    def list_pending_requests_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JitApi.list_pending_requests ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling JitApi.list_pending_requests"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/jit/pending'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPendingRequestsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"JitApi.list_pending_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JitApi#list_pending_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request a JIT permission using RFC 9396 authorization_details.
    # Request body: {   \"task_id\": \"task_abc123\",                     // Required: task context   \"authorization_details\": {                    // Required: RFC 9396 object     \"type\": \"file_access\",     \"actions\": [\"read\"],     \"identifier\": \"report_2024.pdf\"   },   \"justification\": \"Need to analyze Q4 data\",   // Optional: human-readable   \"requested_ttl\": 300,                         // Optional: 5-15 minutes (default 10)   \"callback_url\": \"https://...\"                 // Optional: HITL notification webhook }  Response: - For low-risk: Immediate approval + ability to get token - For high-risk: Returns pending status, triggers HITL workflow
    # @param org_id [String] 
    # @param request_permission_request [RequestPermissionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RequestPermissionResponse]
    def request_permission(org_id, request_permission_request, opts = {})
      data, _status_code, _headers = request_permission_with_http_info(org_id, request_permission_request, opts)
      data
    end

    # Request a JIT permission using RFC 9396 authorization_details.
    # Request body: {   \&quot;task_id\&quot;: \&quot;task_abc123\&quot;,                     // Required: task context   \&quot;authorization_details\&quot;: {                    // Required: RFC 9396 object     \&quot;type\&quot;: \&quot;file_access\&quot;,     \&quot;actions\&quot;: [\&quot;read\&quot;],     \&quot;identifier\&quot;: \&quot;report_2024.pdf\&quot;   },   \&quot;justification\&quot;: \&quot;Need to analyze Q4 data\&quot;,   // Optional: human-readable   \&quot;requested_ttl\&quot;: 300,                         // Optional: 5-15 minutes (default 10)   \&quot;callback_url\&quot;: \&quot;https://...\&quot;                 // Optional: HITL notification webhook }  Response: - For low-risk: Immediate approval + ability to get token - For high-risk: Returns pending status, triggers HITL workflow
    # @param org_id [String] 
    # @param request_permission_request [RequestPermissionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestPermissionResponse, Integer, Hash)>] RequestPermissionResponse data, response status code and response headers
    def request_permission_with_http_info(org_id, request_permission_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JitApi.request_permission ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling JitApi.request_permission"
      end
      # verify the required parameter 'request_permission_request' is set
      if @api_client.config.client_side_validation && request_permission_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_permission_request' when calling JitApi.request_permission"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/jit/request'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_permission_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RequestPermissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"JitApi.request_permission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JitApi#request_permission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
