=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class McpApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # OAuth 2.0 Protected Resource Metadata (RFC 9728)
    # Well-known endpoint for MCP servers with path-specific metadata. Example: /.well-known/oauth-protected-resource/mcp/{serverId}  MCP clients MUST support this discovery mechanism per the MCP Authorization spec.
    # @param org_id [String] 
    # @param server_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_protected_resource_metadata(org_id, server_id, opts = {})
      get_protected_resource_metadata_with_http_info(org_id, server_id, opts)
      nil
    end

    # OAuth 2.0 Protected Resource Metadata (RFC 9728)
    # Well-known endpoint for MCP servers with path-specific metadata. Example: /.well-known/oauth-protected-resource/mcp/{serverId}  MCP clients MUST support this discovery mechanism per the MCP Authorization spec.
    # @param org_id [String] 
    # @param server_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_protected_resource_metadata_with_http_info(org_id, server_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: McpApi.get_protected_resource_metadata ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling McpApi.get_protected_resource_metadata"
      end
      # verify the required parameter 'server_id' is set
      if @api_client.config.client_side_validation && server_id.nil?
        fail ArgumentError, "Missing the required parameter 'server_id' when calling McpApi.get_protected_resource_metadata"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/.well-known/oauth-protected-resource/mcp/{serverId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'serverId' + '}', CGI.escape(server_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"McpApi.get_protected_resource_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: McpApi#get_protected_resource_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Root-level Protected Resource Metadata
    # Fallback well-known endpoint per RFC 9728 when no path-specific metadata exists. Returns metadata for the first active MCP server, or a list of available servers.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_protected_resource_metadata_root(org_id, opts = {})
      get_protected_resource_metadata_root_with_http_info(org_id, opts)
      nil
    end

    # Root-level Protected Resource Metadata
    # Fallback well-known endpoint per RFC 9728 when no path-specific metadata exists. Returns metadata for the first active MCP server, or a list of available servers.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_protected_resource_metadata_root_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: McpApi.get_protected_resource_metadata_root ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling McpApi.get_protected_resource_metadata_root"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/.well-known/oauth-protected-resource'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"McpApi.get_protected_resource_metadata_root",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: McpApi#get_protected_resource_metadata_root\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # REST API: Get a specific MCP server.
    # Management endpoint — requires tenant admin authentication.
    # @param org_id [String] 
    # @param server_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetServerResponse]
    def get_server(org_id, server_id, opts = {})
      data, _status_code, _headers = get_server_with_http_info(org_id, server_id, opts)
      data
    end

    # REST API: Get a specific MCP server.
    # Management endpoint — requires tenant admin authentication.
    # @param org_id [String] 
    # @param server_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetServerResponse, Integer, Hash)>] GetServerResponse data, response status code and response headers
    def get_server_with_http_info(org_id, server_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: McpApi.get_server ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling McpApi.get_server"
      end
      # verify the required parameter 'server_id' is set
      if @api_client.config.client_side_validation && server_id.nil?
        fail ArgumentError, "Missing the required parameter 'server_id' when calling McpApi.get_server"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/mcp/servers/{serverId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'serverId' + '}', CGI.escape(server_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetServerResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"McpApi.get_server",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: McpApi#get_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Simulated MCP Server 401 challenge endpoint.
    # When an MCP client sends an unauthenticated request, the MCP server MUST respond with 401 including WWW-Authenticate header per the spec.  This endpoint allows testing the challenge flow.
    # @param org_id [String] 
    # @param server_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_server_challenge(org_id, server_id, opts = {})
      get_server_challenge_with_http_info(org_id, server_id, opts)
      nil
    end

    # Simulated MCP Server 401 challenge endpoint.
    # When an MCP client sends an unauthenticated request, the MCP server MUST respond with 401 including WWW-Authenticate header per the spec.  This endpoint allows testing the challenge flow.
    # @param org_id [String] 
    # @param server_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_server_challenge_with_http_info(org_id, server_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: McpApi.get_server_challenge ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling McpApi.get_server_challenge"
      end
      # verify the required parameter 'server_id' is set
      if @api_client.config.client_side_validation && server_id.nil?
        fail ArgumentError, "Missing the required parameter 'server_id' when calling McpApi.get_server_challenge"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/mcp/{serverId}/challenge'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'serverId' + '}', CGI.escape(server_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"McpApi.get_server_challenge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: McpApi#get_server_challenge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # REST API: List MCP servers for a tenant.
    # Management endpoint — requires tenant admin authentication.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListServersResponse]
    def list_servers(org_id, opts = {})
      data, _status_code, _headers = list_servers_with_http_info(org_id, opts)
      data
    end

    # REST API: List MCP servers for a tenant.
    # Management endpoint — requires tenant admin authentication.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListServersResponse, Integer, Hash)>] ListServersResponse data, response status code and response headers
    def list_servers_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: McpApi.list_servers ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling McpApi.list_servers"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/mcp/servers'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListServersResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"McpApi.list_servers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: McpApi#list_servers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Simulated MCP Server 401 challenge endpoint.
    # When an MCP client sends an unauthenticated request, the MCP server MUST respond with 401 including WWW-Authenticate header per the spec.  This endpoint allows testing the challenge flow.
    # @param org_id [String] 
    # @param server_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def post_server_challenge(org_id, server_id, opts = {})
      post_server_challenge_with_http_info(org_id, server_id, opts)
      nil
    end

    # Simulated MCP Server 401 challenge endpoint.
    # When an MCP client sends an unauthenticated request, the MCP server MUST respond with 401 including WWW-Authenticate header per the spec.  This endpoint allows testing the challenge flow.
    # @param org_id [String] 
    # @param server_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def post_server_challenge_with_http_info(org_id, server_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: McpApi.post_server_challenge ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling McpApi.post_server_challenge"
      end
      # verify the required parameter 'server_id' is set
      if @api_client.config.client_side_validation && server_id.nil?
        fail ArgumentError, "Missing the required parameter 'server_id' when calling McpApi.post_server_challenge"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/mcp/{serverId}/challenge'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'serverId' + '}', CGI.escape(server_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"McpApi.post_server_challenge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: McpApi#post_server_challenge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
