=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class MfaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Start an MFA challenge
    # Starts the user's default factor (or `authenticator_id`) and delivers it: sends the push (with number_match to display), texts or emails a code, or returns WebAuthn request options (`public_key`). For push step-up, `action_description` is shown in the app (e.g. \"Approve transfer of $500 to •••• 1122\").
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateMfaChallengeRequest] :create_mfa_challenge_request 
    # @return [MfaChallenge]
    def create_mfa_challenge(org_id, opts = {})
      data, _status_code, _headers = create_mfa_challenge_with_http_info(org_id, opts)
      data
    end

    # Start an MFA challenge
    # Starts the user&#39;s default factor (or &#x60;authenticator_id&#x60;) and delivers it: sends the push (with number_match to display), texts or emails a code, or returns WebAuthn request options (&#x60;public_key&#x60;). For push step-up, &#x60;action_description&#x60; is shown in the app (e.g. \&quot;Approve transfer of $500 to •••• 1122\&quot;).
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateMfaChallengeRequest] :create_mfa_challenge_request 
    # @return [Array<(MfaChallenge, Integer, Hash)>] MfaChallenge data, response status code and response headers
    def create_mfa_challenge_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.create_mfa_challenge ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.create_mfa_challenge"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/mfa/challenges'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_mfa_challenge_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'MfaChallenge'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.create_mfa_challenge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#create_mfa_challenge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove an authenticator
    # Needs fresh MFA with a different factor where one exists (MGT-004). Blocked with 409 last_factor_required when the organization requires MFA and this is the last factor.
    # @param org_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_mfa_challenge Approved step_up challenge id
    # @return [nil]
    def delete_authenticator(org_id, id, opts = {})
      delete_authenticator_with_http_info(org_id, id, opts)
      nil
    end

    # Remove an authenticator
    # Needs fresh MFA with a different factor where one exists (MGT-004). Blocked with 409 last_factor_required when the organization requires MFA and this is the last factor.
    # @param org_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_mfa_challenge Approved step_up challenge id
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_authenticator_with_http_info(org_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.delete_authenticator ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.delete_authenticator"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MfaApi.delete_authenticator"
      end
      pattern = Regexp.new(/[a-z_]+:\d+/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling MfaApi.delete_authenticator, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/me/authenticators/{id}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'X-MFA-Challenge'] = opts[:'x_mfa_challenge'] if !opts[:'x_mfa_challenge'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.delete_authenticator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#delete_authenticator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start enrolling an authenticator
    # Creates a pending authenticator (purged after 15 minutes unless verified). totp → otpauth URI, secret and QR; sms_otp {phone, country?} → code sent; email_otp → code sent; push → QR / deep link / activation code for the LumoAuth app; passkey → WebAuthn creation options (`public_key`).
    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EnrollAuthenticatorRequest] :enroll_authenticator_request 
    # @return [EnrollAuthenticator201Response]
    def enroll_authenticator(org_id, type, opts = {})
      data, _status_code, _headers = enroll_authenticator_with_http_info(org_id, type, opts)
      data
    end

    # Start enrolling an authenticator
    # Creates a pending authenticator (purged after 15 minutes unless verified). totp → otpauth URI, secret and QR; sms_otp {phone, country?} → code sent; email_otp → code sent; push → QR / deep link / activation code for the LumoAuth app; passkey → WebAuthn creation options (&#x60;public_key&#x60;).
    # @param org_id [String] 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EnrollAuthenticatorRequest] :enroll_authenticator_request 
    # @return [Array<(EnrollAuthenticator201Response, Integer, Hash)>] EnrollAuthenticator201Response data, response status code and response headers
    def enroll_authenticator_with_http_info(org_id, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.enroll_authenticator ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.enroll_authenticator"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling MfaApi.enroll_authenticator"
      end
      # verify enum value
      allowable_values = ["totp", "sms_otp", "email_otp", "push", "passkey"]
      if @api_client.config.client_side_validation && !allowable_values.include?(type)
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      pattern = Regexp.new(/totp|sms_otp|email_otp|push|passkey/)
      if @api_client.config.client_side_validation && type !~ pattern
        fail ArgumentError, "invalid value for 'type' when calling MfaApi.enroll_authenticator, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/me/authenticators/{type}/enroll'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'enroll_authenticator_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EnrollAuthenticator201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.enroll_authenticator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#enroll_authenticator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate recovery codes
    # 10 single-use XXXXX-XXXXX codes, returned once; any previous set stops working. Needs fresh MFA when replacing an existing set.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateRecoveryCodesResponse]
    def generate_recovery_codes(org_id, opts = {})
      data, _status_code, _headers = generate_recovery_codes_with_http_info(org_id, opts)
      data
    end

    # Generate recovery codes
    # 10 single-use XXXXX-XXXXX codes, returned once; any previous set stops working. Needs fresh MFA when replacing an existing set.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateRecoveryCodesResponse, Integer, Hash)>] GenerateRecoveryCodesResponse data, response status code and response headers
    def generate_recovery_codes_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.generate_recovery_codes ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.generate_recovery_codes"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/me/recovery-codes'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateRecoveryCodesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.generate_recovery_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#generate_recovery_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get challenge status
    # Poll this for push challenges; status turns approved / denied / expired.
    # @param org_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MfaChallenge]
    def get_mfa_challenge(org_id, id, opts = {})
      data, _status_code, _headers = get_mfa_challenge_with_http_info(org_id, id, opts)
      data
    end

    # Get challenge status
    # Poll this for push challenges; status turns approved / denied / expired.
    # @param org_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MfaChallenge, Integer, Hash)>] MfaChallenge data, response status code and response headers
    def get_mfa_challenge_with_http_info(org_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.get_mfa_challenge ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.get_mfa_challenge"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MfaApi.get_mfa_challenge"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/mfa/challenges/{id}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MfaChallenge'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.get_mfa_challenge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#get_mfa_challenge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Recovery-code status
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetRecoveryCodeStatusResponse]
    def get_recovery_code_status(org_id, opts = {})
      data, _status_code, _headers = get_recovery_code_status_with_http_info(org_id, opts)
      data
    end

    # Recovery-code status
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRecoveryCodeStatusResponse, Integer, Hash)>] GetRecoveryCodeStatusResponse data, response status code and response headers
    def get_recovery_code_status_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.get_recovery_code_status ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.get_recovery_code_status"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/me/recovery-codes'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRecoveryCodeStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.get_recovery_code_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#get_recovery_code_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List my authenticators
    # Every enrolled authenticator with tier and usage, the protection status (MGT-006), recovery-code count, and which factor types the organization allows.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListMyAuthenticatorsResponse]
    def list_my_authenticators(org_id, opts = {})
      data, _status_code, _headers = list_my_authenticators_with_http_info(org_id, opts)
      data
    end

    # List my authenticators
    # Every enrolled authenticator with tier and usage, the protection status (MGT-006), recovery-code count, and which factor types the organization allows.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListMyAuthenticatorsResponse, Integer, Hash)>] ListMyAuthenticatorsResponse data, response status code and response headers
    def list_my_authenticators_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.list_my_authenticators ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.list_my_authenticators"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/me/authenticators'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMyAuthenticatorsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.list_my_authenticators",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#list_my_authenticators\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List trusted devices
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListTrustedDevicesResponse]
    def list_trusted_devices(org_id, opts = {})
      data, _status_code, _headers = list_trusted_devices_with_http_info(org_id, opts)
      data
    end

    # List trusted devices
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListTrustedDevicesResponse, Integer, Hash)>] ListTrustedDevicesResponse data, response status code and response headers
    def list_trusted_devices_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.list_trusted_devices ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.list_trusted_devices"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/me/trusted-devices'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTrustedDevicesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.list_trusted_devices",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#list_trusted_devices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a trusted device
    # @param org_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def revoke_trusted_device(org_id, id, opts = {})
      revoke_trusted_device_with_http_info(org_id, id, opts)
      nil
    end

    # Revoke a trusted device
    # @param org_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def revoke_trusted_device_with_http_info(org_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.revoke_trusted_device ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.revoke_trusted_device"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MfaApi.revoke_trusted_device"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/me/trusted-devices/{id}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.revoke_trusted_device",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#revoke_trusted_device\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename an authenticator or make it the default
    # @param org_id [String] 
    # @param id [String] 
    # @param update_authenticator_request [UpdateAuthenticatorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MfaAuthenticator]
    def update_authenticator(org_id, id, update_authenticator_request, opts = {})
      data, _status_code, _headers = update_authenticator_with_http_info(org_id, id, update_authenticator_request, opts)
      data
    end

    # Rename an authenticator or make it the default
    # @param org_id [String] 
    # @param id [String] 
    # @param update_authenticator_request [UpdateAuthenticatorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MfaAuthenticator, Integer, Hash)>] MfaAuthenticator data, response status code and response headers
    def update_authenticator_with_http_info(org_id, id, update_authenticator_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.update_authenticator ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.update_authenticator"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MfaApi.update_authenticator"
      end
      pattern = Regexp.new(/[a-z_]+:\d+/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling MfaApi.update_authenticator, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_authenticator_request' is set
      if @api_client.config.client_side_validation && update_authenticator_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_authenticator_request' when calling MfaApi.update_authenticator"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/me/authenticators/{id}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_authenticator_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MfaAuthenticator'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.update_authenticator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#update_authenticator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify a pending authenticator
    # Proof of possession that activates the authenticator: `{code}` for totp / sms_otp / email_otp, `{credential}` (the PublicKeyCredential JSON) for passkey, `{}` to poll a push enrollment (returns state pending, awaiting_test with number_match, or active). The first active factor becomes the default.
    # @param org_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [VerifyMfaChallengeRequest] :verify_mfa_challenge_request 
    # @return [MfaAuthenticator]
    def verify_authenticator(org_id, id, opts = {})
      data, _status_code, _headers = verify_authenticator_with_http_info(org_id, id, opts)
      data
    end

    # Verify a pending authenticator
    # Proof of possession that activates the authenticator: &#x60;{code}&#x60; for totp / sms_otp / email_otp, &#x60;{credential}&#x60; (the PublicKeyCredential JSON) for passkey, &#x60;{}&#x60; to poll a push enrollment (returns state pending, awaiting_test with number_match, or active). The first active factor becomes the default.
    # @param org_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [VerifyMfaChallengeRequest] :verify_mfa_challenge_request 
    # @return [Array<(MfaAuthenticator, Integer, Hash)>] MfaAuthenticator data, response status code and response headers
    def verify_authenticator_with_http_info(org_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.verify_authenticator ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.verify_authenticator"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MfaApi.verify_authenticator"
      end
      pattern = Regexp.new(/[a-z_]+:[A-Za-z0-9_-]+/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling MfaApi.verify_authenticator, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/me/authenticators/{id}/verify'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'verify_mfa_challenge_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'MfaAuthenticator'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.verify_authenticator",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#verify_authenticator\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Answer a challenge
    # `{code}` for totp / sms_otp / email_otp / recovery_code (and the LumoAuth app's offline code for push), or `{credential}` with the WebAuthn assertion for passkeys. 5 wrong answers exhaust the challenge; 10 failures in 15 minutes lock MFA for 15 minutes.
    # @param org_id [String] 
    # @param id [String] 
    # @param verify_mfa_challenge_request [VerifyMfaChallengeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MfaChallenge]
    def verify_mfa_challenge(org_id, id, verify_mfa_challenge_request, opts = {})
      data, _status_code, _headers = verify_mfa_challenge_with_http_info(org_id, id, verify_mfa_challenge_request, opts)
      data
    end

    # Answer a challenge
    # &#x60;{code}&#x60; for totp / sms_otp / email_otp / recovery_code (and the LumoAuth app&#39;s offline code for push), or &#x60;{credential}&#x60; with the WebAuthn assertion for passkeys. 5 wrong answers exhaust the challenge; 10 failures in 15 minutes lock MFA for 15 minutes.
    # @param org_id [String] 
    # @param id [String] 
    # @param verify_mfa_challenge_request [VerifyMfaChallengeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MfaChallenge, Integer, Hash)>] MfaChallenge data, response status code and response headers
    def verify_mfa_challenge_with_http_info(org_id, id, verify_mfa_challenge_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MfaApi.verify_mfa_challenge ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling MfaApi.verify_mfa_challenge"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MfaApi.verify_mfa_challenge"
      end
      # verify the required parameter 'verify_mfa_challenge_request' is set
      if @api_client.config.client_side_validation && verify_mfa_challenge_request.nil?
        fail ArgumentError, "Missing the required parameter 'verify_mfa_challenge_request' when calling MfaApi.verify_mfa_challenge"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/mfa/challenges/{id}/verify'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_mfa_challenge_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MfaChallenge'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"MfaApi.verify_mfa_challenge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MfaApi#verify_mfa_challenge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
