=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class SsfApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an SSF stream
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SsfStream]
    def create_stream_config(org_id, opts = {})
      data, _status_code, _headers = create_stream_config_with_http_info(org_id, opts)
      data
    end

    # Create an SSF stream
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SsfStream, Integer, Hash)>] SsfStream data, response status code and response headers
    def create_stream_config_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsfApi.create_stream_config ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SsfApi.create_stream_config"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/ssf/stream'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SsfStream'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"SsfApi.create_stream_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsfApi#create_stream_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an SSF stream
    # @param stream_id [String] 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_stream_config(stream_id, org_id, opts = {})
      delete_stream_config_with_http_info(stream_id, org_id, opts)
      nil
    end

    # Delete an SSF stream
    # @param stream_id [String] 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_stream_config_with_http_info(stream_id, org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsfApi.delete_stream_config ...'
      end
      # verify the required parameter 'stream_id' is set
      if @api_client.config.client_side_validation && stream_id.nil?
        fail ArgumentError, "Missing the required parameter 'stream_id' when calling SsfApi.delete_stream_config"
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SsfApi.delete_stream_config"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/ssf/stream'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'stream_id'] = stream_id

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"SsfApi.delete_stream_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsfApi#delete_stream_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read SSF stream configuration(s)
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :stream_id 
    # @return [GetStreamConfig200Response]
    def get_stream_config(org_id, opts = {})
      data, _status_code, _headers = get_stream_config_with_http_info(org_id, opts)
      data
    end

    # Read SSF stream configuration(s)
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :stream_id 
    # @return [Array<(GetStreamConfig200Response, Integer, Hash)>] GetStreamConfig200Response data, response status code and response headers
    def get_stream_config_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsfApi.get_stream_config ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SsfApi.get_stream_config"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/ssf/stream'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'stream_id'] = opts[:'stream_id'] if !opts[:'stream_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetStreamConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"SsfApi.get_stream_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsfApi#get_stream_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request a stream verification event
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def verify_stream(org_id, opts = {})
      verify_stream_with_http_info(org_id, opts)
      nil
    end

    # Request a stream verification event
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def verify_stream_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SsfApi.verify_stream ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling SsfApi.verify_stream"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/ssf/verify'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"SsfApi.verify_stream",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SsfApi#verify_stream\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
