=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class TokenVaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetch a live third-party access token for a connection
    # Agent bearer token required. Returns the vaulted provider access token (refreshing it when needed). Pass {\"user_id\": \"<uuid or email>\"} for a user-delegated grant — issued only when that user allowed this agent on their grant. Refresh tokens never cross this boundary. Rate limited per agent.
    # @param org_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [GetConnectionTokenRequest] :get_connection_token_request 
    # @return [GetConnectionTokenResponse]
    def get_connection_token(org_id, connection_id, opts = {})
      data, _status_code, _headers = get_connection_token_with_http_info(org_id, connection_id, opts)
      data
    end

    # Fetch a live third-party access token for a connection
    # Agent bearer token required. Returns the vaulted provider access token (refreshing it when needed). Pass {\&quot;user_id\&quot;: \&quot;&lt;uuid or email&gt;\&quot;} for a user-delegated grant — issued only when that user allowed this agent on their grant. Refresh tokens never cross this boundary. Rate limited per agent.
    # @param org_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [GetConnectionTokenRequest] :get_connection_token_request 
    # @return [Array<(GetConnectionTokenResponse, Integer, Hash)>] GetConnectionTokenResponse data, response status code and response headers
    def get_connection_token_with_http_info(org_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokenVaultApi.get_connection_token ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TokenVaultApi.get_connection_token"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling TokenVaultApi.get_connection_token"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/agents/me/connections/{connectionId}/token'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'connectionId' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'get_connection_token_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GetConnectionTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"TokenVaultApi.get_connection_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokenVaultApi#get_connection_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the outbound connections this agent may use
    # Agent bearer token required. Returns every active Token Vault connection that allows the calling agent, with grant status. No secrets are returned.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListConnectionsResponse]
    def list_connections(org_id, opts = {})
      data, _status_code, _headers = list_connections_with_http_info(org_id, opts)
      data
    end

    # List the outbound connections this agent may use
    # Agent bearer token required. Returns every active Token Vault connection that allows the calling agent, with grant status. No secrets are returned.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListConnectionsResponse, Integer, Hash)>] ListConnectionsResponse data, response status code and response headers
    def list_connections_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TokenVaultApi.list_connections ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling TokenVaultApi.list_connections"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/agents/me/connections'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListConnectionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'BearerAuth']

      new_options = opts.merge(
        :operation => :"TokenVaultApi.list_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TokenVaultApi#list_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
