=begin
#LumoAuth API

#LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 

The version of the OpenAPI document: 1.0.0
Contact: sdk@lumoauth.dev
Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module LumoAuthApiClient
  class WellKnownApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # OAuth 2.0 authorization server metadata (RFC 8414)
    # Public, CORS-enabled and cacheable (Cache-Control: public, max-age=3600). Endpoint URLs are rewritten to the organization's custom domain when one is active.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AuthorizationServerMetadata]
    def get_authorization_server_metadata(org_id, opts = {})
      data, _status_code, _headers = get_authorization_server_metadata_with_http_info(org_id, opts)
      data
    end

    # OAuth 2.0 authorization server metadata (RFC 8414)
    # Public, CORS-enabled and cacheable (Cache-Control: public, max-age&#x3D;3600). Endpoint URLs are rewritten to the organization&#39;s custom domain when one is active.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthorizationServerMetadata, Integer, Hash)>] AuthorizationServerMetadata data, response status code and response headers
    def get_authorization_server_metadata_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WellKnownApi.get_authorization_server_metadata ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling WellKnownApi.get_authorization_server_metadata"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/.well-known/oauth-authorization-server'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthorizationServerMetadata'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WellKnownApi.get_authorization_server_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WellKnownApi#get_authorization_server_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # JSON Web Key Set (RFC 7517)
    # Public signing keys of the organization (its tenant signing keys plus any platform keys kept for backward compatibility). Public, CORS-enabled and cacheable (Cache-Control: public, max-age=3600).
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JsonWebKeySet]
    def get_jwks(org_id, opts = {})
      data, _status_code, _headers = get_jwks_with_http_info(org_id, opts)
      data
    end

    # JSON Web Key Set (RFC 7517)
    # Public signing keys of the organization (its tenant signing keys plus any platform keys kept for backward compatibility). Public, CORS-enabled and cacheable (Cache-Control: public, max-age&#x3D;3600).
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JsonWebKeySet, Integer, Hash)>] JsonWebKeySet data, response status code and response headers
    def get_jwks_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WellKnownApi.get_jwks ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling WellKnownApi.get_jwks"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/.well-known/jwks.json'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JsonWebKeySet'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WellKnownApi.get_jwks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WellKnownApi#get_jwks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OpenID Provider configuration (OIDC Discovery 1.0)
    # Public, CORS-enabled and cacheable (Cache-Control: public, max-age=3600). Endpoint URLs are rewritten to the organization's custom domain when one is active.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OpenIdConfiguration]
    def get_openid_configuration(org_id, opts = {})
      data, _status_code, _headers = get_openid_configuration_with_http_info(org_id, opts)
      data
    end

    # OpenID Provider configuration (OIDC Discovery 1.0)
    # Public, CORS-enabled and cacheable (Cache-Control: public, max-age&#x3D;3600). Endpoint URLs are rewritten to the organization&#39;s custom domain when one is active.
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OpenIdConfiguration, Integer, Hash)>] OpenIdConfiguration data, response status code and response headers
    def get_openid_configuration_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WellKnownApi.get_openid_configuration ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling WellKnownApi.get_openid_configuration"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/.well-known/openid-configuration'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OpenIdConfiguration'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WellKnownApi.get_openid_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WellKnownApi#get_openid_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # SSF transmitter configuration metadata
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSsfConfigurationResponse]
    def get_ssf_configuration(org_id, opts = {})
      data, _status_code, _headers = get_ssf_configuration_with_http_info(org_id, opts)
      data
    end

    # SSF transmitter configuration metadata
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSsfConfigurationResponse, Integer, Hash)>] GetSsfConfigurationResponse data, response status code and response headers
    def get_ssf_configuration_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WellKnownApi.get_ssf_configuration ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling WellKnownApi.get_ssf_configuration"
      end
      # resource path
      local_var_path = '/orgs/{orgId}/api/v1/.well-known/ssf-configuration'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSsfConfigurationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WellKnownApi.get_ssf_configuration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WellKnownApi#get_ssf_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
