/*
 * LumoAuth API
 *
 * LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: sdk@lumoauth.dev
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Net.Mime;
using LumoAuth.ApiClient.Client;
using LumoAuth.ApiClient.Model;

namespace LumoAuth.ApiClient.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IOAuthApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint
        /// </summary>
        /// <remarks>
        /// Browser-facing: validates the authorization request (query parameters, request object or PAR request_uri), renders the hosted login / consent pages and finally delivers the authorization response (code, state, iss, session_state — or a JARM JWT) to the client&#39;s redirect_uri in the requested response_mode. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>string</returns>
        string Authorize(string orgId);

        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint
        /// </summary>
        /// <remarks>
        /// Browser-facing: validates the authorization request (query parameters, request object or PAR request_uri), renders the hosted login / consent pages and finally delivers the authorization response (code, state, iss, session_state — or a JARM JWT) to the client&#39;s redirect_uri in the requested response_mode. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of string</returns>
        ApiResponse<string> AuthorizeWithHttpInfo(string orgId);
        /// <summary>
        /// CIBA backchannel authentication request
        /// </summary>
        /// <remarks>
        /// OpenID Connect Client-Initiated Backchannel Authentication (CIBA Core §7). Classic CIBA: an authenticated client identifies the end user with login_hint / id_token_hint / login_hint_token. Agent-initiated CIBA: an agent (Authorization: Bearer with its agent credential, optionally on behalf of a CIBA-enabled client via agent_id) asks a user to approve RFC 9396 authorization_details. Poll the token endpoint with grant_type&#x3D;urn:openid:params:grant-type:ciba and the returned auth_req_id.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>BackchannelAuthorizeResponse</returns>
        BackchannelAuthorizeResponse BackchannelAuthorize(string orgId);

        /// <summary>
        /// CIBA backchannel authentication request
        /// </summary>
        /// <remarks>
        /// OpenID Connect Client-Initiated Backchannel Authentication (CIBA Core §7). Classic CIBA: an authenticated client identifies the end user with login_hint / id_token_hint / login_hint_token. Agent-initiated CIBA: an agent (Authorization: Bearer with its agent credential, optionally on behalf of a CIBA-enabled client via agent_id) asks a user to approve RFC 9396 authorization_details. Poll the token endpoint with grant_type&#x3D;urn:openid:params:grant-type:ciba and the returned auth_req_id.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of BackchannelAuthorizeResponse</returns>
        ApiResponse<BackchannelAuthorizeResponse> BackchannelAuthorizeWithHttpInfo(string orgId);
        /// <summary>
        /// Device authorization request (RFC 8628)
        /// </summary>
        /// <remarks>
        /// Starts the device authorization grant for a client registered for urn:ietf:params:oauth:grant-type:device_code. Public clients send client_id only; confidential clients must authenticate. The device then polls the token endpoint with the device_code.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>DeviceAuthorizationResponse</returns>
        DeviceAuthorizationResponse DeviceAuthorization(string orgId);

        /// <summary>
        /// Device authorization request (RFC 8628)
        /// </summary>
        /// <remarks>
        /// Starts the device authorization grant for a client registered for urn:ietf:params:oauth:grant-type:device_code. Public clients send client_id only; confidential clients must authenticate. The device then polls the token endpoint with the device_code.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of DeviceAuthorizationResponse</returns>
        ApiResponse<DeviceAuthorizationResponse> DeviceAuthorizationWithHttpInfo(string orgId);
        /// <summary>
        /// Read a dynamically registered client (RFC 7592 / OIDC DCR §4)
        /// </summary>
        /// <remarks>
        /// Client configuration endpoint. Authenticated with the registration_access_token issued at registration (Authorization: Bearer), presented at the same issuer the client was registered under.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="clientId"></param>
        /// <returns>RegisteredClientMetadata</returns>
        RegisteredClientMetadata GetClientConfiguration(string orgId, string clientId);

        /// <summary>
        /// Read a dynamically registered client (RFC 7592 / OIDC DCR §4)
        /// </summary>
        /// <remarks>
        /// Client configuration endpoint. Authenticated with the registration_access_token issued at registration (Authorization: Bearer), presented at the same issuer the client was registered under.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="clientId"></param>
        /// <returns>ApiResponse of RegisteredClientMetadata</returns>
        ApiResponse<RegisteredClientMetadata> GetClientConfigurationWithHttpInfo(string orgId, string clientId);
        /// <summary>
        /// Device verification page (RFC 8628 §3.3)
        /// </summary>
        /// <remarks>
        /// Browser page where the end user enters the user_code (or arrives via verification_uri_complete) and approves or denies the device. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>string</returns>
        string GetDeviceVerification(string orgId);

        /// <summary>
        /// Device verification page (RFC 8628 §3.3)
        /// </summary>
        /// <remarks>
        /// Browser page where the end user enters the user_code (or arrives via verification_uri_complete) and approves or denies the device. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of string</returns>
        ApiResponse<string> GetDeviceVerificationWithHttpInfo(string orgId);
        /// <summary>
        /// Organization selector page
        /// </summary>
        /// <remarks>
        /// Browser page shown during authorization when the signed-in user belongs to several organizations. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>string</returns>
        string GetOrgSelection(string orgId);

        /// <summary>
        /// Organization selector page
        /// </summary>
        /// <remarks>
        /// Browser page shown during authorization when the signed-in user belongs to several organizations. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of string</returns>
        ApiResponse<string> GetOrgSelectionWithHttpInfo(string orgId);
        /// <summary>
        /// Token introspection (RFC 7662)
        /// </summary>
        /// <remarks>
        /// Resource servers query the active state and meta-information of an access or refresh token. Requires client (or agent) authentication. Always sent with Cache-Control: no-store.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>IntrospectResponse</returns>
        IntrospectResponse Introspect(string orgId);

        /// <summary>
        /// Token introspection (RFC 7662)
        /// </summary>
        /// <remarks>
        /// Resource servers query the active state and meta-information of an access or refresh token. Requires client (or agent) authentication. Always sent with Cache-Control: no-store.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of IntrospectResponse</returns>
        ApiResponse<IntrospectResponse> IntrospectWithHttpInfo(string orgId);
        /// <summary>
        /// Pushed authorization request (RFC 9126)
        /// </summary>
        /// <remarks>
        /// Stores the authorization request parameters server-side and returns a request_uri for the authorization endpoint. Requires client authentication; a DPoP proof binds the resulting code to the key.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ParResponse</returns>
        ParResponse Par(string orgId);

        /// <summary>
        /// Pushed authorization request (RFC 9126)
        /// </summary>
        /// <remarks>
        /// Stores the authorization request parameters server-side and returns a request_uri for the authorization endpoint. Requires client authentication; a DPoP proof binds the resulting code to the key.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of ParResponse</returns>
        ApiResponse<ParResponse> ParWithHttpInfo(string orgId);
        /// <summary>
        /// Passkey login entry point
        /// </summary>
        /// <remarks>
        /// Placeholder: flashes an informational message and redirects to the hosted login page. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns></returns>
        void PasskeyLogin(string orgId);

        /// <summary>
        /// Passkey login entry point
        /// </summary>
        /// <remarks>
        /// Placeholder: flashes an informational message and redirects to the hosted login page. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> PasskeyLoginWithHttpInfo(string orgId);
        /// <summary>
        /// Dynamic client registration (RFC 7591 / OIDC DCR)
        /// </summary>
        /// <remarks>
        /// Registers an OAuth client from a JSON metadata document. Authenticated with an initial access token (Authorization: Bearer) or an API key holding admin:clients:register; open registration applies when the organization allows it.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>RegisterClientResponse</returns>
        RegisterClientResponse RegisterClient(string orgId);

        /// <summary>
        /// Dynamic client registration (RFC 7591 / OIDC DCR)
        /// </summary>
        /// <remarks>
        /// Registers an OAuth client from a JSON metadata document. Authenticated with an initial access token (Authorization: Bearer) or an API key holding admin:clients:register; open registration applies when the organization allows it.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of RegisterClientResponse</returns>
        ApiResponse<RegisterClientResponse> RegisterClientWithHttpInfo(string orgId);
        /// <summary>
        /// Token revocation (RFC 7009)
        /// </summary>
        /// <remarks>
        /// Revokes an access or refresh token (revoking a refresh token also revokes the access tokens issued with it). Requires client authentication. Always sent with Cache-Control: no-store.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>Object</returns>
        Object Revoke(string orgId);

        /// <summary>
        /// Token revocation (RFC 7009)
        /// </summary>
        /// <remarks>
        /// Revokes an access or refresh token (revoking a refresh token also revokes the access tokens issued with it). Requires client authentication. Always sent with Cache-Control: no-store.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of Object</returns>
        ApiResponse<Object> RevokeWithHttpInfo(string orgId);
        /// <summary>
        /// Social / enterprise identity-provider callback
        /// </summary>
        /// <remarks>
        /// Receives the provider&#39;s authorization response (code + state), exchanges the code, verifies the ID token / fetches the profile, finds or provisions the user and signs them in. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <returns></returns>
        void SocialCallback(string orgId, string provider);

        /// <summary>
        /// Social / enterprise identity-provider callback
        /// </summary>
        /// <remarks>
        /// Receives the provider&#39;s authorization response (code + state), exchanges the code, verifies the ID token / fetches the profile, finds or provisions the user and signs them in. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> SocialCallbackWithHttpInfo(string orgId, string provider);
        /// <summary>
        /// Social / enterprise identity-provider callback (form_post)
        /// </summary>
        /// <remarks>
        /// Same as GET for providers that deliver the authorization response with response_mode&#x3D;form_post. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <returns></returns>
        void SocialCallbackPost(string orgId, string provider);

        /// <summary>
        /// Social / enterprise identity-provider callback (form_post)
        /// </summary>
        /// <remarks>
        /// Same as GET for providers that deliver the authorization response with response_mode&#x3D;form_post. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> SocialCallbackPostWithHttpInfo(string orgId, string provider);
        /// <summary>
        /// Start social / enterprise identity-provider login
        /// </summary>
        /// <remarks>
        /// Browser entry point used by the hosted login page. Generates a signed state (carrying the optional redirect_uri and client_id) and redirects to the provider&#39;s authorization endpoint. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <returns></returns>
        void SocialLogin(string orgId, string provider);

        /// <summary>
        /// Start social / enterprise identity-provider login
        /// </summary>
        /// <remarks>
        /// Browser entry point used by the hosted login page. Generates a signed state (carrying the optional redirect_uri and client_id) and redirects to the provider&#39;s authorization endpoint. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> SocialLoginWithHttpInfo(string orgId, string provider);
        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint (form submission)
        /// </summary>
        /// <remarks>
        /// Same as GET; also receives the consent form submission. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>string</returns>
        string SubmitAuthorization(string orgId);

        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint (form submission)
        /// </summary>
        /// <remarks>
        /// Same as GET; also receives the consent form submission. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of string</returns>
        ApiResponse<string> SubmitAuthorizationWithHttpInfo(string orgId);
        /// <summary>
        /// Submit device verification
        /// </summary>
        /// <remarks>
        /// Browser form submission: code entry, or the approve / deny decision for a device. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>string</returns>
        string SubmitDeviceVerification(string orgId);

        /// <summary>
        /// Submit device verification
        /// </summary>
        /// <remarks>
        /// Browser form submission: code entry, or the approve / deny decision for a device. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of string</returns>
        ApiResponse<string> SubmitDeviceVerificationWithHttpInfo(string orgId);
        /// <summary>
        /// Hosted login form submission
        /// </summary>
        /// <remarks>
        /// Receives the hosted OAuth login page&#39;s form (email, password, csrf token and the authorization request parameters). Every outcome — success, invalid credentials, locked account, captcha or CSRF failure — answers with the same redirect back to /oauth/authorize, which re-renders the login page or continues the flow. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns></returns>
        void SubmitLogin(string orgId);

        /// <summary>
        /// Hosted login form submission
        /// </summary>
        /// <remarks>
        /// Receives the hosted OAuth login page&#39;s form (email, password, csrf token and the authorization request parameters). Every outcome — success, invalid credentials, locked account, captcha or CSRF failure — answers with the same redirect back to /oauth/authorize, which re-renders the login page or continues the flow. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of Object(void)</returns>
        ApiResponse<Object> SubmitLoginWithHttpInfo(string orgId);
        /// <summary>
        /// Programmatic (JSON) login for the authorization flow
        /// </summary>
        /// <remarks>
        /// Establishes the end-user browser session from JSON credentials so a following /oauth/authorize request issues a code without showing the hosted login page. Deliberately mints no tokens. Only accepted from trusted origins.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>SubmitLoginJsonResponse</returns>
        SubmitLoginJsonResponse SubmitLoginJson(string orgId);

        /// <summary>
        /// Programmatic (JSON) login for the authorization flow
        /// </summary>
        /// <remarks>
        /// Establishes the end-user browser session from JSON credentials so a following /oauth/authorize request issues a code without showing the hosted login page. Deliberately mints no tokens. Only accepted from trusted origins.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of SubmitLoginJsonResponse</returns>
        ApiResponse<SubmitLoginJsonResponse> SubmitLoginJsonWithHttpInfo(string orgId);
        /// <summary>
        /// Submit organization selection
        /// </summary>
        /// <remarks>
        /// Stores the chosen organization in the session and resumes the pending authorization request. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>string</returns>
        string SubmitOrgSelection(string orgId);

        /// <summary>
        /// Submit organization selection
        /// </summary>
        /// <remarks>
        /// Stores the chosen organization in the session and resumes the pending authorization request. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of string</returns>
        ApiResponse<string> SubmitOrgSelectionWithHttpInfo(string orgId);
        /// <summary>
        /// OAuth 2.1 token endpoint
        /// </summary>
        /// <remarks>
        /// Issues tokens for authorization_code, refresh_token, client_credentials, urn:ietf:params:oauth:grant-type:token-exchange (RFC 8693, ID-JAG and Txn-Token profiles), urn:ietf:params:oauth:grant-type:jwt-bearer (RFC 7523), urn:openid:params:grant-type:ciba and urn:ietf:params:oauth:grant-type:device_code. Accepts application/x-www-form-urlencoded or JSON bodies.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>TokenResponse</returns>
        TokenResponse Token(string orgId);

        /// <summary>
        /// OAuth 2.1 token endpoint
        /// </summary>
        /// <remarks>
        /// Issues tokens for authorization_code, refresh_token, client_credentials, urn:ietf:params:oauth:grant-type:token-exchange (RFC 8693, ID-JAG and Txn-Token profiles), urn:ietf:params:oauth:grant-type:jwt-bearer (RFC 7523), urn:openid:params:grant-type:ciba and urn:ietf:params:oauth:grant-type:device_code. Accepts application/x-www-form-urlencoded or JSON bodies.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of TokenResponse</returns>
        ApiResponse<TokenResponse> TokenWithHttpInfo(string orgId);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IOAuthApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint
        /// </summary>
        /// <remarks>
        /// Browser-facing: validates the authorization request (query parameters, request object or PAR request_uri), renders the hosted login / consent pages and finally delivers the authorization response (code, state, iss, session_state — or a JARM JWT) to the client&#39;s redirect_uri in the requested response_mode. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of string</returns>
        System.Threading.Tasks.Task<string> AuthorizeAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint
        /// </summary>
        /// <remarks>
        /// Browser-facing: validates the authorization request (query parameters, request object or PAR request_uri), renders the hosted login / consent pages and finally delivers the authorization response (code, state, iss, session_state — or a JARM JWT) to the client&#39;s redirect_uri in the requested response_mode. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (string)</returns>
        System.Threading.Tasks.Task<ApiResponse<string>> AuthorizeWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// CIBA backchannel authentication request
        /// </summary>
        /// <remarks>
        /// OpenID Connect Client-Initiated Backchannel Authentication (CIBA Core §7). Classic CIBA: an authenticated client identifies the end user with login_hint / id_token_hint / login_hint_token. Agent-initiated CIBA: an agent (Authorization: Bearer with its agent credential, optionally on behalf of a CIBA-enabled client via agent_id) asks a user to approve RFC 9396 authorization_details. Poll the token endpoint with grant_type&#x3D;urn:openid:params:grant-type:ciba and the returned auth_req_id.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of BackchannelAuthorizeResponse</returns>
        System.Threading.Tasks.Task<BackchannelAuthorizeResponse> BackchannelAuthorizeAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// CIBA backchannel authentication request
        /// </summary>
        /// <remarks>
        /// OpenID Connect Client-Initiated Backchannel Authentication (CIBA Core §7). Classic CIBA: an authenticated client identifies the end user with login_hint / id_token_hint / login_hint_token. Agent-initiated CIBA: an agent (Authorization: Bearer with its agent credential, optionally on behalf of a CIBA-enabled client via agent_id) asks a user to approve RFC 9396 authorization_details. Poll the token endpoint with grant_type&#x3D;urn:openid:params:grant-type:ciba and the returned auth_req_id.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (BackchannelAuthorizeResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<BackchannelAuthorizeResponse>> BackchannelAuthorizeWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Device authorization request (RFC 8628)
        /// </summary>
        /// <remarks>
        /// Starts the device authorization grant for a client registered for urn:ietf:params:oauth:grant-type:device_code. Public clients send client_id only; confidential clients must authenticate. The device then polls the token endpoint with the device_code.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of DeviceAuthorizationResponse</returns>
        System.Threading.Tasks.Task<DeviceAuthorizationResponse> DeviceAuthorizationAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Device authorization request (RFC 8628)
        /// </summary>
        /// <remarks>
        /// Starts the device authorization grant for a client registered for urn:ietf:params:oauth:grant-type:device_code. Public clients send client_id only; confidential clients must authenticate. The device then polls the token endpoint with the device_code.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (DeviceAuthorizationResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<DeviceAuthorizationResponse>> DeviceAuthorizationWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Read a dynamically registered client (RFC 7592 / OIDC DCR §4)
        /// </summary>
        /// <remarks>
        /// Client configuration endpoint. Authenticated with the registration_access_token issued at registration (Authorization: Bearer), presented at the same issuer the client was registered under.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="clientId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of RegisteredClientMetadata</returns>
        System.Threading.Tasks.Task<RegisteredClientMetadata> GetClientConfigurationAsync(string orgId, string clientId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Read a dynamically registered client (RFC 7592 / OIDC DCR §4)
        /// </summary>
        /// <remarks>
        /// Client configuration endpoint. Authenticated with the registration_access_token issued at registration (Authorization: Bearer), presented at the same issuer the client was registered under.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="clientId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (RegisteredClientMetadata)</returns>
        System.Threading.Tasks.Task<ApiResponse<RegisteredClientMetadata>> GetClientConfigurationWithHttpInfoAsync(string orgId, string clientId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Device verification page (RFC 8628 §3.3)
        /// </summary>
        /// <remarks>
        /// Browser page where the end user enters the user_code (or arrives via verification_uri_complete) and approves or denies the device. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of string</returns>
        System.Threading.Tasks.Task<string> GetDeviceVerificationAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Device verification page (RFC 8628 §3.3)
        /// </summary>
        /// <remarks>
        /// Browser page where the end user enters the user_code (or arrives via verification_uri_complete) and approves or denies the device. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (string)</returns>
        System.Threading.Tasks.Task<ApiResponse<string>> GetDeviceVerificationWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Organization selector page
        /// </summary>
        /// <remarks>
        /// Browser page shown during authorization when the signed-in user belongs to several organizations. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of string</returns>
        System.Threading.Tasks.Task<string> GetOrgSelectionAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Organization selector page
        /// </summary>
        /// <remarks>
        /// Browser page shown during authorization when the signed-in user belongs to several organizations. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (string)</returns>
        System.Threading.Tasks.Task<ApiResponse<string>> GetOrgSelectionWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Token introspection (RFC 7662)
        /// </summary>
        /// <remarks>
        /// Resource servers query the active state and meta-information of an access or refresh token. Requires client (or agent) authentication. Always sent with Cache-Control: no-store.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of IntrospectResponse</returns>
        System.Threading.Tasks.Task<IntrospectResponse> IntrospectAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Token introspection (RFC 7662)
        /// </summary>
        /// <remarks>
        /// Resource servers query the active state and meta-information of an access or refresh token. Requires client (or agent) authentication. Always sent with Cache-Control: no-store.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (IntrospectResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<IntrospectResponse>> IntrospectWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Pushed authorization request (RFC 9126)
        /// </summary>
        /// <remarks>
        /// Stores the authorization request parameters server-side and returns a request_uri for the authorization endpoint. Requires client authentication; a DPoP proof binds the resulting code to the key.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ParResponse</returns>
        System.Threading.Tasks.Task<ParResponse> ParAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Pushed authorization request (RFC 9126)
        /// </summary>
        /// <remarks>
        /// Stores the authorization request parameters server-side and returns a request_uri for the authorization endpoint. Requires client authentication; a DPoP proof binds the resulting code to the key.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (ParResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<ParResponse>> ParWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Passkey login entry point
        /// </summary>
        /// <remarks>
        /// Placeholder: flashes an informational message and redirects to the hosted login page. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task PasskeyLoginAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Passkey login entry point
        /// </summary>
        /// <remarks>
        /// Placeholder: flashes an informational message and redirects to the hosted login page. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> PasskeyLoginWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Dynamic client registration (RFC 7591 / OIDC DCR)
        /// </summary>
        /// <remarks>
        /// Registers an OAuth client from a JSON metadata document. Authenticated with an initial access token (Authorization: Bearer) or an API key holding admin:clients:register; open registration applies when the organization allows it.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of RegisterClientResponse</returns>
        System.Threading.Tasks.Task<RegisterClientResponse> RegisterClientAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Dynamic client registration (RFC 7591 / OIDC DCR)
        /// </summary>
        /// <remarks>
        /// Registers an OAuth client from a JSON metadata document. Authenticated with an initial access token (Authorization: Bearer) or an API key holding admin:clients:register; open registration applies when the organization allows it.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (RegisterClientResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<RegisterClientResponse>> RegisterClientWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Token revocation (RFC 7009)
        /// </summary>
        /// <remarks>
        /// Revokes an access or refresh token (revoking a refresh token also revokes the access tokens issued with it). Requires client authentication. Always sent with Cache-Control: no-store.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of Object</returns>
        System.Threading.Tasks.Task<Object> RevokeAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Token revocation (RFC 7009)
        /// </summary>
        /// <remarks>
        /// Revokes an access or refresh token (revoking a refresh token also revokes the access tokens issued with it). Requires client authentication. Always sent with Cache-Control: no-store.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (Object)</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> RevokeWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Social / enterprise identity-provider callback
        /// </summary>
        /// <remarks>
        /// Receives the provider&#39;s authorization response (code + state), exchanges the code, verifies the ID token / fetches the profile, finds or provisions the user and signs them in. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task SocialCallbackAsync(string orgId, string provider, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Social / enterprise identity-provider callback
        /// </summary>
        /// <remarks>
        /// Receives the provider&#39;s authorization response (code + state), exchanges the code, verifies the ID token / fetches the profile, finds or provisions the user and signs them in. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> SocialCallbackWithHttpInfoAsync(string orgId, string provider, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Social / enterprise identity-provider callback (form_post)
        /// </summary>
        /// <remarks>
        /// Same as GET for providers that deliver the authorization response with response_mode&#x3D;form_post. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task SocialCallbackPostAsync(string orgId, string provider, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Social / enterprise identity-provider callback (form_post)
        /// </summary>
        /// <remarks>
        /// Same as GET for providers that deliver the authorization response with response_mode&#x3D;form_post. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> SocialCallbackPostWithHttpInfoAsync(string orgId, string provider, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Start social / enterprise identity-provider login
        /// </summary>
        /// <remarks>
        /// Browser entry point used by the hosted login page. Generates a signed state (carrying the optional redirect_uri and client_id) and redirects to the provider&#39;s authorization endpoint. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task SocialLoginAsync(string orgId, string provider, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Start social / enterprise identity-provider login
        /// </summary>
        /// <remarks>
        /// Browser entry point used by the hosted login page. Generates a signed state (carrying the optional redirect_uri and client_id) and redirects to the provider&#39;s authorization endpoint. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="provider"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> SocialLoginWithHttpInfoAsync(string orgId, string provider, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint (form submission)
        /// </summary>
        /// <remarks>
        /// Same as GET; also receives the consent form submission. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of string</returns>
        System.Threading.Tasks.Task<string> SubmitAuthorizationAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint (form submission)
        /// </summary>
        /// <remarks>
        /// Same as GET; also receives the consent form submission. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (string)</returns>
        System.Threading.Tasks.Task<ApiResponse<string>> SubmitAuthorizationWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Submit device verification
        /// </summary>
        /// <remarks>
        /// Browser form submission: code entry, or the approve / deny decision for a device. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of string</returns>
        System.Threading.Tasks.Task<string> SubmitDeviceVerificationAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit device verification
        /// </summary>
        /// <remarks>
        /// Browser form submission: code entry, or the approve / deny decision for a device. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (string)</returns>
        System.Threading.Tasks.Task<ApiResponse<string>> SubmitDeviceVerificationWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Hosted login form submission
        /// </summary>
        /// <remarks>
        /// Receives the hosted OAuth login page&#39;s form (email, password, csrf token and the authorization request parameters). Every outcome — success, invalid credentials, locked account, captcha or CSRF failure — answers with the same redirect back to /oauth/authorize, which re-renders the login page or continues the flow. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of void</returns>
        System.Threading.Tasks.Task SubmitLoginAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Hosted login form submission
        /// </summary>
        /// <remarks>
        /// Receives the hosted OAuth login page&#39;s form (email, password, csrf token and the authorization request parameters). Every outcome — success, invalid credentials, locked account, captcha or CSRF failure — answers with the same redirect back to /oauth/authorize, which re-renders the login page or continues the flow. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse</returns>
        System.Threading.Tasks.Task<ApiResponse<Object>> SubmitLoginWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Programmatic (JSON) login for the authorization flow
        /// </summary>
        /// <remarks>
        /// Establishes the end-user browser session from JSON credentials so a following /oauth/authorize request issues a code without showing the hosted login page. Deliberately mints no tokens. Only accepted from trusted origins.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of SubmitLoginJsonResponse</returns>
        System.Threading.Tasks.Task<SubmitLoginJsonResponse> SubmitLoginJsonAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Programmatic (JSON) login for the authorization flow
        /// </summary>
        /// <remarks>
        /// Establishes the end-user browser session from JSON credentials so a following /oauth/authorize request issues a code without showing the hosted login page. Deliberately mints no tokens. Only accepted from trusted origins.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (SubmitLoginJsonResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<SubmitLoginJsonResponse>> SubmitLoginJsonWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// Submit organization selection
        /// </summary>
        /// <remarks>
        /// Stores the chosen organization in the session and resumes the pending authorization request. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of string</returns>
        System.Threading.Tasks.Task<string> SubmitOrgSelectionAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Submit organization selection
        /// </summary>
        /// <remarks>
        /// Stores the chosen organization in the session and resumes the pending authorization request. Not a JSON API.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (string)</returns>
        System.Threading.Tasks.Task<ApiResponse<string>> SubmitOrgSelectionWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// OAuth 2.1 token endpoint
        /// </summary>
        /// <remarks>
        /// Issues tokens for authorization_code, refresh_token, client_credentials, urn:ietf:params:oauth:grant-type:token-exchange (RFC 8693, ID-JAG and Txn-Token profiles), urn:ietf:params:oauth:grant-type:jwt-bearer (RFC 7523), urn:openid:params:grant-type:ciba and urn:ietf:params:oauth:grant-type:device_code. Accepts application/x-www-form-urlencoded or JSON bodies.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of TokenResponse</returns>
        System.Threading.Tasks.Task<TokenResponse> TokenAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// OAuth 2.1 token endpoint
        /// </summary>
        /// <remarks>
        /// Issues tokens for authorization_code, refresh_token, client_credentials, urn:ietf:params:oauth:grant-type:token-exchange (RFC 8693, ID-JAG and Txn-Token profiles), urn:ietf:params:oauth:grant-type:jwt-bearer (RFC 7523), urn:openid:params:grant-type:ciba and urn:ietf:params:oauth:grant-type:device_code. Accepts application/x-www-form-urlencoded or JSON bodies.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (TokenResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<TokenResponse>> TokenWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IOAuthApi : IOAuthApiSync, IOAuthApiAsync
    {

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class OAuthApi : IDisposable, IOAuthApi
    {
        private LumoAuth.ApiClient.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="OAuthApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <returns></returns>
        public OAuthApi() : this((string)null)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="OAuthApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        public OAuthApi(string basePath)
        {
            this.Configuration = LumoAuth.ApiClient.Client.Configuration.MergeConfigurations(
                LumoAuth.ApiClient.Client.GlobalConfiguration.Instance,
                new LumoAuth.ApiClient.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new LumoAuth.ApiClient.Client.ApiClient(this.Configuration.BasePath);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = LumoAuth.ApiClient.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="OAuthApi"/> class using Configuration object.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        public OAuthApi(LumoAuth.ApiClient.Client.Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Configuration = LumoAuth.ApiClient.Client.Configuration.MergeConfigurations(
                LumoAuth.ApiClient.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new LumoAuth.ApiClient.Client.ApiClient(this.Configuration.BasePath);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = LumoAuth.ApiClient.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="OAuthApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public OAuthApi(HttpClient client, HttpClientHandler handler = null) : this(client, (string)null, handler)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="OAuthApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public OAuthApi(HttpClient client, string basePath, HttpClientHandler handler = null)
        {
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = LumoAuth.ApiClient.Client.Configuration.MergeConfigurations(
                LumoAuth.ApiClient.Client.GlobalConfiguration.Instance,
                new LumoAuth.ApiClient.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new LumoAuth.ApiClient.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = LumoAuth.ApiClient.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="OAuthApi"/> class using Configuration object.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public OAuthApi(HttpClient client, LumoAuth.ApiClient.Client.Configuration configuration, HttpClientHandler handler = null)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = LumoAuth.ApiClient.Client.Configuration.MergeConfigurations(
                LumoAuth.ApiClient.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new LumoAuth.ApiClient.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = LumoAuth.ApiClient.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="OAuthApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        /// <exception cref="ArgumentNullException"></exception>
        public OAuthApi(LumoAuth.ApiClient.Client.ISynchronousClient client, LumoAuth.ApiClient.Client.IAsynchronousClient asyncClient, LumoAuth.ApiClient.Client.IReadableConfiguration configuration)
        {
            if (client == null) throw new ArgumentNullException("client");
            if (asyncClient == null) throw new ArgumentNullException("asyncClient");
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Client = client;
            this.AsynchronousClient = asyncClient;
            this.Configuration = configuration;
            this.ExceptionFactory = LumoAuth.ApiClient.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Disposes resources if they were created by us
        /// </summary>
        public void Dispose()
        {
            this.ApiClient?.Dispose();
        }

        /// <summary>
        /// Holds the ApiClient if created
        /// </summary>
        public LumoAuth.ApiClient.Client.ApiClient ApiClient { get; set; } = null;

        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        public LumoAuth.ApiClient.Client.IAsynchronousClient AsynchronousClient { get; set; }

        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public LumoAuth.ApiClient.Client.ISynchronousClient Client { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public LumoAuth.ApiClient.Client.IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public LumoAuth.ApiClient.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint Browser-facing: validates the authorization request (query parameters, request object or PAR request_uri), renders the hosted login / consent pages and finally delivers the authorization response (code, state, iss, session_state — or a JARM JWT) to the client&#39;s redirect_uri in the requested response_mode. Not a JSON API.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>string</returns>
        public string Authorize(string orgId)
        {
            LumoAuth.ApiClient.Client.ApiResponse<string> localVarResponse = AuthorizeWithHttpInfo(orgId);
            return localVarResponse.Data;
        }

        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint Browser-facing: validates the authorization request (query parameters, request object or PAR request_uri), renders the hosted login / consent pages and finally delivers the authorization response (code, state, iss, session_state — or a JARM JWT) to the client&#39;s redirect_uri in the requested response_mode. Not a JSON API.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of string</returns>
        public LumoAuth.ApiClient.Client.ApiResponse<string> AuthorizeWithHttpInfo(string orgId)
        {
            // verify the required parameter 'orgId' is set
            if (orgId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'orgId' when calling OAuthApi->Authorize");

            LumoAuth.ApiClient.Client.RequestOptions localVarRequestOptions = new LumoAuth.ApiClient.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "text/html"
            };

            var localVarContentType = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("orgId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(orgId)); // path parameter


            // make the HTTP request
            var localVarResponse = this.Client.Get<string>("/orgs/{orgId}/api/v1/oauth/authorize", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("Authorize", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint Browser-facing: validates the authorization request (query parameters, request object or PAR request_uri), renders the hosted login / consent pages and finally delivers the authorization response (code, state, iss, session_state — or a JARM JWT) to the client&#39;s redirect_uri in the requested response_mode. Not a JSON API.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of string</returns>
        public async System.Threading.Tasks.Task<string> AuthorizeAsync(string orgId, System.Threading.CancellationToken cancellationToken = default)
        {
            LumoAuth.ApiClient.Client.ApiResponse<string> localVarResponse = await AuthorizeWithHttpInfoAsync(orgId, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// OAuth 2.1 / OIDC authorization endpoint Browser-facing: validates the authorization request (query parameters, request object or PAR request_uri), renders the hosted login / consent pages and finally delivers the authorization response (code, state, iss, session_state — or a JARM JWT) to the client&#39;s redirect_uri in the requested response_mode. Not a JSON API.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (string)</returns>
        public async System.Threading.Tasks.Task<LumoAuth.ApiClient.Client.ApiResponse<string>> AuthorizeWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'orgId' is set
            if (orgId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'orgId' when calling OAuthApi->Authorize");


            LumoAuth.ApiClient.Client.RequestOptions localVarRequestOptions = new LumoAuth.ApiClient.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "text/html"
            };


            var localVarContentType = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("orgId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(orgId)); // path parameter


            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<string>("/orgs/{orgId}/api/v1/oauth/authorize", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("Authorize", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// CIBA backchannel authentication request OpenID Connect Client-Initiated Backchannel Authentication (CIBA Core §7). Classic CIBA: an authenticated client identifies the end user with login_hint / id_token_hint / login_hint_token. Agent-initiated CIBA: an agent (Authorization: Bearer with its agent credential, optionally on behalf of a CIBA-enabled client via agent_id) asks a user to approve RFC 9396 authorization_details. Poll the token endpoint with grant_type&#x3D;urn:openid:params:grant-type:ciba and the returned auth_req_id.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>BackchannelAuthorizeResponse</returns>
        public BackchannelAuthorizeResponse BackchannelAuthorize(string orgId)
        {
            LumoAuth.ApiClient.Client.ApiResponse<BackchannelAuthorizeResponse> localVarResponse = BackchannelAuthorizeWithHttpInfo(orgId);
            return localVarResponse.Data;
        }

        /// <summary>
        /// CIBA backchannel authentication request OpenID Connect Client-Initiated Backchannel Authentication (CIBA Core §7). Classic CIBA: an authenticated client identifies the end user with login_hint / id_token_hint / login_hint_token. Agent-initiated CIBA: an agent (Authorization: Bearer with its agent credential, optionally on behalf of a CIBA-enabled client via agent_id) asks a user to approve RFC 9396 authorization_details. Poll the token endpoint with grant_type&#x3D;urn:openid:params:grant-type:ciba and the returned auth_req_id.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of BackchannelAuthorizeResponse</returns>
        public LumoAuth.ApiClient.Client.ApiResponse<BackchannelAuthorizeResponse> BackchannelAuthorizeWithHttpInfo(string orgId)
        {
            // verify the required parameter 'orgId' is set
            if (orgId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'orgId' when calling OAuthApi->BackchannelAuthorize");

            LumoAuth.ApiClient.Client.RequestOptions localVarRequestOptions = new LumoAuth.ApiClient.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("orgId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(orgId)); // path parameter

            // authentication (ClientAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + LumoAuth.ApiClient.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Post<BackchannelAuthorizeResponse>("/orgs/{orgId}/api/v1/oauth/bc-authorize", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("BackchannelAuthorize", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// CIBA backchannel authentication request OpenID Connect Client-Initiated Backchannel Authentication (CIBA Core §7). Classic CIBA: an authenticated client identifies the end user with login_hint / id_token_hint / login_hint_token. Agent-initiated CIBA: an agent (Authorization: Bearer with its agent credential, optionally on behalf of a CIBA-enabled client via agent_id) asks a user to approve RFC 9396 authorization_details. Poll the token endpoint with grant_type&#x3D;urn:openid:params:grant-type:ciba and the returned auth_req_id.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of BackchannelAuthorizeResponse</returns>
        public async System.Threading.Tasks.Task<BackchannelAuthorizeResponse> BackchannelAuthorizeAsync(string orgId, System.Threading.CancellationToken cancellationToken = default)
        {
            LumoAuth.ApiClient.Client.ApiResponse<BackchannelAuthorizeResponse> localVarResponse = await BackchannelAuthorizeWithHttpInfoAsync(orgId, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// CIBA backchannel authentication request OpenID Connect Client-Initiated Backchannel Authentication (CIBA Core §7). Classic CIBA: an authenticated client identifies the end user with login_hint / id_token_hint / login_hint_token. Agent-initiated CIBA: an agent (Authorization: Bearer with its agent credential, optionally on behalf of a CIBA-enabled client via agent_id) asks a user to approve RFC 9396 authorization_details. Poll the token endpoint with grant_type&#x3D;urn:openid:params:grant-type:ciba and the returned auth_req_id.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (BackchannelAuthorizeResponse)</returns>
        public async System.Threading.Tasks.Task<LumoAuth.ApiClient.Client.ApiResponse<BackchannelAuthorizeResponse>> BackchannelAuthorizeWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'orgId' is set
            if (orgId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'orgId' when calling OAuthApi->BackchannelAuthorize");


            LumoAuth.ApiClient.Client.RequestOptions localVarRequestOptions = new LumoAuth.ApiClient.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };


            var localVarContentType = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("orgId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(orgId)); // path parameter

            // authentication (ClientAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + LumoAuth.ApiClient.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.PostAsync<BackchannelAuthorizeResponse>("/orgs/{orgId}/api/v1/oauth/bc-authorize", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("BackchannelAuthorize", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Device authorization request (RFC 8628) Starts the device authorization grant for a client registered for urn:ietf:params:oauth:grant-type:device_code. Public clients send client_id only; confidential clients must authenticate. The device then polls the token endpoint with the device_code.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>DeviceAuthorizationResponse</returns>
        public DeviceAuthorizationResponse DeviceAuthorization(string orgId)
        {
            LumoAuth.ApiClient.Client.ApiResponse<DeviceAuthorizationResponse> localVarResponse = DeviceAuthorizationWithHttpInfo(orgId);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Device authorization request (RFC 8628) Starts the device authorization grant for a client registered for urn:ietf:params:oauth:grant-type:device_code. Public clients send client_id only; confidential clients must authenticate. The device then polls the token endpoint with the device_code.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of DeviceAuthorizationResponse</returns>
        public LumoAuth.ApiClient.Client.ApiResponse<DeviceAuthorizationResponse> DeviceAuthorizationWithHttpInfo(string orgId)
        {
            // verify the required parameter 'orgId' is set
            if (orgId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'orgId' when calling OAuthApi->DeviceAuthorization");

            LumoAuth.ApiClient.Client.RequestOptions localVarRequestOptions = new LumoAuth.ApiClient.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("orgId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(orgId)); // path parameter

            // authentication (ClientAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + LumoAuth.ApiClient.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request
            var localVarResponse = this.Client.Post<DeviceAuthorizationResponse>("/orgs/{orgId}/api/v1/oauth/device_authorization", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("DeviceAuthorization", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Device authorization request (RFC 8628) Starts the device authorization grant for a client registered for urn:ietf:params:oauth:grant-type:device_code. Public clients send client_id only; confidential clients must authenticate. The device then polls the token endpoint with the device_code.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of DeviceAuthorizationResponse</returns>
        public async System.Threading.Tasks.Task<DeviceAuthorizationResponse> DeviceAuthorizationAsync(string orgId, System.Threading.CancellationToken cancellationToken = default)
        {
            LumoAuth.ApiClient.Client.ApiResponse<DeviceAuthorizationResponse> localVarResponse = await DeviceAuthorizationWithHttpInfoAsync(orgId, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Device authorization request (RFC 8628) Starts the device authorization grant for a client registered for urn:ietf:params:oauth:grant-type:device_code. Public clients send client_id only; confidential clients must authenticate. The device then polls the token endpoint with the device_code.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (DeviceAuthorizationResponse)</returns>
        public async System.Threading.Tasks.Task<LumoAuth.ApiClient.Client.ApiResponse<DeviceAuthorizationResponse>> DeviceAuthorizationWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'orgId' is set
            if (orgId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'orgId' when calling OAuthApi->DeviceAuthorization");


            LumoAuth.ApiClient.Client.RequestOptions localVarRequestOptions = new LumoAuth.ApiClient.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };


            var localVarContentType = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("orgId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(orgId)); // path parameter

            // authentication (ClientAuth) required
            // http basic authentication required
            if (!string.IsNullOrEmpty(this.Configuration.Username) || !string.IsNullOrEmpty(this.Configuration.Password) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Basic " + LumoAuth.ApiClient.Client.ClientUtils.Base64Encode(this.Configuration.Username + ":" + this.Configuration.Password));
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.PostAsync<DeviceAuthorizationResponse>("/orgs/{orgId}/api/v1/oauth/device_authorization", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("DeviceAuthorization", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Read a dynamically registered client (RFC 7592 / OIDC DCR §4) Client configuration endpoint. Authenticated with the registration_access_token issued at registration (Authorization: Bearer), presented at the same issuer the client was registered under.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="clientId"></param>
        /// <returns>RegisteredClientMetadata</returns>
        public RegisteredClientMetadata GetClientConfiguration(string orgId, string clientId)
        {
            LumoAuth.ApiClient.Client.ApiResponse<RegisteredClientMetadata> localVarResponse = GetClientConfigurationWithHttpInfo(orgId, clientId);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Read a dynamically registered client (RFC 7592 / OIDC DCR §4) Client configuration endpoint. Authenticated with the registration_access_token issued at registration (Authorization: Bearer), presented at the same issuer the client was registered under.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="clientId"></param>
        /// <returns>ApiResponse of RegisteredClientMetadata</returns>
        public LumoAuth.ApiClient.Client.ApiResponse<RegisteredClientMetadata> GetClientConfigurationWithHttpInfo(string orgId, string clientId)
        {
            // verify the required parameter 'orgId' is set
            if (orgId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'orgId' when calling OAuthApi->GetClientConfiguration");

            // verify the required parameter 'clientId' is set
            if (clientId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'clientId' when calling OAuthApi->GetClientConfiguration");

            LumoAuth.ApiClient.Client.RequestOptions localVarRequestOptions = new LumoAuth.ApiClient.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("orgId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(orgId)); // path parameter
            localVarRequestOptions.PathParameters.Add("clientId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(clientId)); // path parameter

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (BearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<RegisteredClientMetadata>("/orgs/{orgId}/api/v1/connect/register/{clientId}", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetClientConfiguration", localVarResponse);
                if (_exception != null) throw _exception;
            }

[...]
