/*
 * LumoAuth API
 *
 * LumoAuth REST API — authentication, authorization, agent registry, MCP server authorization, and tenant administration. Multi-tenant: most paths are scoped under `/orgs/{orgId}/api/v1/...`. 
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: sdk@lumoauth.dev
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */


using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Net.Mime;
using LumoAuth.ApiClient.Client;
using LumoAuth.ApiClient.Model;

namespace LumoAuth.ApiClient.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface ITokenVaultApiSync : IApiAccessor
    {
        #region Synchronous Operations
        /// <summary>
        /// Fetch a live third-party access token for a connection
        /// </summary>
        /// <remarks>
        /// Agent bearer token required. Returns the vaulted provider access token (refreshing it when needed). Pass {\&quot;user_id\&quot;: \&quot;&lt;uuid or email&gt;\&quot;} for a user-delegated grant — issued only when that user allowed this agent on their grant. Refresh tokens never cross this boundary. Rate limited per agent.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="connectionId"></param>
        /// <param name="getConnectionTokenRequest"> (optional)</param>
        /// <returns>GetConnectionTokenResponse</returns>
        GetConnectionTokenResponse GetConnectionToken(string orgId, string connectionId, GetConnectionTokenRequest? getConnectionTokenRequest = default);

        /// <summary>
        /// Fetch a live third-party access token for a connection
        /// </summary>
        /// <remarks>
        /// Agent bearer token required. Returns the vaulted provider access token (refreshing it when needed). Pass {\&quot;user_id\&quot;: \&quot;&lt;uuid or email&gt;\&quot;} for a user-delegated grant — issued only when that user allowed this agent on their grant. Refresh tokens never cross this boundary. Rate limited per agent.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="connectionId"></param>
        /// <param name="getConnectionTokenRequest"> (optional)</param>
        /// <returns>ApiResponse of GetConnectionTokenResponse</returns>
        ApiResponse<GetConnectionTokenResponse> GetConnectionTokenWithHttpInfo(string orgId, string connectionId, GetConnectionTokenRequest? getConnectionTokenRequest = default);
        /// <summary>
        /// List the outbound connections this agent may use
        /// </summary>
        /// <remarks>
        /// Agent bearer token required. Returns every active Token Vault connection that allows the calling agent, with grant status. No secrets are returned.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ListConnectionsResponse</returns>
        ListConnectionsResponse ListConnections(string orgId);

        /// <summary>
        /// List the outbound connections this agent may use
        /// </summary>
        /// <remarks>
        /// Agent bearer token required. Returns every active Token Vault connection that allows the calling agent, with grant status. No secrets are returned.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of ListConnectionsResponse</returns>
        ApiResponse<ListConnectionsResponse> ListConnectionsWithHttpInfo(string orgId);
        #endregion Synchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface ITokenVaultApiAsync : IApiAccessor
    {
        #region Asynchronous Operations
        /// <summary>
        /// Fetch a live third-party access token for a connection
        /// </summary>
        /// <remarks>
        /// Agent bearer token required. Returns the vaulted provider access token (refreshing it when needed). Pass {\&quot;user_id\&quot;: \&quot;&lt;uuid or email&gt;\&quot;} for a user-delegated grant — issued only when that user allowed this agent on their grant. Refresh tokens never cross this boundary. Rate limited per agent.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="connectionId"></param>
        /// <param name="getConnectionTokenRequest"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of GetConnectionTokenResponse</returns>
        System.Threading.Tasks.Task<GetConnectionTokenResponse> GetConnectionTokenAsync(string orgId, string connectionId, GetConnectionTokenRequest? getConnectionTokenRequest = default, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// Fetch a live third-party access token for a connection
        /// </summary>
        /// <remarks>
        /// Agent bearer token required. Returns the vaulted provider access token (refreshing it when needed). Pass {\&quot;user_id\&quot;: \&quot;&lt;uuid or email&gt;\&quot;} for a user-delegated grant — issued only when that user allowed this agent on their grant. Refresh tokens never cross this boundary. Rate limited per agent.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="connectionId"></param>
        /// <param name="getConnectionTokenRequest"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (GetConnectionTokenResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<GetConnectionTokenResponse>> GetConnectionTokenWithHttpInfoAsync(string orgId, string connectionId, GetConnectionTokenRequest? getConnectionTokenRequest = default, System.Threading.CancellationToken cancellationToken = default);
        /// <summary>
        /// List the outbound connections this agent may use
        /// </summary>
        /// <remarks>
        /// Agent bearer token required. Returns every active Token Vault connection that allows the calling agent, with grant status. No secrets are returned.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ListConnectionsResponse</returns>
        System.Threading.Tasks.Task<ListConnectionsResponse> ListConnectionsAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);

        /// <summary>
        /// List the outbound connections this agent may use
        /// </summary>
        /// <remarks>
        /// Agent bearer token required. Returns every active Token Vault connection that allows the calling agent, with grant status. No secrets are returned.
        /// </remarks>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (ListConnectionsResponse)</returns>
        System.Threading.Tasks.Task<ApiResponse<ListConnectionsResponse>> ListConnectionsWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default);
        #endregion Asynchronous Operations
    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface ITokenVaultApi : ITokenVaultApiSync, ITokenVaultApiAsync
    {

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public partial class TokenVaultApi : IDisposable, ITokenVaultApi
    {
        private LumoAuth.ApiClient.Client.ExceptionFactory _exceptionFactory = (name, response) => null;

        /// <summary>
        /// Initializes a new instance of the <see cref="TokenVaultApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <returns></returns>
        public TokenVaultApi() : this((string)null)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="TokenVaultApi"/> class.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        public TokenVaultApi(string basePath)
        {
            this.Configuration = LumoAuth.ApiClient.Client.Configuration.MergeConfigurations(
                LumoAuth.ApiClient.Client.GlobalConfiguration.Instance,
                new LumoAuth.ApiClient.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new LumoAuth.ApiClient.Client.ApiClient(this.Configuration.BasePath);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = LumoAuth.ApiClient.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="TokenVaultApi"/> class using Configuration object.
        /// **IMPORTANT** This will also create an instance of HttpClient, which is less than ideal.
        /// It's better to reuse the <see href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests#issues-with-the-original-httpclient-class-available-in-net">HttpClient and HttpClientHandler</see>.
        /// </summary>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        public TokenVaultApi(LumoAuth.ApiClient.Client.Configuration configuration)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Configuration = LumoAuth.ApiClient.Client.Configuration.MergeConfigurations(
                LumoAuth.ApiClient.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new LumoAuth.ApiClient.Client.ApiClient(this.Configuration.BasePath);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = LumoAuth.ApiClient.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="TokenVaultApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public TokenVaultApi(HttpClient client, HttpClientHandler handler = null) : this(client, (string)null, handler)
        {
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="TokenVaultApi"/> class.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="basePath">The target service's base path in URL format.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <exception cref="ArgumentException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public TokenVaultApi(HttpClient client, string basePath, HttpClientHandler handler = null)
        {
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = LumoAuth.ApiClient.Client.Configuration.MergeConfigurations(
                LumoAuth.ApiClient.Client.GlobalConfiguration.Instance,
                new LumoAuth.ApiClient.Client.Configuration { BasePath = basePath }
            );
            this.ApiClient = new LumoAuth.ApiClient.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client =  this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            this.ExceptionFactory = LumoAuth.ApiClient.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="TokenVaultApi"/> class using Configuration object.
        /// </summary>
        /// <param name="client">An instance of HttpClient.</param>
        /// <param name="configuration">An instance of Configuration.</param>
        /// <param name="handler">An optional instance of HttpClientHandler that is used by HttpClient.</param>
        /// <exception cref="ArgumentNullException"></exception>
        /// <returns></returns>
        /// <remarks>
        /// Some configuration settings will not be applied without passing an HttpClientHandler.
        /// The features affected are: Setting and Retrieving Cookies, Client Certificates, Proxy settings.
        /// </remarks>
        public TokenVaultApi(HttpClient client, LumoAuth.ApiClient.Client.Configuration configuration, HttpClientHandler handler = null)
        {
            if (configuration == null) throw new ArgumentNullException("configuration");
            if (client == null) throw new ArgumentNullException("client");

            this.Configuration = LumoAuth.ApiClient.Client.Configuration.MergeConfigurations(
                LumoAuth.ApiClient.Client.GlobalConfiguration.Instance,
                configuration
            );
            this.ApiClient = new LumoAuth.ApiClient.Client.ApiClient(client, this.Configuration.BasePath, handler);
            this.Client = this.ApiClient;
            this.AsynchronousClient = this.ApiClient;
            ExceptionFactory = LumoAuth.ApiClient.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="TokenVaultApi"/> class
        /// using a Configuration object and client instance.
        /// </summary>
        /// <param name="client">The client interface for synchronous API access.</param>
        /// <param name="asyncClient">The client interface for asynchronous API access.</param>
        /// <param name="configuration">The configuration object.</param>
        /// <exception cref="ArgumentNullException"></exception>
        public TokenVaultApi(LumoAuth.ApiClient.Client.ISynchronousClient client, LumoAuth.ApiClient.Client.IAsynchronousClient asyncClient, LumoAuth.ApiClient.Client.IReadableConfiguration configuration)
        {
            if (client == null) throw new ArgumentNullException("client");
            if (asyncClient == null) throw new ArgumentNullException("asyncClient");
            if (configuration == null) throw new ArgumentNullException("configuration");

            this.Client = client;
            this.AsynchronousClient = asyncClient;
            this.Configuration = configuration;
            this.ExceptionFactory = LumoAuth.ApiClient.Client.Configuration.DefaultExceptionFactory;
        }

        /// <summary>
        /// Disposes resources if they were created by us
        /// </summary>
        public void Dispose()
        {
            this.ApiClient?.Dispose();
        }

        /// <summary>
        /// Holds the ApiClient if created
        /// </summary>
        public LumoAuth.ApiClient.Client.ApiClient ApiClient { get; set; } = null;

        /// <summary>
        /// The client for accessing this underlying API asynchronously.
        /// </summary>
        public LumoAuth.ApiClient.Client.IAsynchronousClient AsynchronousClient { get; set; }

        /// <summary>
        /// The client for accessing this underlying API synchronously.
        /// </summary>
        public LumoAuth.ApiClient.Client.ISynchronousClient Client { get; set; }

        /// <summary>
        /// Gets the base path of the API client.
        /// </summary>
        /// <value>The base path</value>
        public string GetBasePath()
        {
            return this.Configuration.BasePath;
        }

        /// <summary>
        /// Gets or sets the configuration object
        /// </summary>
        /// <value>An instance of the Configuration</value>
        public LumoAuth.ApiClient.Client.IReadableConfiguration Configuration { get; set; }

        /// <summary>
        /// Provides a factory method hook for the creation of exceptions.
        /// </summary>
        public LumoAuth.ApiClient.Client.ExceptionFactory ExceptionFactory
        {
            get
            {
                if (_exceptionFactory != null && _exceptionFactory.GetInvocationList().Length > 1)
                {
                    throw new InvalidOperationException("Multicast delegate for ExceptionFactory is unsupported.");
                }
                return _exceptionFactory;
            }
            set { _exceptionFactory = value; }
        }

        /// <summary>
        /// Fetch a live third-party access token for a connection Agent bearer token required. Returns the vaulted provider access token (refreshing it when needed). Pass {\&quot;user_id\&quot;: \&quot;&lt;uuid or email&gt;\&quot;} for a user-delegated grant — issued only when that user allowed this agent on their grant. Refresh tokens never cross this boundary. Rate limited per agent.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="connectionId"></param>
        /// <param name="getConnectionTokenRequest"> (optional)</param>
        /// <returns>GetConnectionTokenResponse</returns>
        public GetConnectionTokenResponse GetConnectionToken(string orgId, string connectionId, GetConnectionTokenRequest? getConnectionTokenRequest = default)
        {
            LumoAuth.ApiClient.Client.ApiResponse<GetConnectionTokenResponse> localVarResponse = GetConnectionTokenWithHttpInfo(orgId, connectionId, getConnectionTokenRequest);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Fetch a live third-party access token for a connection Agent bearer token required. Returns the vaulted provider access token (refreshing it when needed). Pass {\&quot;user_id\&quot;: \&quot;&lt;uuid or email&gt;\&quot;} for a user-delegated grant — issued only when that user allowed this agent on their grant. Refresh tokens never cross this boundary. Rate limited per agent.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="connectionId"></param>
        /// <param name="getConnectionTokenRequest"> (optional)</param>
        /// <returns>ApiResponse of GetConnectionTokenResponse</returns>
        public LumoAuth.ApiClient.Client.ApiResponse<GetConnectionTokenResponse> GetConnectionTokenWithHttpInfo(string orgId, string connectionId, GetConnectionTokenRequest? getConnectionTokenRequest = default)
        {
            // verify the required parameter 'orgId' is set
            if (orgId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'orgId' when calling TokenVaultApi->GetConnectionToken");

            // verify the required parameter 'connectionId' is set
            if (connectionId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'connectionId' when calling TokenVaultApi->GetConnectionToken");

            LumoAuth.ApiClient.Client.RequestOptions localVarRequestOptions = new LumoAuth.ApiClient.Client.RequestOptions();

            string[] _contentTypes = new string[] {
                "application/json"
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("orgId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(orgId)); // path parameter
            localVarRequestOptions.PathParameters.Add("connectionId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(connectionId)); // path parameter
            localVarRequestOptions.Data = getConnectionTokenRequest;

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (BearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = this.Client.Post<GetConnectionTokenResponse>("/orgs/{orgId}/api/v1/agents/me/connections/{connectionId}/token", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetConnectionToken", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// Fetch a live third-party access token for a connection Agent bearer token required. Returns the vaulted provider access token (refreshing it when needed). Pass {\&quot;user_id\&quot;: \&quot;&lt;uuid or email&gt;\&quot;} for a user-delegated grant — issued only when that user allowed this agent on their grant. Refresh tokens never cross this boundary. Rate limited per agent.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="connectionId"></param>
        /// <param name="getConnectionTokenRequest"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of GetConnectionTokenResponse</returns>
        public async System.Threading.Tasks.Task<GetConnectionTokenResponse> GetConnectionTokenAsync(string orgId, string connectionId, GetConnectionTokenRequest? getConnectionTokenRequest = default, System.Threading.CancellationToken cancellationToken = default)
        {
            LumoAuth.ApiClient.Client.ApiResponse<GetConnectionTokenResponse> localVarResponse = await GetConnectionTokenWithHttpInfoAsync(orgId, connectionId, getConnectionTokenRequest, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// Fetch a live third-party access token for a connection Agent bearer token required. Returns the vaulted provider access token (refreshing it when needed). Pass {\&quot;user_id\&quot;: \&quot;&lt;uuid or email&gt;\&quot;} for a user-delegated grant — issued only when that user allowed this agent on their grant. Refresh tokens never cross this boundary. Rate limited per agent.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="connectionId"></param>
        /// <param name="getConnectionTokenRequest"> (optional)</param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (GetConnectionTokenResponse)</returns>
        public async System.Threading.Tasks.Task<LumoAuth.ApiClient.Client.ApiResponse<GetConnectionTokenResponse>> GetConnectionTokenWithHttpInfoAsync(string orgId, string connectionId, GetConnectionTokenRequest? getConnectionTokenRequest = default, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'orgId' is set
            if (orgId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'orgId' when calling TokenVaultApi->GetConnectionToken");

            // verify the required parameter 'connectionId' is set
            if (connectionId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'connectionId' when calling TokenVaultApi->GetConnectionToken");


            LumoAuth.ApiClient.Client.RequestOptions localVarRequestOptions = new LumoAuth.ApiClient.Client.RequestOptions();

            string[] _contentTypes = new string[] {
                "application/json"
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };


            var localVarContentType = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("orgId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(orgId)); // path parameter
            localVarRequestOptions.PathParameters.Add("connectionId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(connectionId)); // path parameter
            localVarRequestOptions.Data = getConnectionTokenRequest;

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (BearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.PostAsync<GetConnectionTokenResponse>("/orgs/{orgId}/api/v1/agents/me/connections/{connectionId}/token", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("GetConnectionToken", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List the outbound connections this agent may use Agent bearer token required. Returns every active Token Vault connection that allows the calling agent, with grant status. No secrets are returned.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ListConnectionsResponse</returns>
        public ListConnectionsResponse ListConnections(string orgId)
        {
            LumoAuth.ApiClient.Client.ApiResponse<ListConnectionsResponse> localVarResponse = ListConnectionsWithHttpInfo(orgId);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List the outbound connections this agent may use Agent bearer token required. Returns every active Token Vault connection that allows the calling agent, with grant status. No secrets are returned.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <returns>ApiResponse of ListConnectionsResponse</returns>
        public LumoAuth.ApiClient.Client.ApiResponse<ListConnectionsResponse> ListConnectionsWithHttpInfo(string orgId)
        {
            // verify the required parameter 'orgId' is set
            if (orgId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'orgId' when calling TokenVaultApi->ListConnections");

            LumoAuth.ApiClient.Client.RequestOptions localVarRequestOptions = new LumoAuth.ApiClient.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };

            var localVarContentType = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("orgId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(orgId)); // path parameter

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (BearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request
            var localVarResponse = this.Client.Get<ListConnectionsResponse>("/orgs/{orgId}/api/v1/agents/me/connections", localVarRequestOptions, this.Configuration);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("ListConnections", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

        /// <summary>
        /// List the outbound connections this agent may use Agent bearer token required. Returns every active Token Vault connection that allows the calling agent, with grant status. No secrets are returned.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ListConnectionsResponse</returns>
        public async System.Threading.Tasks.Task<ListConnectionsResponse> ListConnectionsAsync(string orgId, System.Threading.CancellationToken cancellationToken = default)
        {
            LumoAuth.ApiClient.Client.ApiResponse<ListConnectionsResponse> localVarResponse = await ListConnectionsWithHttpInfoAsync(orgId, cancellationToken).ConfigureAwait(false);
            return localVarResponse.Data;
        }

        /// <summary>
        /// List the outbound connections this agent may use Agent bearer token required. Returns every active Token Vault connection that allows the calling agent, with grant status. No secrets are returned.
        /// </summary>
        /// <exception cref="LumoAuth.ApiClient.Client.ApiException">Thrown when fails to make API call</exception>
        /// <param name="orgId"></param>
        /// <param name="cancellationToken">Cancellation Token to cancel the request.</param>
        /// <returns>Task of ApiResponse (ListConnectionsResponse)</returns>
        public async System.Threading.Tasks.Task<LumoAuth.ApiClient.Client.ApiResponse<ListConnectionsResponse>> ListConnectionsWithHttpInfoAsync(string orgId, System.Threading.CancellationToken cancellationToken = default)
        {
            // verify the required parameter 'orgId' is set
            if (orgId == null)
                throw new LumoAuth.ApiClient.Client.ApiException(400, "Missing required parameter 'orgId' when calling TokenVaultApi->ListConnections");


            LumoAuth.ApiClient.Client.RequestOptions localVarRequestOptions = new LumoAuth.ApiClient.Client.RequestOptions();

            string[] _contentTypes = new string[] {
            };

            // to determine the Accept header
            string[] _accepts = new string[] {
                "application/json"
            };


            var localVarContentType = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderContentType(_contentTypes);
            if (localVarContentType != null) localVarRequestOptions.HeaderParameters.Add("Content-Type", localVarContentType);

            var localVarAccept = LumoAuth.ApiClient.Client.ClientUtils.SelectHeaderAccept(_accepts);
            if (localVarAccept != null) localVarRequestOptions.HeaderParameters.Add("Accept", localVarAccept);

            localVarRequestOptions.PathParameters.Add("orgId", LumoAuth.ApiClient.Client.ClientUtils.ParameterToString(orgId)); // path parameter

            // authentication (ApiKeyAuth) required
            if (!string.IsNullOrEmpty(this.Configuration.GetApiKeyWithPrefix("X-API-Key")))
            {
                localVarRequestOptions.HeaderParameters.Add("X-API-Key", this.Configuration.GetApiKeyWithPrefix("X-API-Key"));
            }
            // authentication (BearerAuth) required
            // bearer authentication required
            if (!string.IsNullOrEmpty(this.Configuration.AccessToken) && !localVarRequestOptions.HeaderParameters.ContainsKey("Authorization"))
            {
                localVarRequestOptions.HeaderParameters.Add("Authorization", "Bearer " + this.Configuration.AccessToken);
            }

            // make the HTTP request

            var localVarResponse = await this.AsynchronousClient.GetAsync<ListConnectionsResponse>("/orgs/{orgId}/api/v1/agents/me/connections", localVarRequestOptions, this.Configuration, cancellationToken).ConfigureAwait(false);

            if (this.ExceptionFactory != null)
            {
                Exception _exception = this.ExceptionFactory("ListConnections", localVarResponse);
                if (_exception != null) throw _exception;
            }

            return localVarResponse;
        }

    }
}
