openapi: 3.0.0
info:
  contact:
    email: sdk@lumoauth.dev
    name: LumoAuth
    url: https://lumoauth.dev
  description: |
    LumoAuth REST API — authentication, authorization, agent registry,
    MCP server authorization, and tenant administration. Multi-tenant:
    most paths are scoped under `/orgs/{orgId}/api/v1/...`.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: LumoAuth API
  version: 1.0.0
servers:
- description: Production
  url: https://app.lumoauth.dev
- description: Local
  url: http://localhost:8000
security:
- BearerAuth: []
- ApiKeyAuth: []
tags:
- description: Who-am-I lookup for users + agents.
  name: Identity
- description: "Agent registry, capabilities, attestation, runtime."
  name: Agents
- description: Policy Decision Point (RBAC + ABAC + Zanzibar).
  name: Authorization
- description: "Agent-native auth — token issuance, delegation, discovery."
  name: AAuth
- description: Model Context Protocol authorization (RFC 9728).
  name: Mcp
  x-displayName: MCP
- description: Just-in-time permissions with human-in-the-loop approval.
  name: Jit
  x-displayName: JIT
- description: "OAuth 2.0/2.1 protocol endpoints — token, introspection, revocation,\
    \ PAR, CIBA, device grant, authorization, dynamic client registration."
  name: OAuth
- description: "OpenID Connect — UserInfo, session management, RP-initiated logout."
  name: OIDC
- description: Public discovery documents (/.well-known/*) and JWKS.
  name: WellKnown
- description: Shared Signals Framework — event stream configuration and verification.
  name: Ssf
  x-displayName: SSF
- description: Agent token vault — third-party connection tokens.
  name: Token Vault
- description: CRUD on users; block/unblock; password and MFA reset.
  name: "Admin: Users"
- description: OAuth client lifecycle.
  name: "Admin: OAuth Clients"
- description: Admin-side agent registry CRUD.
  name: "Admin: Agents"
- description: Group membership management.
  name: "Admin: Groups"
- description: Role definitions + permission bindings.
  name: "Admin: Roles"
- description: Permission catalogue.
  name: "Admin: Permissions"
- description: List + revoke user sessions.
  name: "Admin: Sessions"
- description: Tenant-wide auth settings.
  name: "Admin: Settings"
- description: "Webhook CRUD, delivery log, replay."
  name: "Admin: Webhooks"
- description: B2B org and member management.
  name: "Admin: Organizations"
- description: Audit log search and export.
  name: "Admin: Audit Logs"
- description: ABAC attribute and policy management.
  name: "Admin: Abac"
  x-displayName: "Admin: ABAC"
- description: Tenant email template editor.
  name: "Admin: Email"
- description: Per-tenant social login config.
  name: "Admin: Identity Providers"
- description: Admin-side MCP server registry.
  name: "Admin: Mcp"
  x-displayName: "Admin: MCP"
- description: Ephemeral sandbox tenant lifecycle.
  name: "Admin: Sandbox"
paths:
  /orgs/{orgId}/api/v1/aauth/agent/token:
    post:
      description: |-
        Per Section 9: The agent token endpoint is the auth server's endpoint
        agents use to request auth tokens.

        Required HTTP signature covering: @method, @target-uri, content-type,
        content-digest, authorization
      operationId: issueAgentToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueAgentTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueAgentTokenResponse"
          description: "An auth token, or a request token + authorization URI when\
            \ user consent is needed."
        "400":
          description: "Invalid request (missing/unknown request_type, invalid body,\
            \ invalid resource/redirect)."
        "401":
          description: "Agent-Auth challenge — missing/invalid Agent-Auth header,\
            \ signature, or agent token."
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Agent Token Endpoint
      tags:
      - AAuth
      x-symfony-route: aauth_agent_token
  /orgs/{orgId}/api/v1/aauth/agent/auth:
    get:
      description: |-
        Per Section 9.4: The auth server redirects the user's browser
        to its authorization page.
      operationId: authorizeAgent
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "302":
          description: Redirect to the tenant portal AAuth consent page for the given
            request_token.
        "400":
          description: Missing request_token query parameter.
      security:
      - AAuthSigned: []
      summary: Agent Auth Endpoint - redirects to user consent page.
      tags:
      - AAuth
      x-symfony-route: aauth_agent_auth
  /orgs/{orgId}/api/v1/aauth/agent/issue:
    post:
      description: |-
        Called by the agent server when a delegate needs to act on its behalf.

        This endpoint requires the agent server to authenticate itself
        (via HTTP signature with its registered key).
      operationId: issueDelegateToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueDelegateTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueDelegateTokenResponse"
          description: The issued agent token and its metadata.
        "400":
          description: "Invalid JSON body, or missing delegate_sub / delegate_public_key."
        "401":
          description: Agent server HTTP-message-signature verification failed.
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Issue an agent token to a delegate.
      tags:
      - AAuth
      x-symfony-route: aauth_agent_issue
  /orgs/{orgId}/api/v1/aauth/token/revoke:
    post:
      operationId: revokeAgentToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeAgentTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeAgentTokenResponse"
          description: Revocation acknowledged (always 200 — existence of the token
            is not disclosed).
        "400":
          description: Missing token parameter.
        "401":
          description: Agent-Auth challenge — authentication/signature verification
            failed.
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Revoke an auth token or refresh token.
      tags:
      - AAuth
      x-symfony-route: aauth_token_revoke
  /orgs/{orgId}/api/v1/.well-known/aauth-issuer:
    get:
      operationId: getIssuerMetadata
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIssuerMetadataResponse"
          description: AAuth auth-server metadata document (Section 8.2).
      security: []
      summary: |-
        Auth Server Metadata (Section 8.2)
        Published at /.well-known/aauth-issuer for each tenant.
      tags:
      - AAuth
      x-symfony-route: aauth_issuer_metadata
  /orgs/{orgId}/api/v1/aauth/jwks.json:
    get:
      operationId: getIssuerJwks
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwksResponse"
          description: The auth server JWKS (public keys used to verify issued JWTs).
      security: []
      summary: Auth Server JWKS endpoint for AAuth.
      tags:
      - AAuth
      x-symfony-route: aauth_issuer_jwks
  /orgs/{orgId}/api/v1/.well-known/aauth-agent:
    get:
      operationId: getAgentMetadata
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Metadata documents for all active agents of this tenant (Section
            8.1).
      security: []
      summary: |-
        Agent Metadata (Section 8.1)
        Published at /.well-known/aauth-agent for registered agents.
      tags:
      - AAuth
      x-symfony-route: aauth_agent_metadata
  /orgs/{orgId}/api/v1/aauth/agents/{agentId}/metadata:
    get:
      operationId: getAgentMetadataById
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Metadata document for a single active agent.
        "404":
          description: Agent not found.
      security: []
      summary: Individual Agent Metadata
      tags:
      - AAuth
      x-symfony-route: aauth_agent_metadata_single
  /orgs/{orgId}/api/v1/aauth/agents/{agentId}/jwks.json:
    get:
      operationId: getAgentJwks
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwksResponse"
          description: The agent JWKS.
        "404":
          description: Agent not found.
      security: []
      summary: Agent JWKS endpoint
      tags:
      - AAuth
      x-symfony-route: aauth_agent_jwks
  /orgs/{orgId}/api/v1/.well-known/aauth-resource:
    get:
      operationId: getResourceMetadata
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Metadata documents for all active resources of this tenant
            (Section 8.3).
      security: []
      summary: Resource Metadata (Section 8.3)
      tags:
      - AAuth
      x-symfony-route: aauth_resource_metadata
  /orgs/{orgId}/api/v1/aauth/resources/{resourceId}/metadata:
    get:
      operationId: getResourceMetadataById
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Metadata document for a single active resource.
        "404":
          description: Resource not found.
      security: []
      summary: Individual Resource Metadata
      tags:
      - AAuth
      x-symfony-route: aauth_resource_metadata_single
  /orgs/{orgId}/api/v1/aauth/resources/{resourceId}/jwks.json:
    get:
      operationId: getResourceJwks
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwksResponse"
          description: The resource JWKS.
        "404":
          description: Resource not found.
      security: []
      summary: Resource JWKS endpoint
      tags:
      - AAuth
      x-symfony-route: aauth_resource_jwks
  /orgs/{orgId}/api/v1/aauth/agent/platform-token:
    post:
      operationId: issuePlatformToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssuePlatformTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssuePlatformTokenResponse"
          description: "A short-lived core-agent access token accepted by JIT, the\
            \ token vault, and the authz PDP."
        "400":
          description: Invalid exchange request (grant_type / subject_token).
        "401":
          description: "The AAuth token is invalid, expired, or revoked."
        "403":
          description: Denied by a conditional access policy.
      security:
      - AAuthSigned: []
      tags:
      - AAuth
      x-symfony-route: aauth_agent_platform_token
  /orgs/{orgId}/api/v1/aauth/resource/token:
    post:
      description: |-
        Called by a registered resource to create a resource token
        binding an agent's request to the resource's identity.

        The resource authenticates via HTTP Message Signature using
        its registered key.
      operationId: issueResourceToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueResourceTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueResourceTokenResponse"
          description: A resource token binding the agent request to the resource
            identity.
        "400":
          description: "Invalid JSON body, missing agent/agent_jkt, or unsupported\
            \ scope."
        "401":
          description: Resource authentication (HTTP message signature) failed.
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Resource Token Endpoint (Section 6)
      tags:
      - AAuth
      x-symfony-route: aauth_resource_token
  /orgs/{orgId}/api/v1/aauth/resource/token/verify:
    post:
      description: A convenience endpoint—resources can also validate locally.
      operationId: verifyResourceToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyResourceTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResourceTokenResponse"
          description: Introspection result; active=false with an error when the token
            is invalid.
        "400":
          description: "Missing resource_token, agent, or agent_jkt."
        "401":
          description: Resource authentication failed.
        "403":
          description: Resource token is not valid for the authenticated resource.
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Resource Token Verification (for resources to validate their own tokens).
      tags:
      - AAuth
      x-symfony-route: aauth_resource_token_verify
  /orgs/{orgId}/api/v1/aauth/auth/token/verify:
    post:
      description: |-
        Resources call this to validate an auth token presented by an agent.
        Per Section 7.7, the resource validates:
          1. JWT signature from trusted auth server
          2. aud matches resource identifier
          3. exp is in the future
          4. HTTP Message Signature on the agent's incoming request matches the
             key whose thumbprint is `cnf_jkt` in the response.

        IMPORTANT — proof-of-possession is mandatory. A response of
        `{"active": true, ...}` from this endpoint means the JWT is well-formed
        and bound to the named resource; it does NOT mean the caller is the
        legitimate holder of the token. The resource MUST independently verify
        that the HTTP Message Signature on the agent's request was produced with
        the key that hashes to `cnf_jkt`. A token without this PoP check is
        effectively a bearer token and can be replayed by anyone who observes
        it. The response includes `pop_required: true` to surface this contract
        to integrators who only inspect `active`.
      operationId: verifyAuthToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyAuthTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyAuthTokenResponse"
          description: Introspection result. active=true does NOT imply PoP — the
            caller MUST verify the HTTP message signature against cnf_jkt.
        "400":
          description: Missing auth_token or resource.
        "401":
          description: Resource authentication failed.
        "403":
          description: Requested resource does not match the authenticated resource.
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Auth Token Verification endpoint.
      tags:
      - AAuth
      x-symfony-route: aauth_auth_token_verify
  /orgs/{orgId}/api/v1/abac/check:
    post:
      description: |-
        POST /api/v1/abac/check
        Body: {
          resourceType: string,
          action: string,
          resourceId?: string,
          environment?: { ip?: string, userAgent?: string, ... }
        }

        Returns: { allowed: boolean, reason: string, matchedPolicies: [...] }
      operationId: checkAbac
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Check ABAC authorization
      tags:
      - Authorization
      x-symfony-route: api_abac_check
  /orgs/{orgId}/api/v1/abac/check-bulk:
    post:
      description: |-
        POST /api/v1/abac/check-bulk
        Body: {
          checks: [
            { resourceType: string, action: string, resourceId?: string },
            ...
          ],
          environment?: { ... }
        }
      operationId: checkAbacBulk
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Bulk check multiple authorization requests
      tags:
      - Authorization
      x-symfony-route: api_abac_check_bulk
  /orgs/{orgId}/api/v1/abac/my-attributes:
    get:
      description: GET /api/v1/abac/my-attributes
      operationId: getMyAttributes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get user's current attributes (for debugging/UI)
      tags:
      - Authorization
      x-symfony-route: api_abac_my_attributes
  /orgs/{orgId}/api/v1/abac/resources/{resourceType}/{resourceId}/attributes:
    get:
      description: "GET /api/v1/abac/resources/{resourceType}/{resourceId}/attributes"
      operationId: getResourceAttributes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get resource attributes
      tags:
      - Authorization
      x-symfony-route: api_abac_resource_attributes
  /orgs/{orgId}/api/v1/abac/resources/{resourceType}/{resourceId}/attributes/{attributeSlug}:
    put:
      description: |-
        PUT /api/v1/abac/resources/{resourceType}/{resourceId}/attributes/{attributeSlug}
        Body: { value: any }
      operationId: setResourceAttribute
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: attributeSlug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Set resource attribute
      tags:
      - Authorization
      x-symfony-route: api_abac_set_resource_attribute
  /orgs/{orgId}/api/v1/abac/users/{userId}/attributes/{attributeSlug}:
    put:
      description: |-
        PUT /api/v1/abac/users/{userId}/attributes/{attributeSlug}
        Body: { value: any }
      operationId: setUserAttribute
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: attributeSlug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Set user attribute
      tags:
      - Authorization
      x-symfony-route: api_abac_set_user_attribute
  /orgs/{orgId}/api/v1/abac/attribute-definitions:
    get:
      description: |-
        GET /api/v1/abac/attribute-definitions
        Query params: type (user|resource|environment)
      operationId: listAttributeDefinitions
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get available attribute definitions
      tags:
      - Authorization
      x-symfony-route: api_abac_attribute_definitions
  /orgs/{orgId}/api/v1/abac/attributes:
    get:
      operationId: abacAttributesList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: List all attribute definitions
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_list
    post:
      operationId: abacAttributesCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Create a new attribute definition
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_create
  /orgs/{orgId}/api/v1/abac/attributes/{id}:
    delete:
      operationId: abacAttributesDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Delete an attribute definition
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_delete
    get:
      operationId: abacAttributesGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get a single attribute definition
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_get
    patch:
      operationId: patchAbacAttributesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update an attribute definition
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_update
    put:
      operationId: putAbacAttributesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update an attribute definition
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_update
  /orgs/{orgId}/api/v1/abac/policies:
    get:
      operationId: abacPoliciesList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: List all ABAC policies
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_list
    post:
      operationId: abacPoliciesCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Create a new ABAC policy
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_create
  /orgs/{orgId}/api/v1/abac/policies/{id}:
    delete:
      operationId: abacPoliciesDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Delete an ABAC policy
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_delete
    get:
      operationId: abacPoliciesGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get a single ABAC policy
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_get
    patch:
      operationId: patchAbacPoliciesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update an ABAC policy
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_update
    put:
      operationId: putAbacPoliciesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update an ABAC policy
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_update
  /orgs/{orgId}/api/v1/abac/policies/{id}/toggle:
    post:
      operationId: abacPoliciesToggle
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Toggle policy active status
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_toggle
  /orgs/{orgId}/api/v1/admin/agents:
    get:
      operationId: adminAgentsList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsListResponse"
          description: Paginated list of agents.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant not found.
      summary: List all agents in the tenant
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_list
    post:
      operationId: adminAgentsCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminAgentsCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsCreateResponse"
          description: Agent created. The generated credential/secret is returned
            ONCE and cannot be retrieved again.
        "400":
          description: "Missing required field: name."
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant not found.
      summary: Create a new agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_create
  /orgs/{orgId}/api/v1/admin/agents/{agentId}:
    delete:
      operationId: adminAgentsDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Agent deleted.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Delete an agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_delete
    get:
      operationId: adminAgentsGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsGetResponse"
          description: The agent record.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Get a single agent by ID or agentId
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_get
    patch:
      operationId: patchAdminAgentsUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutAdminAgentsUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutAdminAgentsUpdateResponse"
          description: Agent updated.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Update an existing agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_update
    put:
      operationId: putAdminAgentsUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutAdminAgentsUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutAdminAgentsUpdateResponse"
          description: Agent updated.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Update an existing agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_update
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/rotate-key:
    post:
      operationId: adminAgentsAgentsRotateKey
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsAgentsRotateKeyResponse"
          description: API key rotated. The new key is returned ONCE and cannot be
            retrieved again.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Rotate agent API key
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_agents_rotate_key
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/enable:
    post:
      operationId: adminAgentsAgentsEnable
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsAgentsEnableResponse"
          description: Agent enabled.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Enable agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_agents_enable
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/disable:
    post:
      operationId: adminAgentsAgentsDisable
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsAgentsDisableResponse"
          description: Agent disabled.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Disable agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_agents_disable
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/revoke-key:
    post:
      operationId: adminAgentsRevokeKey
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsRevokeKeyResponse"
          description: Agent API key revoked (nullified).
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Revoke agent API key (nullify it so it can no longer authenticate)
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_revoke_key
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/scopes:
    get:
      operationId: adminAgentsGetScopes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsGetScopesResponse"
          description: Agent scopes/capabilities.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Get agent scopes/capabilities
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_get_scopes
    put:
      operationId: adminAgentsSetScopes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminAgentsSetScopesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsSetScopesResponse"
          description: Agent scopes updated.
        "400":
          description: scopes array is required.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Update agent scopes/capabilities
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_set_scopes
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/rotate-credentials:
    post:
      operationId: adminAgentsRotateCredentials
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsRotateCredentialsResponse"
          description: Credentials rotated. The new secret is returned ONCE and cannot
            be retrieved again.
        "400":
          description: Credentials cannot be rotated for this agent (invalid identity
            type).
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Rotate agent credentials
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_rotate_credentials
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/activate:
    post:
      operationId: adminAgentsActivate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsActivateResponse"
          description: Agent activated.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Activate an agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_activate
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/deactivate:
    post:
      operationId: adminAgentsDeactivate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsDeactivateResponse"
          description: Agent deactivated.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Deactivate an agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_deactivate
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/token:
    post:
      operationId: adminAgentsGenerateToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminAgentsGenerateTokenRequest"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsGenerateTokenResponse"
          description: A generated agent token. The token value is returned ONCE.
        "400":
          description: Cannot generate token for inactive agent.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Generate a token for the agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_generate_token
  /orgs/{orgId}/api/v1/admin/audit-logs:
    get:
      operationId: adminAuditLogsList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: List audit logs for the tenant
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_list
  /orgs/{orgId}/api/v1/admin/audit-logs/{logId}:
    get:
      operationId: adminAuditLogsGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: logId
        required: true
        schema:
          pattern: \d+
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get a single audit log entry
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_get
  /orgs/{orgId}/api/v1/admin/audit-logs/stats:
    get:
      operationId: adminAuditLogsStats
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get audit log statistics
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_stats
  /orgs/{orgId}/api/v1/admin/audit-logs/actions:
    get:
      operationId: adminAuditLogsActions
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: List available audit action types for this tenant
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_actions
  /orgs/{orgId}/api/v1/admin/audit-logs/retention:
    get:
      operationId: adminAuditLogsRetention
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get audit log retention settings
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_retention
    patch:
      operationId: patchAdminAuditLogsRetentionUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update audit log retention settings
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_retention_update
    put:
      operationId: putAdminAuditLogsRetentionUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update audit log retention settings
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_retention_update
  /orgs/{orgId}/api/v1/admin/audit-logs/export:
    get:
      operationId: adminAuditLogsExport
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Export audit logs as CSV or JSON
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_export
  /orgs/{orgId}/api/v1/admin/clients:
    get:
      operationId: listClients
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: List all OAuth clients in the tenant
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_list
    post:
      operationId: createClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Create a new OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_create
  /orgs/{orgId}/api/v1/admin/clients/{clientId}:
    delete:
      operationId: deleteClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Delete an OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_delete
    get:
      operationId: getClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get a single OAuth client by ID or clientId
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_get
    patch:
      operationId: patchClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update an existing OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_update
    put:
      operationId: updateClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update an existing OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_update
  /orgs/{orgId}/api/v1/admin/clients/{clientId}/enable:
    post:
      operationId: enableClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Enable OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_clients_enable
  /orgs/{orgId}/api/v1/admin/clients/{clientId}/disable:
    post:
      operationId: disableClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Disable OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_clients_disable
  /orgs/{orgId}/api/v1/admin/clients/{clientId}/scopes:
    get:
      operationId: listClientScopes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get client scopes
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_get_scopes
    put:
      operationId: setClientScopes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Set client scopes
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_set_scopes
  /orgs/{orgId}/api/v1/admin/clients/{clientId}/rotate-secret:
    post:
      operationId: rotateClientSecret
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Rotate client secret
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_rotate_secret
  /orgs/{orgId}/api/v1/admin/email-templates:
    get:
      operationId: adminEmailTemplatesList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_list
  /orgs/{orgId}/api/v1/admin/email-templates/{type}:
    delete:
      operationId: adminEmailTemplatesDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_delete
    get:
      operationId: adminEmailTemplatesGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_get
    put:
      operationId: adminEmailTemplatesUpsert
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_upsert
  /orgs/{orgId}/api/v1/admin/email-templates/{type}/preview:
    post:
      operationId: adminEmailTemplatesPreview
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_preview
  /orgs/{orgId}/api/v1/admin/email-templates/{type}/variables:
    get:
      operationId: adminEmailTemplatesVariables
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_variables
  /orgs/{orgId}/api/v1/admin/groups:
    get:
      operationId: adminGroupsList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: List all groups in the tenant
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_list
    post:
      operationId: adminGroupsCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Create a new group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_create
  /orgs/{orgId}/api/v1/admin/groups/{groupId}:
    delete:
      operationId: adminGroupsDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Delete a group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_delete
    get:
      operationId: adminGroupsGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get a single group by ID or slug
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_get
    patch:
      operationId: patchAdminGroupsUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update an existing group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_update
    put:
      operationId: putAdminGroupsUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update an existing group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_update
  /orgs/{orgId}/api/v1/admin/groups/{groupId}/members:
    get:
      operationId: adminGroupsGetMembers
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get group members
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_get_members
    post:
      operationId: adminGroupsAddMembers
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: "Add member(s) to group — accepts {userId: UUID} or {userIds: [UUID,\
        \ ...]}"
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_add_members
  /orgs/{orgId}/api/v1/admin/groups/{groupId}/members/{userId}:
    delete:
      operationId: adminGroupsRemoveMember
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Remove member from group — userId is a UUID or email
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_remove_member
  /orgs/{orgId}/api/v1/admin/groups/{groupId}/roles:
    get:
      operationId: adminGroupsGroupsGetRoles
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get group roles
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_groups_get_roles
    post:
      operationId: adminGroupsAddRole
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Add a single role to a group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_add_role
    put:
      operationId: adminGroupsUpdateRoles
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update group roles (replaces all existing roles)
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_update_roles
  /orgs/{orgId}/api/v1/admin/groups/{groupId}/roles/{roleId}:
    delete:
      operationId: adminGroupsRemoveRole
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Remove a role from a group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_remove_role
  /orgs/{orgId}/api/v1/admin/mcp/servers:
    get:
      operationId: adminMcpServersList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Mcp"
      x-symfony-route: api_admin_mcp_servers_list
    post:
      description: |-
        Body:
        name (required) — display name
        resource_uri (required) — RFC 8707 canonical URI; must be http(s)://, no fragment
        endpoint_url (optional) — actual MCP endpoint
        description (optional)
        scopes_supported (optional) — array OR space/comma-separated string
        transport (optional) — defaults to "http_streamable"
        auth_mode (optional) — defaults to "oauth"
        token_lifetime (optional, default 3600) — clamped to [60, 86400]
      operationId: adminMcpServersCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: POST /api/v1/admin/mcp/servers
      tags:
      - "Admin: Mcp"
      x-symfony-route: api_admin_mcp_servers_create
  /orgs/{orgId}/api/v1/admin/mcp/servers/{serverId}:
    delete:
      operationId: adminMcpServersDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Mcp"
      x-symfony-route: api_admin_mcp_servers_delete
    get:
      operationId: adminMcpServersGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Mcp"
      x-symfony-route: api_admin_mcp_servers_get
  /orgs/{orgId}/api/v1/admin/organizations:
    get:
      operationId: adminOrganizationsList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_organizations_list
    post:
      operationId: adminOrganizationsCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_organizations_create
  /orgs/{orgId}/api/v1/admin/organizations/{organizationId}:
    delete:
      operationId: adminOrganizationsDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_organizations_delete
    get:
      operationId: adminOrganizationsGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_organizations_get
    patch:
      operationId: patchAdminOrganizationsUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_organizations_update
    put:
      operationId: putAdminOrganizationsUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_organizations_update
  /orgs/{orgId}/api/v1/admin/organizations/{organizationId}/members:
    get:
      operationId: adminOrgMembersList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_members_list
    post:
      operationId: adminOrgMembersAdd
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_members_add
  /orgs/{orgId}/api/v1/admin/organizations/{organizationId}/members/{userId}:
    delete:
      operationId: adminOrgMembersRemove
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_members_remove
    patch:
      operationId: patchAdminOrgMembersUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_members_update
    put:
      operationId: putAdminOrgMembersUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_members_update
  /orgs/{orgId}/api/v1/admin/organizations/{organizationId}/roles:
    get:
      operationId: adminOrgRolesList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_roles_list
    post:
      operationId: adminOrgRolesCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_roles_create
  /orgs/{orgId}/api/v1/admin/organizations/{organizationId}/roles/{roleId}:
    delete:
      operationId: adminOrgRolesDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_roles_delete
    patch:
      operationId: patchAdminOrgRolesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_roles_update
    put:
      operationId: putAdminOrgRolesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_roles_update
  /orgs/{orgId}/api/v1/admin/organizations/{organizationId}/invitations:
    get:
      operationId: adminOrgInvitationsList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_invitations_list
    post:
      operationId: adminOrgInvitationsCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_invitations_create
  /orgs/{orgId}/api/v1/admin/organizations/{organizationId}/invitations/{invId}:
    delete:
      operationId: adminOrgInvitationsRevoke
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: invId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_invitations_revoke
  /orgs/{orgId}/api/v1/admin/organizations/{organizationId}/invitations/{invId}/resend:
    post:
      operationId: adminOrgInvitationsResend
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: organizationId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: invId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      tags:
      - "Admin: Organizations"
      x-symfony-route: api_admin_org_invitations_resend
  /orgs/{orgId}/api/v1/admin/permissions:
    get:
      operationId: adminPermissionsList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: List all available permissions for the tenant
      tags:
      - "Admin: Permissions"
      x-symfony-route: api_admin_permissions_list
    post:
      operationId: adminPermissionsCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Create a custom permission for the tenant
      tags:
      - "Admin: Permissions"
      x-symfony-route: api_admin_permissions_create
  /orgs/{orgId}/api/v1/admin/permissions/{permissionId}:
    delete:
      operationId: adminPermissionsDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: permissionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Delete a custom permission
      tags:
      - "Admin: Permissions"
      x-symfony-route: api_admin_permissions_delete
    get:
      operationId: adminPermissionsGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: permissionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get a single permission
      tags:
      - "Admin: Permissions"
      x-symfony-route: api_admin_permissions_get
    patch:
      operationId: adminPermissionsUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: permissionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update a permission
      tags:
      - "Admin: Permissions"
      x-symfony-route: api_admin_permissions_update
  /orgs/{orgId}/api/v1/admin/permissions/{permissionId}/usage:
    get:
      operationId: adminPermissionsUsage
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: permissionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get permission usage (roles assigned to this permission)
      tags:
      - "Admin: Permissions"
      x-symfony-route: api_admin_permissions_usage
  /orgs/{orgId}/api/v1/admin/scopes:
    get:
      operationId: adminScopesList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: List OAuth scopes
      tags:
      - "Admin: Permissions"
      x-symfony-route: api_admin_scopes_list
    post:
      operationId: adminScopesCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Create a custom OAuth scope
      tags:
      - "Admin: Permissions"
      x-symfony-route: api_admin_scopes_create
  /orgs/{orgId}/api/v1/admin/scopes/{scopeId}:
    delete:
      operationId: adminScopesDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: scopeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Delete a custom OAuth scope
      tags:
      - "Admin: Permissions"
      x-symfony-route: api_admin_scopes_delete
  /orgs/{orgId}/api/v1/admin/roles:
    get:
      operationId: adminRolesList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: List all roles in the tenant
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_list
    post:
      operationId: adminRolesCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Create a new role
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_create
  /orgs/{orgId}/api/v1/admin/roles/{roleId}:
    delete:
      operationId: adminRolesDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Delete a role
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_delete
    get:
      operationId: adminRolesGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get a single role by ID or slug
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_get
    patch:
      operationId: patchAdminRolesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update an existing role
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_update
    put:
      operationId: putAdminRolesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update an existing role
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_update
  /orgs/{orgId}/api/v1/admin/roles/{roleId}/permissions:
    get:
      operationId: adminRolesGetPermissions
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get role permissions
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_get_permissions
    post:
      operationId: adminRolesAddPermissions
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Add permission(s) to a role
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_add_permissions
    put:
      operationId: adminRolesUpdatePermissions
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Update role permissions (replaces all)
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_update_permissions
  /orgs/{orgId}/api/v1/admin/roles/{roleId}/permissions/{permissionId}:
    delete:
      operationId: adminRolesRemovePermission
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: permissionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Remove a permission from a role
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_remove_permission
  /orgs/{orgId}/api/v1/admin/roles/{roleId}/users:
    get:
      operationId: adminRolesGetUsers
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get users assigned to a role
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_get_users
    post:
      operationId: adminRolesAddUser
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Assign a user to a role
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_add_user
  /orgs/{orgId}/api/v1/admin/roles/{roleId}/users/{userId}:
    delete:
      operationId: adminRolesRemoveUser
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Remove a user from a role
      tags:
      - "Admin: Roles"
      x-symfony-route: api_admin_roles_remove_user
  /orgs/{orgId}/api/v1/admin/sandbox/spawn:
    post:
      operationId: adminSandboxSpawn
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: |-
        POST /spawn
        Body: {"name"?: "feature-foo", "ttl_hours"?: 24}
      tags:
      - "Admin: Sandbox"
      x-symfony-route: api_admin_sandbox_spawn
  /orgs/{orgId}/api/v1/admin/sandbox:
    get:
      operationId: adminSandboxList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: |-
        GET /
        Lists the caller's active sandbox tenants (their own only).
      tags:
      - "Admin: Sandbox"
      x-symfony-route: api_admin_sandbox_list
  /orgs/{orgId}/api/v1/admin/sandbox/{sandboxSlug}/destroy:
    post:
      operationId: adminSandboxDestroy
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: sandboxSlug
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: |-
        POST /{sandboxSlug}/destroy
        Deletes the sandbox if owned by caller.
      tags:
      - "Admin: Sandbox"
      x-symfony-route: api_admin_sandbox_destroy
  /orgs/{orgId}/api/v1/admin/sessions:
    get:
      operationId: adminSessionsList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: List active sessions for the tenant
      tags:
      - "Admin: Sessions"
      x-symfony-route: api_admin_sessions_list
  /orgs/{orgId}/api/v1/admin/users/{userId}/sessions:
    delete:
      operationId: adminUserSessionsRevokeAll
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Revoke all sessions for a user
      tags:
      - "Admin: Sessions"
      x-symfony-route: api_admin_user_sessions_revoke_all
    get:
      operationId: adminUserSessionsList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Get sessions for a specific user
      tags:
      - "Admin: Sessions"
      x-symfony-route: api_admin_user_sessions_list
  /orgs/{orgId}/api/v1/admin/sessions/{sessionId}:
    delete:
      operationId: adminSessionsRevoke
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: sessionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Revoke a specific session
      tags:
      - "Admin: Sessions"
      x-symfony-route: api_admin_sessions_revoke
  /orgs/{orgId}/api/v1/admin/tokens:
    get:
      operationId: adminTokensList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: List access tokens for the tenant
      tags:
      - "Admin: Sessions"
      x-symfony-route: api_admin_tokens_list
  /orgs/{orgId}/api/v1/admin/tokens/{tokenId}:
    delete:
      operationId: adminTokensRevoke
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tokenId
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          description: ""
      summary: Revoke a token
      tags:
      - "Admin: Sessions"
      x-symfony-route: api_admin_tokens_revoke
  /orgs/{orgId}/api/v1/admin/users/{userId}/tokens:
    delete:
      operationId: adminUserTokensRevokeAll
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
[...]
