openapi: 3.0.0
info:
  contact:
    email: sdk@lumoauth.dev
    name: LumoAuth
    url: https://lumoauth.dev
  description: |
    LumoAuth REST API — authentication, authorization, agent registry,
    MCP server authorization, and tenant administration. Multi-tenant:
    most paths are scoped under `/orgs/{orgId}/api/v1/...`.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: LumoAuth API
  version: 1.0.0
servers:
- description: Production
  url: https://app.lumoauth.dev
- description: Local
  url: http://localhost:8000
security:
- BearerAuth: []
- ApiKeyAuth: []
tags:
- description: Who-am-I lookup for users + agents.
  name: Identity
- description: "Agent registry, capabilities, attestation, runtime."
  name: Agents
- description: Policy Decision Point (RBAC + ABAC + Zanzibar).
  name: Authorization
- description: "Agent-native auth — token issuance, delegation, discovery."
  name: AAuth
- description: Model Context Protocol authorization (RFC 9728).
  name: Mcp
  x-displayName: MCP
- description: Just-in-time permissions with human-in-the-loop approval.
  name: Jit
  x-displayName: JIT
- description: "OAuth 2.0/2.1 protocol endpoints — token, introspection, revocation,\
    \ PAR, CIBA, device grant, authorization, dynamic client registration."
  name: OAuth
- description: "OpenID Connect — UserInfo, session management, RP-initiated logout."
  name: OIDC
- description: Public discovery documents (/.well-known/*) and JWKS.
  name: WellKnown
- description: Shared Signals Framework — event stream configuration and verification.
  name: Ssf
  x-displayName: SSF
- description: Agent token vault — third-party connection tokens.
  name: Token Vault
- description: CRUD on users; block/unblock; password reset.
  name: "Admin: Users"
- description: "Per-user authenticators, temporary access codes, the tenant MFA policy\
    \ and the enrollment coverage report."
  name: "Admin: Mfa"
  x-displayName: "Admin: MFA"
- description: "Self-service authenticators (enroll, verify, rename, set default,\
    \ remove), recovery codes, trusted devices, and MFA challenges for sign-in and\
    \ step-up."
  name: Mfa
  x-displayName: MFA
- description: OAuth client lifecycle.
  name: "Admin: OAuth Clients"
- description: Admin-side agent registry CRUD.
  name: "Admin: Agents"
- description: Group membership management.
  name: "Admin: Groups"
- description: Role definitions + permission bindings.
  name: "Admin: Roles"
- description: Permission catalogue.
  name: "Admin: Permissions"
- description: List + revoke user sessions.
  name: "Admin: Sessions"
- description: Tenant-wide auth settings.
  name: "Admin: Settings"
- description: "Webhook CRUD, delivery log, replay."
  name: "Admin: Webhooks"
- description: B2B org and member management.
  name: "Admin: Organizations"
- description: Audit log search and export.
  name: "Admin: Audit Logs"
- description: ABAC attribute and policy management.
  name: "Admin: Abac"
  x-displayName: "Admin: ABAC"
- description: Tenant email template editor.
  name: "Admin: Email"
- description: Per-tenant social login config.
  name: "Admin: Identity Providers"
- description: Admin-side MCP server registry.
  name: "Admin: Mcp"
  x-displayName: "Admin: MCP"
- description: Ephemeral sandbox tenant lifecycle.
  name: "Admin: Sandbox"
paths:
  /orgs/{orgId}/api/v1/aauth/agent/token:
    post:
      description: |-
        Per Section 9: The agent token endpoint is the auth server's endpoint
        agents use to request auth tokens.

        Required HTTP signature covering: @method, @target-uri, content-type,
        content-digest, authorization
      operationId: issueAgentToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueAgentTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueAgentTokenResponse"
          description: "An auth token, or a request token + authorization URI when\
            \ user consent is needed."
        "400":
          description: "Invalid request (missing/unknown request_type, invalid body,\
            \ invalid resource/redirect)."
        "401":
          description: "Agent-Auth challenge — missing/invalid Agent-Auth header,\
            \ signature, or agent token."
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Agent Token Endpoint
      tags:
      - AAuth
      x-symfony-route: aauth_agent_token
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/agent/auth:
    get:
      description: |-
        Per Section 9.4: The auth server redirects the user's browser
        to its authorization page.
      operationId: authorizeAgent
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "302":
          description: Redirect to the tenant portal AAuth consent page for the given
            request_token.
          headers:
            Location:
              description: "/orgs/{orgId}/portal/aauth/authorize?request_token=…"
              explode: false
              schema:
                type: string
              style: simple
        "400":
          description: Missing request_token query parameter.
      security:
      - AAuthSigned: []
      summary: Agent Auth Endpoint - redirects to user consent page.
      tags:
      - AAuth
      x-symfony-route: aauth_agent_auth
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/agent/issue:
    post:
      description: |-
        Called by the agent server when a delegate needs to act on its behalf.

        This endpoint requires the agent server to authenticate itself
        (via HTTP signature with its registered key).
      operationId: issueDelegateToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueDelegateTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueDelegateTokenResponse"
          description: The issued agent token and its metadata.
        "400":
          description: "Invalid JSON body, or missing delegate_sub / delegate_public_key."
        "401":
          description: Agent server HTTP-message-signature verification failed.
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Issue an agent token to a delegate.
      tags:
      - AAuth
      x-symfony-route: aauth_agent_issue
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/token/revoke:
    post:
      operationId: revokeAgentToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeAgentTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeAgentTokenResponse"
          description: Revocation acknowledged (always 200 — existence of the token
            is not disclosed).
        "400":
          description: Missing token parameter.
        "401":
          description: Agent-Auth challenge — authentication/signature verification
            failed.
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Revoke an auth token or refresh token.
      tags:
      - AAuth
      x-symfony-route: aauth_token_revoke
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/.well-known/aauth-issuer:
    get:
      operationId: getIssuerMetadata
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIssuerMetadataResponse"
          description: AAuth auth-server metadata document (Section 8.2).
      security: []
      summary: |-
        Auth Server Metadata (Section 8.2)
        Published at /.well-known/aauth-issuer for each tenant.
      tags:
      - AAuth
      x-symfony-route: aauth_issuer_metadata
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/jwks.json:
    get:
      operationId: getIssuerJwks
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwksResponse"
          description: The auth server JWKS (public keys used to verify issued JWTs).
      security: []
      summary: Auth Server JWKS endpoint for AAuth.
      tags:
      - AAuth
      x-symfony-route: aauth_issuer_jwks
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/.well-known/aauth-agent:
    get:
      operationId: getAgentMetadata
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Metadata documents for all active agents of this tenant (Section
            8.1).
      security: []
      summary: |-
        Agent Metadata (Section 8.1)
        Published at /.well-known/aauth-agent for registered agents.
      tags:
      - AAuth
      x-symfony-route: aauth_agent_metadata
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/agents/{agentId}/metadata:
    get:
      operationId: getAgentMetadataById
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Metadata document for a single active agent.
        "404":
          description: Agent not found.
      security: []
      summary: Individual Agent Metadata
      tags:
      - AAuth
      x-symfony-route: aauth_agent_metadata_single
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/agents/{agentId}/jwks.json:
    get:
      operationId: getAgentJwks
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwksResponse"
          description: The agent JWKS.
        "404":
          description: Agent not found.
      security: []
      summary: Agent JWKS endpoint
      tags:
      - AAuth
      x-symfony-route: aauth_agent_jwks
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/.well-known/aauth-resource:
    get:
      operationId: getResourceMetadata
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: object
                type: array
          description: Metadata documents for all active resources of this tenant
            (Section 8.3).
      security: []
      summary: Resource Metadata (Section 8.3)
      tags:
      - AAuth
      x-symfony-route: aauth_resource_metadata
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/resources/{resourceId}/metadata:
    get:
      operationId: getResourceMetadataById
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Metadata document for a single active resource.
        "404":
          description: Resource not found.
      security: []
      summary: Individual Resource Metadata
      tags:
      - AAuth
      x-symfony-route: aauth_resource_metadata_single
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/resources/{resourceId}/jwks.json:
    get:
      operationId: getResourceJwks
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwksResponse"
          description: The resource JWKS.
        "404":
          description: Resource not found.
      security: []
      summary: Resource JWKS endpoint
      tags:
      - AAuth
      x-symfony-route: aauth_resource_jwks
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/agent/platform-token:
    post:
      operationId: issuePlatformToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssuePlatformTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssuePlatformTokenResponse"
          description: "A short-lived, DPoP-bound core-agent access token accepted\
            \ by JIT, the token vault, and the authz PDP. It carries cnf.jkt (thumbprint\
            \ of the agent key) and must be presented with a DPoP proof from that\
            \ key."
        "400":
          description: Invalid exchange request (grant_type / subject_token).
        "401":
          description: "The AAuth token is invalid, expired, or revoked, or the RFC\
            \ 9421 request signature is missing/invalid/replayed."
        "403":
          description: Denied by a conditional access policy.
        "429":
          description: Rate limit exceeded (per IP or per agent).
      security:
      - AAuthSigned: []
      tags:
      - AAuth
      x-symfony-route: aauth_agent_platform_token
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/resource/token:
    post:
      description: |-
        Called by a registered resource to create a resource token
        binding an agent's request to the resource's identity.

        The resource authenticates via HTTP Message Signature using
        its registered key.
      operationId: issueResourceToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueResourceTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueResourceTokenResponse"
          description: A resource token binding the agent request to the resource
            identity.
        "400":
          description: "Invalid JSON body, missing agent/agent_jkt, or unsupported\
            \ scope."
        "401":
          description: Resource authentication (HTTP message signature) failed.
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Resource Token Endpoint (Section 6)
      tags:
      - AAuth
      x-symfony-route: aauth_resource_token
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/resource/token/verify:
    post:
      description: A convenience endpoint—resources can also validate locally.
      operationId: verifyResourceToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyResourceTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResourceTokenResponse"
          description: Introspection result; active=false with an error when the token
            is invalid.
        "400":
          description: "Missing resource_token, agent, or agent_jkt."
        "401":
          description: Resource authentication failed.
        "403":
          description: Resource token is not valid for the authenticated resource.
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Resource Token Verification (for resources to validate their own tokens).
      tags:
      - AAuth
      x-symfony-route: aauth_resource_token_verify
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/aauth/auth/token/verify:
    post:
      description: |-
        Resources call this to validate an auth token presented by an agent.
        Per Section 7.7, the resource validates:
          1. JWT signature from trusted auth server
          2. aud matches resource identifier
          3. exp is in the future
          4. HTTP Message Signature on the agent's incoming request matches the
             key whose thumbprint is `cnf_jkt` in the response.

        IMPORTANT — proof-of-possession is mandatory. A response of
        `{"active": true, ...}` from this endpoint means the JWT is well-formed
        and bound to the named resource; it does NOT mean the caller is the
        legitimate holder of the token. The resource MUST independently verify
        that the HTTP Message Signature on the agent's request was produced with
        the key that hashes to `cnf_jkt`. A token without this PoP check is
        effectively a bearer token and can be replayed by anyone who observes
        it. The response includes `pop_required: true` to surface this contract
        to integrators who only inspect `active`.
      operationId: verifyAuthToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyAuthTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyAuthTokenResponse"
          description: Introspection result. active=true does NOT imply PoP — the
            caller MUST verify the HTTP message signature against cnf_jkt.
        "400":
          description: Missing auth_token or resource.
        "401":
          description: Resource authentication failed.
        "403":
          description: Requested resource does not match the authenticated resource.
        "429":
          description: Rate limit exceeded.
      security:
      - AAuthSigned: []
      summary: Auth Token Verification endpoint.
      tags:
      - AAuth
      x-symfony-route: aauth_auth_token_verify
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/check:
    post:
      description: |-
        POST /api/v1/abac/check
        Body: {
          resourceType: string,
          action: string,
          resourceId?: string,
          environment?: { ip?: string, userAgent?: string, ... }
        }

        Returns: { allowed: boolean, reason: string, matchedPolicies: [...] }
      operationId: checkAbac
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckAbacResponse"
          description: Decision
      summary: Evaluate an ABAC policy decision for the caller
      tags:
      - Authorization
      x-symfony-route: api_abac_check
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/check-bulk:
    post:
      description: |-
        POST /api/v1/abac/check-bulk
        Body: {
          checks: [
            { resourceType: string, action: string, resourceId?: string },
            ...
          ],
          environment?: { ... }
        }
      operationId: checkAbacBulk
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckAbacBulkResponse"
          description: Per-check decisions in request order
      summary: Evaluate up to 100 ABAC checks for the caller in one call
      tags:
      - Authorization
      x-symfony-route: api_abac_check_bulk
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/my-attributes:
    get:
      description: GET /api/v1/abac/my-attributes
      operationId: getMyAttributes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMyAttributesResponse"
          description: Built-in identity attributes plus trait_<key> entries and tenant-defined
            custom attributes
      summary: The caller's ABAC subject attributes
      tags:
      - Authorization
      x-symfony-route: api_abac_my_attributes
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/resources/{resourceType}/{resourceId}/attributes:
    get:
      description: "GET /api/v1/abac/resources/{resourceType}/{resourceId}/attributes"
      operationId: getResourceAttributes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetResourceAttributesResponse"
          description: Resource attributes keyed by attribute slug
      summary: Attributes stored for a resource
      tags:
      - Authorization
      x-symfony-route: api_abac_resource_attributes
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/resources/{resourceType}/{resourceId}/attributes/{attributeSlug}:
    put:
      description: |-
        PUT /api/v1/abac/resources/{resourceType}/{resourceId}/attributes/{attributeSlug}
        Body: { value: any }
      operationId: setResourceAttribute
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceType
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: resourceId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: attributeSlug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetResourceAttributeResponse"
          description: Stored attribute
      summary: Set a resource attribute
      tags:
      - Authorization
      x-symfony-route: api_abac_set_resource_attribute
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/users/{userId}/attributes/{attributeSlug}:
    put:
      description: |-
        PUT /api/v1/abac/users/{userId}/attributes/{attributeSlug}
        Body: { value: any }
      operationId: setUserAttribute
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: attributeSlug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetUserAttributeResponse"
          description: Stored attribute
      summary: Set a user attribute
      tags:
      - Authorization
      x-symfony-route: api_abac_set_user_attribute
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/attribute-definitions:
    get:
      description: |-
        GET /api/v1/abac/attribute-definitions
        Query params: type (user|resource|environment)
      operationId: listAttributeDefinitions
      parameters:
      - explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - user
          - resource
          - environment
          type: string
        style: form
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAttributeDefinitionsResponse"
          description: Definitions (tenant-defined and global)
      summary: Attribute definitions available to the organization
      tags:
      - Authorization
      x-symfony-route: api_abac_attribute_definitions
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/attributes:
    get:
      operationId: abacAttributesList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbacAttributesListResponse"
          description: Paginated attribute definitions
      summary: List attribute definitions
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_list
      x-accepts:
      - application/json
    post:
      operationId: abacAttributesCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbacAttributesCreateResponse"
          description: Created
        "409":
          description: An attribute with this slug already exists
      summary: Create an attribute definition
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_create
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/attributes/{id}:
    delete:
      operationId: abacAttributesDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Deleted
        "403":
          description: System attribute definitions cannot be deleted
        "404":
          description: Attribute definition not found
      summary: Delete an attribute definition
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_delete
      x-accepts:
      - application/json
    get:
      operationId: abacAttributesGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbacAttributesGetResponse"
          description: Attribute definition
        "404":
          description: Attribute definition not found
      summary: Get an attribute definition
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_get
      x-accepts:
      - application/json
    patch:
      operationId: patchAbacAttributesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutAbacAttributesUpdateResponse"
          description: Updated
        "403":
          description: System attribute definitions cannot be modified
        "404":
          description: Attribute definition not found
      summary: Partially update an attribute definition
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_update
      x-accepts:
      - application/json
    put:
      operationId: putAbacAttributesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutAbacAttributesUpdateResponse"
          description: Updated
        "403":
          description: System attribute definitions cannot be modified
        "404":
          description: Attribute definition not found
      summary: Update an attribute definition
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_attributes_update
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/policies:
    get:
      operationId: abacPoliciesList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbacPoliciesListResponse"
          description: Paginated policies
      summary: List ABAC policies
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_list
      x-accepts:
      - application/json
    post:
      operationId: abacPoliciesCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbacPoliciesCreateResponse"
          description: Created
        "400":
          description: Invalid effect or policy conditions
        "409":
          description: A policy with this slug already exists
      summary: Create an ABAC policy
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_create
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/policies/{id}:
    delete:
      operationId: abacPoliciesDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Deleted
        "403":
          description: System policies cannot be deleted
        "404":
          description: Policy not found
      summary: Delete an ABAC policy
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_delete
      x-accepts:
      - application/json
    get:
      operationId: abacPoliciesGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbacPoliciesGetResponse"
          description: Policy
        "404":
          description: Policy not found
      summary: Get an ABAC policy
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_get
      x-accepts:
      - application/json
    patch:
      operationId: patchAbacPoliciesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutAbacPoliciesUpdateResponse"
          description: Updated
        "403":
          description: System policies cannot be modified
        "404":
          description: Policy not found
      summary: Partially update an ABAC policy
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_update
      x-accepts:
      - application/json
    put:
      operationId: putAbacPoliciesUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutAbacPoliciesUpdateResponse"
          description: Updated
        "403":
          description: System policies cannot be modified
        "404":
          description: Policy not found
      summary: Update an ABAC policy
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_update
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/abac/policies/{id}/toggle:
    post:
      operationId: abacPoliciesToggle
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AbacPoliciesToggleResponse"
          description: Toggled policy
        "403":
          description: System policies cannot be modified
        "404":
          description: Policy not found
      summary: Toggle a policy between active and inactive
      tags:
      - "Admin: Abac"
      x-symfony-route: api_abac_policies_toggle
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/agents:
    get:
      operationId: adminAgentsList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsListResponse"
          description: Paginated list of agents.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant not found.
      summary: List all agents in the tenant
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_list
      x-accepts:
      - application/json
    post:
      operationId: adminAgentsCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminAgentsCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsCreateResponse"
          description: Agent created. The generated credential/secret is returned
            ONCE and cannot be retrieved again.
        "400":
          description: "Missing required field: name."
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant not found.
      summary: Create a new agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_create
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/agents/{agentId}:
    delete:
      operationId: adminAgentsDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsDeleteResponse"
          description: Agent deleted.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Delete an agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_delete
      x-accepts:
      - application/json
    get:
      operationId: adminAgentsGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsGetResponse"
          description: The agent record.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Get a single agent by ID or agentId
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_get
      x-accepts:
      - application/json
    patch:
      operationId: patchAdminAgentsUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutAdminAgentsUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutAdminAgentsUpdateResponse"
          description: Agent updated.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Update an existing agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_update
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      operationId: putAdminAgentsUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutAdminAgentsUpdateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutAdminAgentsUpdateResponse"
          description: Agent updated.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Update an existing agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_update
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/rotate-key:
    post:
      operationId: adminAgentsAgentsRotateKey
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsAgentsRotateKeyResponse"
          description: API key rotated. The new key is returned ONCE and cannot be
            retrieved again.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Rotate agent API key
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_agents_rotate_key
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/enable:
    post:
      operationId: adminAgentsAgentsEnable
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsAgentsEnableResponse"
          description: Agent enabled.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Enable agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_agents_enable
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/disable:
    post:
      operationId: adminAgentsAgentsDisable
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsAgentsDisableResponse"
          description: Agent disabled.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Disable agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_agents_disable
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/revoke-key:
    post:
      operationId: adminAgentsRevokeKey
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsRevokeKeyResponse"
          description: Agent API key revoked (nullified).
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Revoke agent API key (nullify it so it can no longer authenticate)
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_revoke_key
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/scopes:
    get:
      operationId: adminAgentsGetScopes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsGetScopesResponse"
          description: Agent scopes/capabilities.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Get agent scopes/capabilities
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_get_scopes
      x-accepts:
      - application/json
    put:
      operationId: adminAgentsSetScopes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminAgentsSetScopesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsSetScopesResponse"
          description: Agent scopes updated.
        "400":
          description: scopes array is required.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Update agent scopes/capabilities
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_set_scopes
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/rotate-credentials:
    post:
      operationId: adminAgentsRotateCredentials
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsRotateCredentialsResponse"
          description: Credentials rotated. The new secret is returned ONCE and cannot
            be retrieved again.
        "400":
          description: Credentials cannot be rotated for this agent (invalid identity
            type).
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Rotate agent credentials
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_rotate_credentials
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/activate:
    post:
      operationId: adminAgentsActivate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsActivateResponse"
          description: Agent activated.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Activate an agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_activate
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/deactivate:
    post:
      operationId: adminAgentsDeactivate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsDeactivateResponse"
          description: Agent deactivated.
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Deactivate an agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_deactivate
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/agents/{agentId}/token:
    post:
      operationId: adminAgentsGenerateToken
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: agentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminAgentsGenerateTokenRequest"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsGenerateTokenResponse"
          description: A generated agent token. The token value is returned ONCE.
        "400":
          description: "Inactive agent, or requested scopes outside the agent's capabilities."
        "401":
          description: Authentication required.
        "403":
          description: Admin privileges required.
        "404":
          description: Tenant or agent not found.
      summary: Generate a token for the agent
      tags:
      - "Admin: Agents"
      x-symfony-route: api_admin_agents_generate_token
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/audit-logs:
    get:
      operationId: adminAuditLogsList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAuditLogsListResponse"
          description: Audit log entries (summary fields only)
      summary: List audit log entries
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_list
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/audit-logs/{logId}:
    get:
      operationId: adminAuditLogsGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: logId
        required: true
        schema:
          pattern: \d+
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAuditLogsGetResponse"
          description: Audit log entry (detailed)
        "404":
          description: Audit log not found
      summary: Get an audit log entry
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_get
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/audit-logs/stats:
    get:
      operationId: adminAuditLogsStats
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAuditLogsStatsResponse"
          description: Statistics
      summary: "Audit log statistics for a period (default: last 30 days)"
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_stats
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/audit-logs/actions:
    get:
      operationId: adminAuditLogsActions
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAuditLogsActionsResponse"
          description: Action names
      summary: List the distinct audit action types recorded for the tenant
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_actions
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/audit-logs/retention:
    get:
      operationId: adminAuditLogsRetention
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAuditLogsRetentionResponse"
          description: Retention settings
      summary: Get audit log retention settings
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_retention
      x-accepts:
      - application/json
    patch:
      operationId: patchAdminAuditLogsRetentionUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAuditLogsRetentionResponse"
          description: Updated retention settings
      summary: Update audit log retention settings
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_retention_update
      x-accepts:
      - application/json
    put:
      operationId: putAdminAuditLogsRetentionUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAuditLogsRetentionResponse"
          description: Updated retention settings
      summary: Update audit log retention settings
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_retention_update
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/audit-logs/export:
    get:
      operationId: adminAuditLogsExport
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/csv:
              schema:
                type: string
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAuditLogsExportResponse"
          description: "Download (Content-Disposition: attachment). JSON when ?format=json,\
            \ otherwise CSV; at most 10000 rows."
      summary: Export audit logs as CSV (default) or JSON
      tags:
      - "Admin: Audit Logs"
      x-symfony-route: api_admin_audit_logs_export
      x-accepts:
      - application/json
      - text/csv
  /orgs/{orgId}/api/v1/admin/clients:
    get:
      operationId: listClients
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClientsResponse"
          description: OAuth clients (summary fields only)
      summary: List OAuth clients
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_list
      x-accepts:
      - application/json
    post:
      operationId: createClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateClientResponse"
          description: Created — the plaintext secret is included once and never shown
            again
      summary: Create an OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_create
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/clients/{clientId}:
    delete:
      operationId: deleteClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Deleted
        "404":
          description: OAuth client not found
      summary: Delete an OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_delete
      x-accepts:
      - application/json
    get:
      operationId: getClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetClientResponse"
          description: OAuth client (detailed)
        "404":
          description: OAuth client not found
      summary: Get an OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_get
      x-accepts:
      - application/json
    patch:
      operationId: patchClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateClientResponse"
          description: Updated OAuth client (detailed)
        "404":
          description: OAuth client not found
      summary: Update an OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_update
      x-accepts:
      - application/json
    put:
      operationId: updateClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateClientResponse"
          description: Updated OAuth client (detailed)
        "404":
          description: OAuth client not found
      summary: Replace an OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_update
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/clients/{clientId}/enable:
    post:
      operationId: enableClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateClientResponse"
          description: Client enabled (summary fields only)
        "404":
          description: Client not found
      summary: Enable an OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_clients_enable
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/clients/{clientId}/disable:
    post:
      operationId: disableClient
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateClientResponse"
          description: Client disabled (summary fields only)
        "404":
          description: Client not found
      summary: Disable an OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_clients_disable
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/clients/{clientId}/scopes:
    get:
      operationId: listClientScopes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListClientScopesResponse"
          description: Scope names
        "404":
          description: OAuth client not found
      summary: List the scopes granted to an OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_get_scopes
      x-accepts:
      - application/json
    put:
      operationId: setClientScopes
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetClientScopesResponse"
          description: Updated scope names
        "404":
          description: OAuth client not found
      summary: Replace the scopes granted to an OAuth client
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_set_scopes
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/clients/{clientId}/rotate-secret:
    post:
      operationId: rotateClientSecret
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: clientId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RotateClientSecretResponse"
          description: Rotated — the new plaintext secret is included once and never
            shown again
        "404":
          description: OAuth client not found
      summary: Rotate an OAuth client secret
      tags:
      - "Admin: OAuth Clients"
      x-symfony-route: api_admin_clients_rotate_secret
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/email-templates:
    get:
      operationId: adminEmailTemplatesList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminEmailTemplatesListResponse"
          description: Templates without body_html; `email_templates` duplicates `data`
      summary: List every email template type with its current (custom or built-in)
        template
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_list
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/email-templates/{type}:
    delete:
      operationId: adminEmailTemplatesDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Reverted to default
        "404":
          description: "Unknown template type, or no custom template exists"
      summary: Remove the custom email template so the built-in default is used
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_delete
      x-accepts:
      - application/json
    get:
      operationId: adminEmailTemplatesGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailTemplate"
          description: Template including body_html
        "404":
          description: Unknown template type
      summary: Get an email template (custom or built-in default)
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_get
      x-accepts:
      - application/json
    put:
      operationId: adminEmailTemplatesUpsert
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailTemplate"
          description: Saved template including body_html
        "404":
          description: Unknown template type
        "422":
          description: Validation failed
      summary: Create or replace the custom email template for a type
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_upsert
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/email-templates/{type}/preview:
    post:
      operationId: adminEmailTemplatesPreview
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminEmailTemplatesPreviewResponse"
          description: Rendered preview
        "404":
          description: Unknown template type
      summary: Render an email template with sample data
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_preview
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/email-templates/{type}/variables:
    get:
      operationId: adminEmailTemplatesVariables
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminEmailTemplatesVariablesResponse"
          description: Placeholder to description map
        "404":
          description: Unknown template type
      summary: List the placeholders available to an email template type
      tags:
      - "Admin: Email"
      x-symfony-route: api_admin_email_templates_variables
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/groups:
    get:
      operationId: adminGroupsList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminGroupsListResponse"
          description: Groups
      summary: List all groups in the tenant
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_list
      x-accepts:
      - application/json
    post:
      operationId: adminGroupsCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminGroupsCreateResponse"
          description: Created group
      summary: Create a new group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_create
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/groups/{groupId}:
    delete:
      operationId: adminGroupsDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Deleted
      summary: Delete a group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_delete
      x-accepts:
      - application/json
    get:
      operationId: adminGroupsGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminGroupsGetResponse"
          description: Group
      summary: Get a single group by ID or slug
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_get
      x-accepts:
      - application/json
    patch:
      operationId: patchAdminGroupsUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminGroupsCreateResponse"
          description: Updated group
      summary: Update an existing group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_update
      x-accepts:
      - application/json
    put:
      operationId: putAdminGroupsUpdate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminGroupsCreateResponse"
          description: Updated group
      summary: Update an existing group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_update
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/groups/{groupId}/members:
    get:
      operationId: adminGroupsGetMembers
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminGroupsGetMembersResponse"
          description: Group members
      summary: Get group members
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_get_members
      x-accepts:
      - application/json
    post:
      operationId: adminGroupsAddMembers
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminGroupsCreateResponse"
          description: Updated group; message reports how many members were added
      summary: Add member(s) to group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_add_members
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/groups/{groupId}/members/{userId}:
    delete:
      operationId: adminGroupsRemoveMember
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Removed
      summary: Remove member from group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_remove_member
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/groups/{groupId}/roles:
    get:
      operationId: adminGroupsGroupsGetRoles
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminGroupsGroupsGetRolesResponse"
          description: Group roles
      summary: Get group roles
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_groups_get_roles
      x-accepts:
      - application/json
    post:
      operationId: adminGroupsAddRole
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Added
      summary: Add a single role to a group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_add_role
      x-accepts:
      - application/json
    put:
      operationId: adminGroupsUpdateRoles
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminGroupsCreateResponse"
          description: Updated group
      summary: Update group roles (replaces all existing roles)
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_update_roles
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/groups/{groupId}/roles/{roleId}:
    delete:
      operationId: adminGroupsRemoveRole
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: Removed
      summary: Remove a role from a group
      tags:
      - "Admin: Groups"
      x-symfony-route: api_admin_groups_remove_role
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/users/{userId}/identities:
    get:
      description: "SAML (IdP + NameID), LDAP (directory + DN), and social / OIDC\
        \ provider links. A SAML link with `legacy: true` stores a bare NameID and\
        \ is refused at sign-in while the organization has more than one SAML IdP."
      operationId: adminIdentitiesList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminIdentitiesListResponse"
          description: Links
        "404":
          description: User not found
      summary: List a user's federated identity links
      tags:
      - "Admin: Users"
      x-symfony-route: api_admin_identities_list
      x-accepts:
      - application/json
    post:
      description: "Sets (or replaces) the user's SAML binding (`idp_id` + `name_id`)\
        \ or LDAP binding (`ldap_config_id` + `dn`; omit `dn` to look the entry up\
        \ in the directory by the user's email / username). Refused with 409 when\
        \ another user already holds that identity, or when the user is linked to\
        \ a different federated source (unlink it first). Revokes the user's sessions\
        \ and tokens, notifies the user and is audited as identity.link.created. Signed-in\
        \ admins must have passed MFA in the last 10 minutes (send X-MFA-Challenge\
        \ with an approved step-up challenge when calling with a user token)."
      operationId: adminIdentitiesLink
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminIdentitiesLinkRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsGetResponse"
          description: Linked
        "403":
          description: "Actor does not outrank the user, or step_up_required"
        "404":
          description: "User, IdP or directory not found"
        "409":
          description: identity_conflict
        "422":
          description: invalid_identity / directory_lookup_failed
      summary: Link a SAML or LDAP identity to a user
      tags:
      - "Admin: Users"
      x-symfony-route: api_admin_identities_link
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/users/{userId}/identities/{type}:
    delete:
      description: "Removes the binding of the given type (`saml`, `ldap` or `social`).\
        \ Revokes the user's sessions and tokens, notifies the user and is audited\
        \ as identity.link.removed. Unlinking LDAP also clears LDAP-only. Same step-up\
        \ rule as linking."
      operationId: adminIdentitiesUnlink
      parameters:
      - explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - saml
          - ldap
          - social
          type: string
        style: simple
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminAgentsGetResponse"
          description: Unlinked; returns the removed binding
        "403":
          description: "Actor does not outrank the user, or step_up_required"
        "404":
          description: "User not found, or no link of that type"
        "422":
          description: Unknown type
      summary: "Unlink a user's SAML, LDAP or social identity"
      tags:
      - "Admin: Users"
      x-symfony-route: api_admin_identities_unlink
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/identities/legacy-saml:
    get:
      description: "Users still bound by a bare NameID (from before SAML links were\
        \ scoped to their IdP). While the organization has more than one SAML IdP\
        \ (`ambiguous: true`) these users are refused at SAML sign-in until relinked.\
        \ Each user lists the IdPs whose allowed email domains claim their address;\
        \ `suggested_idp_id` is set when exactly one does. Filter with `idp_id`."
      operationId: adminIdentitiesLegacySamlReport
      parameters:
      - explode: true
        in: query
        name: idp_id
        required: false
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminIdentitiesLegacySamlReportResponse"
          description: Report
        "404":
          description: IdP not found
      summary: Legacy SAML bindings report
      tags:
      - "Admin: Users"
      x-symfony-route: api_admin_identities_legacy_saml_report
      x-accepts:
      - application/json
    post:
      description: "Rebinds legacy bare-NameID users to `idp_id`, keeping their NameID:\
        \ either `user_ids`, or every legacy user whose email domain the IdP's allowed\
        \ email domains claim (`all_matching_domains: true`). Users the caller does\
        \ not outrank, or whose NameID is already linked at that IdP, are skipped.\
        \ `dry_run` (default true) only reports what would change. A real run revokes\
        \ each relinked user's sessions, notifies them and is audited (identity.link.created\
        \ per user, identity.link.bulk_relinked once); signed-in admins need fresh\
        \ MFA."
      operationId: adminIdentitiesLegacySamlRelink
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdminIdentitiesLegacySamlRelinkRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminIdentitiesLegacySamlRelinkResponse"
          description: Plan (dry run) or result
        "403":
          description: step_up_required
        "404":
          description: IdP not found
        "422":
          description: "Neither user_ids nor all_matching_domains given, or the IdP\
            \ has no allowed email domains"
      summary: Relink legacy SAML users to an IdP
      tags:
      - "Admin: Users"
      x-symfony-route: api_admin_identities_legacy_saml_relink
      x-content-type: application/json
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/mcp/servers:
    get:
      operationId: adminMcpServersList
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminMcpServersListResponse"
          description: MCP servers
      summary: List MCP servers
      tags:
      - "Admin: Mcp"
      x-symfony-route: api_admin_mcp_servers_list
      x-accepts:
      - application/json
    post:
      description: |-
        Body:
        name (required) — display name
        resource_uri (required) — RFC 8707 canonical URI; must be http(s)://, no fragment
        endpoint_url (optional) — actual MCP endpoint
        description (optional)
        scopes_supported (optional) — array OR space/comma-separated string
        transport (optional) — defaults to "http_streamable"
        auth_mode (optional) — defaults to "oauth"
        token_lifetime (optional, default 3600) — clamped to [60, 86400]
        allowed_client_ids (optional) — array of this organization's OAuth client ids;
            unknown ids are a 422 (never persisted as policy)
        require_pkce (optional, default true)
        require_resource_param (optional, default true)
        require_dpop (optional, default false) — RFC 9449 sender-constrained tokens only
      operationId: adminMcpServersCreate
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminMcpServersCreateResponse"
          description: MCP server created
        "409":
          description: An MCP server with this resource_uri already exists
        "422":
          description: validation_error
      summary: Register an MCP server
      tags:
      - "Admin: Mcp"
      x-symfony-route: api_admin_mcp_servers_create
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/mcp/servers/{serverId}:
    delete:
      operationId: adminMcpServersDelete
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
          description: MCP server deleted
        "404":
          description: MCP server not found
      summary: Delete an MCP server
      tags:
      - "Admin: Mcp"
      x-symfony-route: api_admin_mcp_servers_delete
      x-accepts:
      - application/json
    get:
      operationId: adminMcpServersGet
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: serverId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminMcpServersGetResponse"
          description: MCP server
        "404":
          description: MCP server not found
      summary: Get an MCP server
      tags:
      - "Admin: Mcp"
      x-symfony-route: api_admin_mcp_servers_get
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/users/{userId}/authenticators:
    get:
      description: "Every enrolled authenticator (passkeys, push devices, authenticator\
        \ apps, phone numbers, email codes, recovery codes) with tier, state and usage.\
        \ Secrets are never returned."
      operationId: listUserAuthenticators
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUserAuthenticatorsResponse"
          description: Authenticators
        "404":
          description: User not found
      summary: List a user's authenticators
      tags:
      - "Admin: Mfa"
      x-symfony-route: api_admin_mfa_user_authenticators_list
      x-accepts:
      - application/json
  /orgs/{orgId}/api/v1/admin/users/{userId}/authenticators/{authenticatorId}:
    delete:
      description: "Revokes a single authenticator (e.g. a lost phone). Trusted devices\
        \ are revoked and the user is notified. Does not bypass the tenant MFA requirement:\
        \ the user is prompted to enroll again at next sign-in."
      operationId: deleteUserAuthenticator
      parameters:
      - explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: authenticatorId
        required: true
        schema:
          pattern: "[a-z_]+:\\d+"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteUserAuthenticatorResponse"
          description: Removed
        "404":
          description: User or authenticator not found
      summary: Remove one of a user's authenticators
      tags:
      - "Admin: Mfa"
      x-symfony-route: api_admin_mfa_user_authenticators_delete
      x-accepts:
      - application/json
[...]
